<div>
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>
        Overall/<br>Gender
      </th>
      <th>Name</th>
      <th>Category</th>
      <th>From</th>
      <th>Course</th>
      <th class="text-center">Year</th>
      <th class="text-center">Place</th>
      <th class="text-right"><%= @presenter.time_header_text %></th>
    </tr>
    </thead>
    <tbody id="best_effort_segments">
    <%= render partial: "best_effort_segment", collection: @presenter.filtered_segments %>
    </tbody>
  </table>

  <%= render "shared/pager", next_page_url: @presenter.next_page_url %>
</div>
