<%# locals: (connect_service_presenter:) %>

<div class="card" id="event_group_card">
  <div class="card-header">
    <h4 class="card-title mt-1"><%= "Event Group: #{connect_service_presenter.event_group_name}" %></h4>
  </div>
  <div class="card-body">
    <p>Connect the Events below to the corresponding Race Editions.</p>
  </div>
</div>
