<%# locals: (event_group_setup_presenter:) %>

<% content_for :title do %>
  <% "OpenSplitTime: Event Group - Connect Service = Rattlesnake Ramble - #{event_group_setup_presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: event_group_setup_presenter.event_group %>
<%= render "event_groups/setup_header", presenter: event_group_setup_presenter, breadcrumbs: ["Connect Service", "Rattlesnake Ramble"] %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold mt-1"><%= "Connect to Rattlesnake Ramble" %></h4>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</article>
