---
http_interactions:
- request:
    method: get
    uri: https://runsignup.com/Rest/race/85675?api_key=1234&api_secret=2345&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{
      "race":{
        "race_id":85675,
        "name":"Running Up For Air",
        "last_date":"02\/25\/2022",
        "last_end_date":"02\/26\/2022",
        "next_date":"02\/10\/2023",
        "next_end_date":"02\/11\/2023",
        "is_draft_race":"F",
        "is_private_race":"F",
        "is_registration_open":"T",
        "created":"1\/20\/2020 16:55",
        "last_modified":"2\/8\/2023 21:39",
        "description":"<p>A Race<\/p>",
        "events":[
          {
            "event_id":661702,
            "race_event_days_id":243601,
            "name":"24 hr",
            "details":null,
            "start_time":"2\/10\/2023 18:00",
            "end_time":"2\/11\/2023 18:00"
          },
          {
            "event_id":661703,
            "race_event_days_id":243601,
            "name":"12 hr",
            "details":null,
            "start_time":"2\/11\/2023 06:00",
            "end_time":"2\/11\/2023 18:00"
          },
          {
            "event_id":661817,
            "race_event_days_id":243601,
            "name":"6 hr",
            "details":null,
            "start_time":"2\/10\/2023 18:00",
            "end_time":"2\/11\/2023 00:00"
          }
        ]}}'
  recorded_at: Thu, 27 Feb 2025 15:22:14 GMT
recorded_with: VCR 4.0.0
