<!--Requires local variables arrivals, time_zone, multiple_events, and title-->

<div class="card">
  <h3 class="card-header"><strong><%= title %></strong></h3>
  <div class="card">
    <div class="card-body">
      <% if arrivals.present? %>
        <% arrivals.each do |arrival| %>
          <div class="card">
            <button class="btn btn-primary btn-lg text-lg-left" data-action="click->finish-line#lookup keyup->finish-line#lookup" data-bib-number="<%= arrival.bib_number %>">
              <%= effort_button_card_text(arrival, time_zone, multiple_events) %>
            </button>
          </div>
        <% end %>
      <% else %>
        <div class="card">
          <h3 class="card-header">[None]</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
