<!--Requires locals :events and :current_event-->

<div class="btn-group mid-padding">
  <% events.each do |event| %>
    <%= link_to event.guaranteed_short_name,
                request.params.merge(id: event.to_param),
                class: 'btn btn-sm btn-primary',
                disabled: event == current_event %>
  <% end %>
</div>
