<%# locals: (presenter:, event_groups:) -%>

<table class="table table-centered table-fixed-sm table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date and Time</th>
    <th>Entrants</th>
    <% if presenter.show_visibility_columns? %>
      <th class="text-center">Visibility</th>
      <th class="text-center"></th>
    <% end %>
  </tr>
  </thead>

  <tbody id="event_groups_list">
  <%= render partial: "event_group_row", collection: event_groups, as: :event_group, locals: { presenter: presenter } %>
  </tbody>
</table>
