<%= form_tag raw_times_event_group_path(@presenter.event_group), method: :get do %>
  <div class="input-group">
    <%= text_field_tag 'filter[search]',
                       @presenter.search_text,
                       placeholder: 'Bib #',
                       autofocus: true,
                       class: 'form-control search-box' %>
    <span class="input-group-btn">
        <%= button_tag(type: :submit, class: 'btn btn-ost btn-primary') do %>
            <i class='fa fa-search'></i>
        <% end %>
      </span>
  </div>
<% end %>
