<%= render partial: "efforts/entrant_for_setup_small",
           collection: presenter.filtered_efforts,
           as: :effort,
           locals: { presenter: presenter } %>

<% if presenter.next_page_url.present? %>
  <%= turbo_frame_tag "entrants_page_#{presenter.page + 1}", src: presenter.next_page_url, loading: :lazy do %>
    <tr>
      <td colspan="7" class="text-center text-muted">Loading more entrants…</td>
    </tr>
  <% end %>
<% end %>
