<%# locals: (presenter:, event:, css_class:) -%>

<div class="col text-center <%= css_class %>">
  <div>
    <%= link_to_setup_widget_event(presenter, event) %>
  </div>
  <div class="my-1">
    <%= fa_icon "long-arrow-alt-down", type: :regular %>
  </div>
  <div>
    <%= link_to_setup_widget_course(presenter, event) %>
  </div>
</div>
