<% content_for :title do %>
  <% "OpenSplitTime: Event Group - Connect Service - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>
<%= render "setup_header", presenter: @presenter, breadcrumbs: ["Connect Service", @presenter.service_identifier.titleize] %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold mt-1"><%= "Connect to #{@presenter.service_identifier.titleize}" %></h4>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</article>
