<% content_for :title do %>
  <% "OpenSplitTime: Sync Lotteries - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>
<%= render "event_groups/setup_header", presenter: @presenter, breadcrumbs: ["Sync Lotteries"] %>

<article class="ost-article container">
  <%= render partial: "events/lottery_sync_card",
             locals: { presenter: @presenter },
             collection: @presenter.event_group.events.order(:scheduled_start_time),
             as: :event %>

  <hr/>
  <div class="row mb-3">
    <div class="col">
      <%= link_to "Back to setup",
                  entrants_event_group_path(@presenter.event_group),
                  class: "btn btn-outline-secondary" %>
    </div>
  </div>
</article>
