<% content_for :title do %>
  <% "OpenSplitTime: New Event Group" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>
<%= render "setup_header", presenter: @presenter %>

<article class="ost-article container">
  <h4>We will first need some basic information about your Event Group</h4>
  <div class="callout callout-info">
    <h5 class="fw-bold">An Event Group will have one or more Events</h5>
    <p>For now, we're just gathering the most basic information that will apply to all Events.</p>
  </div>
  <%= render "form", presenter: @presenter %>
</article>
