<div data-controller="infinite-scroll"
     data-infinite-scroll-next-page-url="<%= presenter.next_page_url %>"
     data-infinite-scroll-html-template="course_groups/best_effort_rows">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>
        Overall/<br>Gender
      </th>
      <th>Name</th>
      <th>Category</th>
      <th>From</th>
      <th>Course</th>
      <th>Year</th>
      <th class="text-right"><%= @presenter.time_header_text %></th>
    </tr>
    </thead>
    <tbody data-infinite-scroll-target="result">
    <%= render "course_groups/best_effort_rows", segments: @presenter.filtered_segments %>
    </tbody>
  </table>

  <div class="row">
    <div class="col text-center" data-infinite-scroll-target="link">
      <% if @presenter.filtered_segments_count == @presenter.per_page %>
        <%= link_to "Show More", "#", data: {action: "infinite-scroll#loadFromClick"} %>
      <% else %>
        <p>End of List</p>
      <% end %>
    </div>
  </div>
</div>
