<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Overall/<br>Gender
      </th>
      <th>Name</th>
      <th>Category</th>
      <th>From</th>
      <th>Year</th>
      <% unless @presenter.segment_ends_at_finish? %>
        <th class="text-center">Finished?</th>
      <% end %>
      <th class="text-end"><%= @presenter.time_header_text %></th>
    </tr>
    </thead>
    <tbody id="best_effort_segments">
    <%= render partial: "best_effort_segment", collection: @presenter.filtered_segments %>
    </tbody>
  </table>

  <%= render "shared/pager", next_page_url: @presenter.next_page_url %>
</div>
