<%# locals: (presenter:) %>

<turbo-frame id="my_stuff_live_updates_card">
  <% if presenter.watch_efforts.any? %>
    <% presenter.watch_efforts.each do |effort| %>
      <h4 class="card-text">
        <strong><%= link_to "#{effort.full_name} at #{effort.event_name}", effort_path(effort) %></strong>
      </h4>
    <% end %>
  <% else %>
    <div class="card-text h5">None found</div>
  <% end %>
</turbo-frame>
