<%# locals: (presenter:) %>

<turbo-frame id="my_stuff_organizations_card">
  <% presenter.owned_organizations.each do |organization| %>
    <h4 class="card-text">
      <strong><%= link_to organization.name, organization_path(organization) %></strong>
      <span class="badge bg-secondary">Owner</span>
    </h4>
  <% end %>
  <% presenter.steward_organizations.each do |organization| %>
    <h4 class="card-text">
      <strong><%= link_to organization.name, organization_path(organization) %></strong>
      <span class="badge bg-secondary">Steward</span>
    </h4>
  <% end %>
</turbo-frame>
