<%= form_tag people_path, class: 'w-100', method: :get do %>
  <div class="input-group">
    <%= text_field_tag 'filter[search]',
                        prepared_params[:search],
                        placeholder: 'First name, last name, state, or country',
                        autofocus: true,
                        class: 'form-control search-box' %>
    <span class="input-group-append">
      <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
          <i class='fa fa-search'></i> Find someone
      <% end %>
    </span>
  </div>
<% end %>
