<div id="person_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
    <%= carmen_subregion_select(:person, :state_code, country, prompt: "Choose a country first") %>
  <% elsif country.subregions? %>
    <%= carmen_subregion_select(:person, :state_code, country, prompt: "Choose a state or region") %>
  <% else %>
    <%= text_field(:person, :state_code) %>
  <% end %>
</div>
