<div id="person_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
      <small>[Select a country first]</small>
  <% elsif country.subregions? %>
      <%= carmen_subregion_select(:person, :state_code, country) %>
  <% else %>
      <%= text_field(:person, :state_code) %>
  <% end %>
</div>
