<% content_for :title do %>
    <% "OpenSplitTime: New person" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
            <h1><strong>New Person</strong></h1>
            <ul class="breadcrumb breadcrumb-ost">
                <li class="breadcrumb-item"><%= link_to 'People', people_path %></li>
                <li class="breadcrumb-item active">New</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
    <%= render 'form' %>
</article>
