body.events.spread {
    overflow-x: visible;

    .container {
	max-width: 100%;
    }

    tbody tr.status {
	height: 1.5em;
	font-size: 0.9em;
	font-variant: small-caps;
	background: lightgray;
    }

}
