<div class="card">
  <h4 class="card-header">Courses</h4>
  <div class="card-body">
    <p>
      A Course is the place where an event is physically run. You can give your Course a name and a description that will
      appear when users view its page. You will also be asked for information about total length and vertical gain/loss,
      and this data will be used to create the finish Split for the Course.
    </p>
  </div>
</div>
