<div class="card">
  <h4 class="card-header">Splits</h4>
  <div class="card-body">
    <p>
      You need a Split anywhere you want to record times. A course comes ready-made with a start and finish split. For
      events where just finish times will be recorded, that's all you need. If you want to record times in between, you
      can add intermediate splits. On an ultramarathon course, these would normally be your aid stations. For a
      non-organized solo effort, these might be meaningful places, like summits or road crossings, where you measure your
      progress. For road races they could be mile or kilometer markers.
    </p>
    <p>
      Splits always have a fixed distance from the start of a Course, and only one Split can exist at a given distance. By
      default, a Split will be set to record a single time for each Entrant, and you would normally record the Entrant
      when he or she first reaches the Split (for example, when he or she enters an aid station). Some events record both
      "in" and "out" times through aid stations. You can designate a Split for "in" times only or for both "in" and "out"
      times.
    </p>
    <p>
      Splits may include elevation/latitude/longitude data manually entered or chosen with the help of a map.
    </p>
  </div>
</div>
