<div class="card">
  <h4 class="card-header">Split Times</h4>
  <div class="card-body">
    <p>
      Split Times are the publicly viewable time data for Entrants at Splits along the Course. A typical ultramarathon
      might have thousands of Split Times in a single Event. OpenSplitTime checks Split Time data as it is entered,
      submitted, and imported, and uses statistical analysis to flag any times that appear bad or questionable.
    </p>
    <p>
      Split Times should not be confused with
      <%= link_to 'Raw Times', getting_started_path(topic: :terminology, page: 8) %>, which are the original, often
      messy, behind-the-scenes log of all recorded times, whether correct or incorrect.
    </p>
  </div>
</div>
