<% hardrock = Organization.find_by(slug: "hardrock") %>
<% lottery = hardrock.present? ? hardrock.lotteries.find_by(scheduled_start_date: "2023-12-02") : nil %>

<% if hardrock.present? && lottery.present? && Date.today == lottery.scheduled_start_date %>
  <aside class="navbar bg-warning">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= link_to "Live Hardrock 2024 Lottery", organization_lottery_path(hardrock, lottery), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </aside>
<% end %>
