<div class="card">
  <h4 class="card-header">Set Up the Check-In Table</h4>
  <div class="card-body">
    <p>Starting an Event Group begins at check-in time. We recommend you place a laptop or tablet at the check-in table
      where bibs are handed out and then follow this process:</p>
    <ol>
      <li>Open a browser</li>
      <li>Log in to OpenSplitTime.org using an account that has Owner or Steward privileges for your Organization</li>
      <li>Visit the Roster page (<strong>Admin > Roster</strong>)</li>
    </ol>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Check In Entrants</h4>
  <div class="card-body">
    <p>As each runner arrives, find the runner's name in the Roster and click/tap "Check In." The button will
      change from white to green indicating the check-in was successful. <strong>Make sure the runner is checked in to
      OST before handing the bib to the runner.</strong> If a runner receives a bib without being checked in to OST,
      that runner will not be started when
      you <%= link_to 'start efforts', management_path(topic: :starting, page: 4) %>.
    </p>
    <p></p>
  </div>
</div>
<br/>
