<div class="card">
  <h4 class="card-header">Overview</h4>
  <div class="card-body">
    <p>Now that your event group is set up and staged, you are ready to prepare for the event and learn how to manage
      it.</p>
    <p>In general, your work flow will follow these steps:</p>
    <ol>
      <li>Preparing for your event</li>
      <li>Checking in and starting entrants</li>
      <li>Monitoring entrants</li>
      <li>Entering and editing times</li>
      <li>Winding up your event</li>
    </ol>
  </div>
</div>
