<div class="row">
  <div class="col">
    <button class="btn btn-outline-dark" data-action="sidebar#toggle"><%= fa_icon('caret-left lg') + ' ' + fa_icon('caret-right lg') %></button>

    <button class="navbar-toggler" tvbe="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col text-right">
    <h3><strong>OST Remote</strong></h3>
  </div>
</div>
<br/>
