<div class="card">
  <h4 class="card-header">Welcome</h4>
  <div class="card-body">
    <p>OST Remote is an easy-to-use app that allows volunteers to record bib numbers and times at aid stations or
      other points along a course. OST Remote runs on iOS devices (iPhone and iPad) and is available free in the
      <%= link_to 'App Store.', 'https://itunes.apple.com/us/app/ost-remote/id1253815009?mt=8', target: '_blank' %>
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Getting Set Up</h4>
  <div class="card-body">
    <p>Download OST Remote to your iPhone or iPad, then tap the icon and sign in using a username and password
      that
      are
      authorized for use in a live event. You can do this in two ways:</p>
    <ol>
      <li>Use a username and password provided by your race director or volunteer coordinator, <strong>or</strong>
      </li>
      <li>Sign up for your own username and password at opensplittime.org, then ask your race director or
        volunteer
        coordinator to authorize you as a Steward for the organization
      </li>
    </ol>
  </div>
</div>
