<div class="card">
  <h4 class="card-header">Live Entry</h4>
  <div class="card-body">
    <p>The Live Entry screen is your primary workhorse. It is designed for one purpose, which is to quickly and
      accurately enter bib numbers as runners pass through a time entry point. To enter a time, simply tap in a
      bib number using the keypad, then tap a large blue submit button to submit the time.</p>
    <p>When you enter a bib number, the entrant's name will display near the top of the screen. Feel free to give
      them a shout out! This is a great way to ensure you've entered the right bib number.</p>
    <p><strong>OST Remote uses sound effects to improve the accuracy of your time entry.</strong> Enable the sound
      on your device using a physical switch located on the left or right side of the iPhone or iPad. Adjust the
      volume to an appropriate level. You should hear sound effects when you tap the keypad and the submit button. The
      audio feedback will greatly assist you in knowing when your taps are being recognized by the device. This can be
      especially helpful when the weather is bad or when you are working in direct sunlight.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Submit Button(s)</h4>
  <div class="card-body">
    <p>If your aid station is set up for a single time entry point, you will see one blue submit button extending
      across the screen.</p>
    <p>If your aid station is set up for two time entry points, you will see two blue submit buttons, one for each
      time entry point. This would be the case, for example, if you are recording runners both "in" and "out" of
      your aid station, or if runners are passing through your aid station at different times during the event.</p>
    <p>If you have two buttons on your live entry screen,
      <strong>make sure you are familiar with which button does what</strong>, and always use the correct one!
      This will save a great deal of time and energy when times are synced.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Special Keys</h4>
  <div class="card-body">
    <p>If you make a mistake <strong>while entering a bib number but before tapping the blue button</strong>, you can
      correct it using the delete key (&#9003;) on the keypad.</p>
    <p>If you are not able to read a bib number, tap the asterisk key (*) on the keypad. If you read only a part
      of the bib number, use the asterisk to substitute for the missing portion. For example, if you can read a "2"
      but aren't able to determine the rest of the bib number, type "2*" and tap the submit button.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Quick Edit</h4>
  <div class="card-body">
    <p>After you submit an entry, the runner name stays visible until you use the keypad again. If you catch a mistake
      <strong>after tapping the blue button but before you touch the keypad again</strong>, you can quickly edit or
      delete the entry by tapping the runner name, making necessary changes, and tapping "Update" or "Delete."</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Continuing or Done?</h4>
  <div class="card-body">
    <p>If a participant comes into the aid station and immediately tells you he or she intends not to continue,
      enter the bib number, then tap "Stopped Here," then tap the blue submit button.</p>
    <p>If you have already recorded a time for a participant, and you later learn that he or she will not
      continue,<strong>do not re-enter the bib number from the Live Entry screen.</strong> Instead, use the Review/Sync
      screen to edit the entry you already have for that bib number.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Monitoring Pacers</h4>
  <div class="card-body">
    <p>If your event is monitoring pacers, you will have a toggle button to indicate if the bib number you are
      recording is accompanied by a pacer. Simply enter the bib number, then tap "With Pacer" before tapping the
      blue submit button.</p>
    <p>If you have already recorded a time for a participant, and you later learn that he or she has a pacer,
      <strong>do not re-enter the bib number from the Live Entry screen!</strong> Instead, use the Review/Sync
      screen to edit the entry you already have for that bib number.</p>
  </div>
</div>
