<table>
  <tbody>
      <small><tr>
        <td>Top: photo by Mark Oveson</td>
      </tr>
      <tr>
        <td>Middle: photo by Bill Wright</td>
      </tr>
      <tr>
        <td>Bottom: photo by Kari Fraser</td>
      </tr></small>
  </tbody>
</table>
