<% content_for :title do %>About
<% end %>
<h3>About OpenSplitTime: A Manifesto</h3>
<hr>

<p>
  <strong>Endurance events change people.</strong> They create hard challenges in a soft world. They bring us together when
  our natural inclination might be to wander alone. They help us feel the simple joys of food, warmth, and rest by
  exposing us to cold, hunger, and discomfort. They help us realize how much more is buried within when we seem empty
  and dry.
</p>
<p>
  We love to compete, but many of us don't love to organize. And the tools for tracking and organizing endurance events
  have been sorely lacking. All that has now changed.
</p>
<p>
  OpenSplitTime is a site for endurance athletes, fans and families, race directors, support crews, and data geeks. Our
  purpose is simple: to make it easy to collect endurance event data, play with it, plan with it, safely archive it, and
  never worry about it again. If you are a race director, and particularly if you run a non-profit event, please upload
  your data. Instructions may be found <%= link_to "here", getting_started_path %>.
</p>
<p>
  Your data will always be freely available to you and to your race participants. This site is supported exclusively by
  user donations. Sensitive data is carefully controlled and never released to unauthorized viewers. You can download,
  modify, or delete your data whenever you like. As a race director, you need fewer hassles. We hope this site makes
  your life a bit easier.
</p>
<p>
  The site is built and maintained by OpenSplitTime Company, a Colorado nonprofit corporation. If you find the website
  useful, motivating, entertaining, or strangely beautiful, please consider making a small
  <%= link_to "donation", donations_path %> to help us keep the doors open. OpenSplitTime Company is registered
  with the U.S. Internal Revenue Service as a 501(c)(3) charitable organization. Your donations are probably tax
  deductible (but you should always talk to your tax advisor about that stuff).
</p>
<p>
  Our software engine is open source. If you have a suggestion for the site, or you are a software engineer and would
  like to help with development, or if you are a race director or data geek and would like to be a beta tester,
  please <%= mail_to "mark@opensplittime.org", "contact us" %> and let's talk.
</p>
<p>
  OpenSplitTime is developed and maintained by endurance athletes for endurance athletes.
</p>
<p>
  <strong>Go git 'er done.</strong>
</p>