<% content_for :title do %>Thank you!
<% end %>
<h3>Thank you!</h3>
<hr>
<p>
  <strong>Thank you very much for your donation to OpenSplitTime.</strong> Your generous gift will help us continue to provide better
  tools to the non-profit endurance event community.
</p>
<p>
  <%= link_to "Return to the home page", root_path %>.
</p>