<% content_for :title do %>Donations
<% end %>
<h3>Donations</h3>
<hr>
<p>
  Your donations help us keep the lights on and the servers fed. We are a nonprofit 501(c)(3) corporation, and 100% of your money
  goes to maintaining and improving the site.
</p>
<p>
  Send your donations via PayPal to donations@opensplittime.org. We'll send you a receipt for tax purposes, and you'll get a
  bit of extra good karma next time you get out on the trails.
</p>
