<% content_for :title do %>Efforts
<% end %>
<h3>Efforts</h3>
<hr>
<p>
  An Effort is what a single Person does in a single Event. To ensure consistency and avoid duplication of
  People in the database, Effort data includes the person's basic information (name, age,
  gender, and the like) and also relates to the person's finish time and any intermediate split times recorded. The
  final results for your Event will be a collection of Efforts with related Split Times.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>