<% content_for :title do %>Events
<% end %>

<article class="ost-article container">
  <h3>Events</h3>
  <hr>
  <p>
    An Event is just that--a single event run on a single Course, with one Entrant for each person participating in the
    event.
  </p>
  <p>
    If you have groups running different Courses (even if they are happening at the same time), you'll need to have an
    Event for each Course, and those Events would belong to a single Event Group. For example, the Tough Trail 50K and
    the Tough Trail 100K would be two separate Events belonging to a single Event Group, even if both are run at the
    same time and even if parts of the 50K Course may overlap with parts of the 100K Course.
  </p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
