<% content_for :title do %>Getting Started 2
<% end %>

<article class="ost-article container">
  <h3>Getting Started</h3>
  <hr>

  <h4>
    Duplicating an existing Event Group
  </h4>
  <br/>
  <p>If you have an existing Event Group (for example, from a prior year), and you want to create a new Event Group
    with the same or similar Events for the current year, you can easily duplicate an Event Group. </p>
  <p> 1. Make sure you are logged in. </p>
  <p> 2. Go to My Stuff > My Organizations, then click on your Organization and click on the Event Group. </p>
  <p> 3. Click on Admin > Settings > Group Actions > Duplicate group. </p>
  <p> 4. Enter the name and date for the new Event Group and click "Duplicate Event Group". </p>
  <p>OpenSplitTime will duplicate all Events within the original Event Group, but will not add any Entrants. </p>
  <p> 5. Make any changes as necessary. For example, if the start time for your 100K was 6:00 last year but you've moved
    it to 5:30 this year, you can click Admin > Settings, and then Actions > Edit event.</p>
  <p> 6. Now <%= link_to 'import your Entrants', getting_started_5_path %> and you are ready to go.</p>

  <hr>
  <p><strong><%= link_to '<< Creating or importing your first event', getting_started_2_path %>  |
    <%= link_to 'Creating a new Event Group with an existing Organization >>', getting_started_4_path %></strong></p>
</article>
