<% content_for :title do %>Getting Started 5
<% end %>

<article class="ost-article container">
  <h3>Getting Started</h3>
  <hr>
  <h4>
    Formatting your Split data for import
  </h4><br/>
  <p>
    OpenSplitTime makes it easy (ok, at least reasonably doable for mere mortals) to import your data into the system.
    To start, you'll need to get your data into comma-separated-value (.csv) format. Data is imported in two
    steps: Split import and Entrant import.
  </p>
  <p><strong>Split import</strong></p>
  <p>
    First, download a template. After you create your event, go to <strong>Admin > Staging > Splits > Import >
    Download template</strong>. A blank splits template will be downloaded by your browser. Use this template to add split
    names, distances, latitude, longitude, and elevation. The "Sub split kinds" column should be either "in" (if you are
    recording only one time, as runners enter the aid station) or "in out" (if you are recording times both in and out
    of the aid station). When the spreadsheet is complete, save it back out (remember to save it in CSV format) and then
    go to <strong>Admin > Staging > Splits > Import > Import splits</strong>.
  </p>
  <hr>
  <p><strong><%= link_to "<< Creating a new Event with an existing Organization", getting_started_4_path %>  |
    <%= link_to "Formatting your Entrant data for import >>", getting_started_6_path %></strong></p>
</article>
