<% content_for :title do %>Getting Started 2
<% end %>

<article class="ost-article container">
  <h3>Getting Started</h3>
  <hr>
  <h4>
    Creating a new Event with an existing Organization
  </h4><br/>
  <p>If your new Event Group doesn't share common characteristics with any existing Event Group, follow these steps to
    create a new one:</p>
  <p> 1. Visit your Organization page, and click "Create New Event".</p>
  <p> 2. If you are using the same Course as last time, check to make sure all the Splits you need have been associated,
    or click the check mark boxes to add or remove Splits for this event. If you are using a new Course, create it using
    the fields provided.</p>
  <p> 3. Add your Entrants' information manually or import it. </p>
  <p> 4. Use OST Live or import existing time data. Please <%= mail_to 'mark@opensplittime.org', 'contact us' %> if you
    need help with importing time data.</p>
  <hr>
  <p><strong><%= link_to '<< Duplicating an existing Event Group', getting_started_3_path %>  |
    <%= link_to 'Formatting your Split data for import >>', getting_started_5_path %></strong></p>
</article>
