<% content_for :title do %>
  Getting Started Docs - <%= "#{params[:topic] || 'overview'} - #{params[:page] || 1}" %>
<% end %>

<div class="d-flex" id="wrapper" data-controller="sidebar" data-target="sidebar.wrapper">
  <%= render 'getting_started_sidebar' %>

  <div id="page-content-wrapper">
    <article class="ost-article container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-dark" data-action="sidebar#toggle"><%= fa_icon('caret-left lg') + ' ' + fa_icon('caret-right lg') %></button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col text-right">
          <h1><strong>Getting Started</strong></h1>
        </div>
      </div>
      <br/>

      <%= render "getting_started_#{params[:topic] || 'overview'}_#{params[:page] || 1}" %>
    </article>
  </div>
</div>
