<% content_for :title do %>Home
<% end %>
<div class="homepage">
  <div class="row first">
    <div class="over-text">
      <h2>Track your endurance data</h2>
      <p>OpenSplitTime makes it easy to collect endurance event data. A free resource and community built by the endurance athletes that use it. Join the Community and Go git 'er done.</p>
      <form class="homepage-signup" name="homepage-signup">
        <div class="form-fields clearfix"> 
          <input type="text" name="email" placeholder="Email Address" />
          <input class="btn btn-info" type="submit" name="submit" value="Join the Community" />
        </div>
        <p>Already using OpenSplit Time? <a href="#" class="sign-in">Sign In</a> <a href="#" class="learn-more">Learn More</a></p>
      </form>
    </div>
    <div class="gradient"></div>
  </div>
  <div class="row second">
  <div class="over-text">
    <%= image_tag("icons/icon-map.png", alt: 'Map Icon') %>
    <h2>Plan your effort:</h2>
    <p>Pacers, Runners and Crews can use the OpenSplitTime database to plan an Ulta effort. Estimate your time and one simple screen will tell you where to be and when.</p>
    <br />
    <button class="btn btn-info cta">Prepare for HardRock</button>
  </div>
  </div>
  <div class="row third">
    <div class="over-text">
      <h2>Search the Archives</h2>
      <p>Look at data like you've never been able to before. Get more detail then just finish times, and find your peers. Analyze efforts.</p>
      <br />
      <button class="btn btn-info cta">Search Hard Rock</button>
    </div>
    <div class="gradient"></div>
  </div>
  <div class="row fourth">
    <div class="over-text">
      <%= image_tag("icons/icon-timer.png", alt: 'Timer Icon') %>
      <h2>Open to Race Directors</h2>
      <p>We love to compete, but many of us don't love to organize. And the tools for tracking and organizing endurance events have been sorely lacking. All that has now changed.</p>
      <br />
      <button class="btn btn-info cta">Search Hard Rock</button>
    </div>
  </div>
  <div class="row fifth">
    <div class="over-text">

    </div>
    <div class="gradient"></div>
  </div>
  <div class="row sixth">
    <div class="over-text">
    <h2>Endurance events change people.</h2>
      <p>They create hard challenges in a soft world. They bring us together when our natural inclination might be to wander alone. They help us feel the simple joys of food, warmth, and rest by exposing us to cold, hunger and discomfort. They help us realize how much more is buried within when we seem empty and dry.</p>
      <%= image_tag("icons/icon-s.png", alt: 'S Icon') %>
      <h1>OpenSplitTime.org</h1>
    </div>
  </div>
</div>