<% content_for :title do %>Home
<% end %>
<div class="center jumbotron">
  <h1></h1>
  <br/>
  <hr>
  <h1>All Your Data.</h1><br>
  <h1>All The Time.</h1><br>
  <h1>Always Free.</h1><br>
  <hr>
  <br/>
  <div class="row">
    <div class="text-center">
      <%= link_to 'Find someone', people_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Search events', events_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Import data', getting_started_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>