<% content_for :title do %>Locations
<% end %>
<h3>Locations</h3>
<hr>
<p>
  A Location is a geographical place having latitude, longitude, and elevation data. You will need to give each
  location a unique name, and you can also add a description, such as "Just below treeline above the point where
  the trail crosses Cold Creek."
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>