<% content_for :title do %>Organizations
<% end %>

<article class="ost-article container">
  <h3>Organizations</h3>
  <hr>
  <p>
    Your Organization allows certain users authorization to add, edit, or delete data for your events.
    For example, the radio support team might be given access to add new time data as it is
    received, or a friend might be given access to upload and organize archival data from earlier events.
  </p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
