<% content_for :title do %>Participants
<% end %>
<h3>Participants</h3>
<hr>
<p>
  A Participant is a person who has participated in one or more Events. When a new Event is imported, an intelligent
  matching system attempts to reconcile Efforts with existing Participants, avoiding duplication in the database.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>