<% content_for :title do %>People
<% end %>

<article class="ost-article container">
  <h3>People</h3>
  <hr>
  <p>
    A Person is someone who has participated in one or more Events. When a new Event is imported, an intelligent
    matching system attempts to reconcile new Entrants with existing People, avoiding duplication in the database.
  </p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
