<% content_for :title do %>People
<% end %>
<h3>People</h3>
<hr>
<p>
  A Person is a person who has participated in one or more Events. When a new Event is imported, an intelligent
  matching system attempts to reconcile Efforts with existing People, avoiding duplication in the database.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>