<% content_for :title do %>Races
<% end %>
<h3>Races</h3>
<hr>
<p>
  A Race is an administrative relationship that allows certain users authorization to add, edit, or delete data for
  Events related to your Race. For example, the radio support team might be given access to add new time data as it is
  received, or a friend might be given access to upload and organize archival data from earlier events.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>