<% content_for :title do %>Raw Times
<% end %>

<article class="ost-article container">
  <h3>Raw Times</h3>
  <hr>
  <p>
    Raw Times are the permanent timing log created as an Event Group is taking place. As time data are captured by
    volunteers using OST Remote or manually entered using the Live Entry view, they are recorded first as Raw Times.
  </p>
  <p>
    Raw Time data is captured in the form it comes in, warts and all. Human error is intentionally preserved to ensure a
    complete record. If a volunteer enters Bib 101 coming in to Pole Creek at 10:30, and later enters Bib 101 coming in
    again to Pole Creek at 10:45, both records will be preserved as Raw Times. Later analysis will be needed to
    determine whether the 10:30 entry or the 10:45 entry was correct. And the incorrect entry is still valuable, as it
    might match with another runner whose bib was misread by the volunteer.
  </p>
  <p>Raw Time data is not intended for public view; it is a behind-the-scenes record. Our best interpretation of the Raw
  Time record is presented to the public in the form of <%= link_to 'Split Times', split_time_info_path %>.</p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
