<% content_for :title do %>Split Times
<% end %>

<article class="ost-article container">
  <h3>Split Times</h3>
  <hr>
  <p>
    Split Times are the publicly viewable time data for Entrants at Splits along the Course. A typical ultramarathon
    might have thousands of Split Times in a single Event. OpenSplitTime checks Split Time data as it is entered,
    submitted, and imported, and uses statistical analysis to flag any times that appear bad or questionable.
  </p>
  <p>
    Split Times should not be confused with <%= link_to 'Raw Times', raw_time_info_path %>, which are the original,
    often messy, behind-the-scenes log of all recorded times, whether correct or incorrect.
  </p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
