<% content_for :title do %>Waypoints
<% end %>
<h3>Splits</h3>
<hr>
<p>
  You need a Split anywhere you want to record times. You will always have a finish split. For events
  where just finish times will be recorded, that's all you need. If you want to record times in between, you need
  intermediate points.
</p>
<p>
  Intermediate points are Splits that allow you to record times between the start and finish of your course. On an
  ultramarathon course, these would be your aid stations. For a triathlon, they would be the transition areas.
  For road races they could be mile or kilometer markers.
</p>
<p>
  Splits always have a fixed distance from the start of a Course. If you plan to record more than one time at a
  single location (for example, "in" and "out" times at an aid station or transition),
  create two intermediate points, set them at the same distance, and designate them as "in" or "out."
</p>
<p>
  You have the option to associate a Location with any Split. Locations can be specified with
  latitude/longitude data or chosen with the help of a map.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>