<% content_for :title do %>Waypoints
<% end %>
<h3>Splits and Waypoints</h3>
<hr>
<p>
  You need a Split anywhere you want to record times. You will always have a start split and a finish split. For events
  where just finish times will be recorded, that's all you need. If you want to record times in between, you need
  waypoints.
</p>
<p>
  Waypoints are Splits that allow you to record times between the start and finish of your course. On an ultramarathon course, these
  would be your aid stations.
  For a triathlon, they would be the transition areas. For road races they could be mile or kilometer markers.
</p>
<p>
  Splits always have a fixed distance from the start of a Course. If you plan to record more than one time at a
  single location (for example, "in" and "out" times at an aid station or transition),
  create two waypoints, set them at the same distance, and use the "sub order" field to put them in proper order.
</p>
<p>
  You have the option to associate a Location with any start, finish, or waypoint Split. Locations can be specified with
  latitude/longitude data or chosen with the help of a map. If you have "in" and "out" waypoints having the same
  distance, OST will keep those locations in sync automatically.
</p>
<hr>
<strong><%= link_to '<< Back', :back %></strong>