<% content_for :title do %>Split Times
<% end %>

<article class="ost-article container">
  <h3>Split Times</h3>
  <hr>
  <p>
    Split Times are what it's all about. This is the time data for each Effort at every Split along the Course. A
    typical
    ultramarathon might have thousands of Split Times in a single Event. OpenSplitTime checks Split Time data as it is
    manually entered or imported and uses statistical analysis to flag any times that appear bad or questionable.
  </p>
  <hr>
  <strong><%= link_to '<< Back', :back %></strong>
</article>
