<%# locals: (resource:) -%>

<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
