<div class="form-group">
  <%= link_to t(".sign_up"), new_registration_path(resource_name) %><br/>
  <%= link_to t("devise.shared.links.forgot_your_password"), '#', id: 'modal-new-password-link', data: {toggle: 'modal', target: '#new-password-modal'} %><br/>
  <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'), '#', id: 'modal-confirmation-link', data: {toggle: 'modal', target: '#confirmation-modal'} %><br/>
</div>
