<%# locals: (presenter:) -%>

<%= form_tag organization_stewardships_path(presenter.organization), method: :post do %>
  <div class="input-group">
    <%= text_field_tag :email,
                       params[:email],
                       placeholder: "email",
                       autofocus: true,
                       class: "form-control search-box" %>
    <%= button_tag(type: :submit, class: "btn btn-primary input-group-text") do %>
      <i class="fas fa-search"></i> Add steward
    <% end %>
  </div>
<% end %>
