---
http_interactions:
- request:
    method: get
    uri: https://runsignup.com/Rest/race/85675/participants?api_key=1234&api_secret=2345&event_id=661702&format=json&page=1&results_per_page=200&sort=registration_id%20ASC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{
        "event":{"event_id":661702,"participants":[]},
        "participants":[
          {
            "user":{
              "user_id":18423667,
              "first_name":"Bubba",
              "middle_name":null,
              "last_name":"Gump",
              "email":"bubba@msn.com",
              "address":{"street":"123 Main Street","city":"Atlanta","state":"GA","zipcode":"34343","country_code":"US"},
              "dob":"1958-01-01",
              "gender":"M",
              "phone":"404-583-3514"
              },
            "event_id":661702,
            "bib_num":3,
            "age":64
          },
          {
            "user":{
              "user_id":55389794,
              "first_name":"Jenny",
              "middle_name":null,
              "last_name":"Gump",
              "email":"jenny@gmail.com",
              "address":{"street":"234 Disco Trip Circle","city":"Los Angeles","state":"CA","zipcode":"90028","country_code":"US"},
              "dob":"1959-06-02",
              "gender":"F",
              "phone":"213-528-7078"
            },
            "event_id":661702,
            "bib_num":5,
            "age":63
          }
        ]
      }]'
  recorded_at: Tue, 21 Feb 2023 16:15:41 GMT
recorded_with: VCR 4.0.0
