<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @race.stewards.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Remove",
                      remove_steward_race_path(@race, user_id: user.id),
                      :method => :put,
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
