<div class="row">
  <div class="col col-xs-6">
    <h1>Races</h1>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Create New Race', new_race_path,
                class: 'btn btn-sm btn-success btn-margin-lg' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'races', races: @races %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
