<h1 align="center">Races</h1>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Create New Race', new_race_path,
                class: 'btn btn-sm btn-success btn-margin-lg pull-right' %>
  </div>
</div>

<%= render 'race', obj: @races %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate %>
  </div>
</div>
