<% content_for :title do %>
    <% "OpenSplitTime: List races" %>
<% end %>
<div class="row">
  <div class="col col-xs-4">
    <h2>Races</h2>
  </div>
  <div class="col-xs-3 text-right">
    <%= link_to 'Create new race', new_race_path,
                class: 'btn btn-sm btn-success btn-margin-lg' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'races', races: @races %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
