<% content_for :title do %>
    <% "OpenSplitTime: List organizations" %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>Organizations</strong>
    </h2>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <% if @current_user %>
          <%= link_to 'Create a new organization', new_race_path,
                      class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'races', races: @races %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
