<%= link_to 'View Event', event_path(@event), class: 'btn btn-sm btn-primary' %>
<div class="btn-group">
  <%= link_to 'Live entry', live_entry_live_event_path(@event), disabled: page == 'live_entry', class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Progress', progress_report_live_event_path(@event), disabled: page == 'progress', class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Aid stations', aid_station_report_live_event_path(@event), disabled: page == 'aid_summary', class: 'btn btn-sm btn-warning' %>
</div>