<% if current_user&.authorized_to_edit?(view_object.effort) && lap_split_row.days_and_times.compact.present? %>
  <td class="table-button">
      <% lap_split_row.time_data_statuses.each_with_index do |data_status, i| %>
        <%= link_to_with_icon "#{(data_status == 'confirmed') ? 'fa fa-reply' : 'fa fa-thumbs-up'}", '',
                    update_split_times_effort_path(view_object.effort,
                                                   effort: {split_times_attributes: {id: lap_split_row.split_time_ids[i],
                                                                                     data_status: data_status == 'confirmed' ? '' : 'confirmed'}}),
                    method: :patch,
                    disabled: lap_split_row.split_time_ids[i].blank?,
                    class: 'btn btn-success' %>
      <% end %>
  </td>

  <td class="table-button">
      <% lap_split_row.split_time_ids.each do |id| %>
        <%= link_to_with_icon 'fa fa-trash', '',
                    delete_split_times_effort_path(view_object.effort, split_time_ids: [id]),
                    method: :delete,
                    disabled: id.blank?,
                    data: {confirm: 'This action cannot be undone. OK to proceed?'},
                    class: 'btn btn-danger' %>
      <% end %>
  </td>
<% end %>
