<%# locals: (presenter:) -%>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th class="text-center"><%= link_to_rebuild_times(presenter) if presenter.rebuildable? %></th>
    <th colspan="3" class="text-center">Raw Times</th>
    <th></th>
  </tr>
  <tr>
    <th>Time Point</th>
    <th class="text-center border-end">Split Time</th>
    <th class="text-center">Matched</th>
    <th class="text-center">Unmatched</th>
    <th class="text-center">Disassociated</th>
    <th class="text-center border-start">Discrepancy</th>
  </tr>
  </thead>

  <%= render "split_times/effort_audit_table", presenter: presenter %>
</table>
