<% content_for :title do %>
    <% "OpenSplitTime: Edit split time - #{@split_time.effort_name} - #{@split_time.event_name} - #{@split_time.split_name}" %>
<% end %>
<h1>Edit Time</h1>

<%= render 'form' %>
