<% @skip_container = true %>

<!-- Vue.js Form Templates-->

<script type="text/x-template" id="event"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide More Information About Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p><router-link to="/splits" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link></p>
		<p><span class="brackets"><a>Cancel</a></span></p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="form-group">
			<label for="event-name">What is your event called?</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<input type="text" class="form-control" id="event-name" placeholder="Your event name" v-model="eventData.event.name">
		</div>
		<div class="form-group">
			<label for="event-description">Description</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<textarea class="form-control" id="event-description" placeholder="Your event's description" v-model="eventData.event.description"></textarea>
		</div>
		<div class="form-group">
			<label for="event-start-time">Start Time of Race</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-5 col-sm-7 col-md-8">
					<input type="text" class="form-control" id="event-start-time" v-model="eventData.event.date" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
				</div>
				<div class="col-xs-7 col-sm-5 col-md-4 form-control-fill">
					<select class="form-control" id="event-start-time" v-model="eventData.event.hours">
						<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
						<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
					</select>
					<span class="text-center">&nbsp;:&nbsp;</span>
					<select class="form-control" id="event-start-time" v-model="eventData.event.minutes">
						<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="event-start-time">Select Course</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8">
					<select class="form-control" id="event-start-time" :disabled="eventData.course.new">
						<option selected disabled>Select One</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 form-control-fill">
					<span class="text-center" style="width: 100%">or</span>
					<button type="button" class="btn btn-success" v-on:click="eventData.course.new = true">Add New Course&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="well well-sm" v-show="eventData.course.new">
			<div class="row">
				<div class="form-group col-xs-12">
					<label for="event-name">Course Name</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" id="event-name" placeholder="Your event name">
				</div>
				<div class="form-group col-xs-12">
					<label for="event-name">Course Name</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" id="event-name" placeholder="Your event name">
				</div>
				<div class="form-group col-xs-6">
					<label for="event-name">Course Name</label>
					<input type="text" class="form-control" id="event-name" placeholder="Your event name">
				</div>
				<div class="form-group col-xs-6">
					<label for="event-name">Course Name</label>
					<input type="text" class="form-control" id="event-name" placeholder="Your event name">
				</div>
				<div class="form-group col-xs-12">
					<label for="event-description">Description</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<textarea class="form-control" id="event-description" placeholder="Your event's description"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<router-link to="/splits" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="splits"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of All The Splits In Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/participants" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-7">
				<h5>
					<strong>Your Splits:</strong>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
				</h5>
			</div>
			<div class="col-xs-5">
				<div class="input-group">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<span class="input-group-btn"><span class="btn btn-success"><i class="glyphicon glyphicon-search"></i>Find Split</span></span>
				</div>
			</div>
			<div class="col-xs-12">
				<google-map :markers="eventData.splits" :location="modalData"></google-map>
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventData.splits" :filter="filter" :entries="30" v-on:edit="modalData = $event">
					<tr slot="header">
						<th></th>
						<th data-orderable="false">Name</th>
						<th data-orderable="false">
							Dist.
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th data-orderable="false">
							V. Gain
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th data-orderable="false">
							V. Loss
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">
							Location Info
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
					</tr>
					<template slot="row" scope="vm">
						<td><i class="glyphicon glyphicon-flag"></i></td>
						<td>{{ vm.row.name }}</td>
						<td>{{ vm.row.distance }}</td>
						<td>{{ vm.row.verticalGain }}</td>
						<td>{{ vm.row.verticalLoss }}</td>
						<td><a data-toggle="modal" data-target="#js-split-modal" v-on:click="vm.$emit('edit')">Edit Split</a></td>
						<td><a v-on:click="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-split-modal" v-on:click="modalData = blank()">Add New Split&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<button type="button" class="btn btn-default">Import GPX File</button>
				</p>
				<router-link to="/splits" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="isValid" v-on:done="!( modalData._dtid ) && eventData.splits.push( modalData )" inline-template>
		<div id="js-split-modal" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<div class="row">
							<div class="col-xs-6">

								<div class="form-group col-xs-6">
									<label class="required">Split Name</label>
									<input type="text" class="form-control" v-model="model.name">
								</div>
								<div class="form-group col-xs-6">
									<label class="required">Description</label>
									<input type="text" class="form-control" v-model="model.description">
								</div>
								<div class="form-group col-xs-6">
									<label class="required">Distance From Start</label>
									<input type="text" class="form-control" v-model="model.distance" v-mask="{ alias: 'decimal' }">
								</div>
								<div class="form-group col-xs-6">
									<label class="required">Time Recording</label>
									<label class="radio"><input type="radio" class="form-control" name="split-time" value="in" v-model="model.times">Time In</label>
									<label class="radio"><input type="radio" class="form-control" name="split-time" value="inandout" v-model="model.times">Time In and Out</label>
								</div>
								<div class="form-group col-xs-6">
									<label class="required">Vertical Gain From Start</label>
									<input type="text" class="form-control" v-model="model.verticalGain" v-mask="{ alias: 'decimal' }">
								</div>
								<div class="form-group col-xs-6">
									<label class="required">Vertical Loss From Start</label>
									<input type="text" class="form-control" v-model="model.verticalLoss" v-mask="{ alias: 'decimal' }">
								</div>
								<div class="col-xs-12">
									<h4><strong>Add A Location</strong></h4>
								</div>
								<div class="form-group col-xs-12">
									<label>Name of Location</label>
									<div class="row">
										<div class="col-xs-6">
											<input type="text" class="form-control" v-model="model.locationName">
										</div>
										<div class="col-xs-6 form-control-fill">
											<span>or</span>
											<select class="form-control">
												<option selected disabled>Select One</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group col-xs-4">
									<label>Latitude</label>
									<input type="text" class="form-control" v-model="model.lat" v-mask="{ alias: 'decimal' }">
								</div>
								<div class="form-group col-xs-4">
									<label>Longitude</label>
									<input type="text" class="form-control" v-model="model.lng" v-mask="{ alias: 'decimal' }">
								</div>
								<div class="form-group col-xs-4">
									<label>Elevation</label>
									<input type="text" class="form-control" v-model="model.elevation" v-mask="{ alias: 'integer' }">
								</div>
								<div class="col-xs-12">
									<span class="brackets" data-dismiss="modal"><a>Cancel</a></span>
									<button type="button" class="btn btn-primary" data-dismiss="modal" v-bind:disabled="valid" v-on:click="$emit('done')">
										<template v-if="!model._dtid">Add Split</template>
										<template v-else>Done</template>
									</button>
								</div>
							</div>
							<div class="col-xs-6">
								<google-map :location="model"></google-map>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="participants"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of Your Participants</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/splits" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/confirmation" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-7">
				<h5><strong>Your Participants:</strong></h5>
			</div>
			<div class="col-xs-5">
				<div class="input-group">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<span class="input-group-btn"><span class="btn btn-success"><i class="glyphicon glyphicon-search"></i>Find Participant</span></span>
				</div>
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventData.participants" :filter="filter" :entries="30" v-on:edit="modalData = $event;">
					<tr slot="header">
						<th>Name</th>
						<th>M/F</th>
						<th>DoB.</th>
						<th>Location</th>
						<th>
							Bib&num;
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">&nbsp;</th>
					</tr>
					<template slot="row" scope="vm">
						<td>{{ vm.row.first }} {{ vm.row.last }}</td>
						<td>{{ vm.row.gender }}</td>
						<td>{{ vm.row.dob }}</td>
						<td>{{ vm.row.city }}, {{ vm.row.state }}</td>
						<td>{{ vm.row.bibnumber }}</td>
						<td><a data-toggle="modal" data-target="#js-participant-modal" v-on:click="vm.$emit('edit')">Edit Participant</a></td>
						<td><a v-on:click="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-participant-modal" v-on:click="modalData = blank()">Add New Participant&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<button type="button" class="btn btn-default">Import CSV</button>
				</p>
				<router-link to="/splits" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="isValid" v-on:done="!( modalData._dtid ) && eventData.participants.push( modalData )" inline-template>
		<div id="js-participant-modal" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body clearfix">
						<div class="form-group col-xs-12">
							<label class="required">Name</label>
							<div class="row">
								<div class="form-group col-xs-6">
									<input type="text" class="form-control" v-model="model.first" placeholder="First Name"></input>
								</div>
								<div class="form-group col-xs-6">
									<input type="text" class="form-control" v-model="model.last" placeholder="Last Name"></input>
								</div>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">Gender</label>
							<label class="radio"><input type="radio" name="gender" value="M" v-model="model.gender">Male</label>
							<label class="radio"><input type="radio" name="gender" value="F" v-model="model.gender">Female</label>
						</div>
						<div class="form-group col-xs-6">
							<label>Date of Birth</label>
							<input type="text" class="form-control" v-model="model.dob" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">Bib Number</label>
							<input type="text" class="form-control" v-model="model.bibnumber" v-mask.insert="{ alias: 'integer', placeholder: '' }" placeholder="example: 1234"></input>
						</div>
						<div class="form-group col-xs-6">
							<label>Beacon URL</label>
							<input type="text" class="form-control" v-model="model.beacon" placeholder="http://example.com"></input>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">Email</label>
							<input type="text" class="form-control" v-model="model.email" placeholder="example@gmail.com"></input>
						</div>
						<div class="form-group col-xs-6">
							<label>Phone Number</label>
							<input type="text" class="form-control" v-model="model.phone" v-mask="'(999) 999 - 9999'" placeholder="(xxx) xxx - xxxx"></input>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">City</label>
							<input type="text" class="form-control" v-model="model.city" placeholder="Louisville"></input>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">State</label>
							<input type="text" class="form-control" v-model="model.state" placeholder="Colorado"></input>
						</div>
						<div class="form-group col-xs-6">
							<label class="required">Country</label>
							<input type="text" class="form-control" v-model="model.country" placeholder="United States"></input>
						</div>
						<div class="row modal-section">
							<div class="col-xs-12">
								<div class="form-group col-xs-7">
									<label class="required">Participant's Start Time</label>
									<input type="text" class="form-control" v-model="model.startdate" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
									<select class="form-control" id="event-start-time" v-model="model.starthours">
										<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
										<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
									</select>
									<span class="text-center">&nbsp;:&nbsp;</span>
									<select class="form-control" id="event-start-time" v-model="model.startminutes">
										<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
									</select>
								</div>
								<div class="form-group col-xs-5">
									<label>Start Time Offset</label>
									<input type="text" class="form-control" v-model="model.startoffset" v-mask="{ alias: 'hh:mm', placeholder: 'hh:mm' }" placeholder="Offset Amount"></input>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<span class="brackets" data-dismiss="modal"><a>Cancel</a></span>
							<button type="button" class="btn btn-primary" data-dismiss="modal" v-bind:disabled="valid" v-on:click="$emit('done')">
								<template v-if="!model._dtid">Add Participant</template>
								<template v-else>Done</template>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="confirmation"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3><strong>Confirm Your Race Information</strong></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/participants" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/published" class="btn btn-primary">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<table class="table">
			<tbody>
				<tr>
					<th>Race Name</th>
					<td>{{ eventData.event.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Start Date</th>
					<td>{{ eventData.event.date }} {{ eventData.event.hours % 12 }}:{{ eventData.event.minutes }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ eventData.event.description }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Course</th>
					<td>{{ eventData.course.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Distance</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Gain</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Loss</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Your Splits</th>
					<td><google-map :markers="eventData.splits"></google-map></td>
					<td><span class="brackets"><router-link to="/splits">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Participants<br>{{ eventData.participants.length }}</th>
					<td></td>
					<td><span class="brackets"><router-link to="/participants">Edit</router-link></span></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<router-link to="/splits" class="btn btn-primary pull-right">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="published"><div>
	<article class="col-xs-12">
		Published
	</article>
</div></script>

<!-- Vue.js Split Modal -->

<script type="text/x-template" id="split-modal">
	<div id="js-split-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body row">
					<div class="col-xs-6">
						<h2 v-if="isNew">Add A New Split</h2>
						<div class="form-group col-xs-6">
							<label for="split-name">Split Name</label>
							<input type="text" class="form-control" id="split-name" v-model="split.name" placeholder="Name">
						</div>
						<div class="form-group col-xs-6">
							<label for="split-description">Description</label>
							<input type="text" class="form-control" id="split-description" v-model="split.description" placeholder="Describe your split">
						</div>
						<div class="form-group col-xs-6">
							<label for="split-name">Distance From Start</label>
							<input type="text" class="form-control" id="split-name" v-model="split.distance" placeholder="miles">
						</div>
						<div class="form-group col-xs-6">
							<label>Split Type</label>
							<label class="radio"><input type="radio" name="split-type">Time In</label>
							<label class="radio"><input type="radio" name="split-type">Time In and Out</label>
						</div>
						<div class="form-group col-xs-6">
							<label for="split-vgain">Vertical Gain From Start</label>
							<input type="text" class="form-control" id="split-vgain" v-model="split.verticalGain" placeholder="feet">
						</div>
						<div class="form-group col-xs-6">
							<label for="split-vloss">Vertical Loss From Start</label>
							<input type="text" class="form-control" id="split-vloss" v-model="split.verticalLoss" placeholder="feet">
						</div>
						<h3><template v-if="isNew">Add Location</template><template v-else>Edit Location</template></h3>
						<div class="form-horizontal">
							<label for="split-loc-name">Name of Location</label>
							<div class="form-group">
								<div class="col-xs-12 form-control-fill">
									<input type="text" class="form-control" id="split-loc-name" placeholder="Create A New Location">
									<span class="text-center">or</span>
									<select class="form-control">
										<option selected disabled>Select An Existing One</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label for="split-lat">Latitude</label>
							<input type="text" class="form-control" id="split-lat" v-model="split.lat" placeholder="">
						</div>
						<div class="form-group col-xs-4">
							<label for="split-lng">Longitude</label>
							<input type="text" class="form-control" id="split-lng" v-model="split.lng" placeholder="">
						</div>
						<div class="form-group col-xs-4">
							<label for="split-elevation">Elevation</label>
							<input type="text" class="form-control" id="split-elevation" placeholder="">
						</div>
						<div class="row">
							<span class="brackets" data-dismiss="modal" v-if="isNew"><a>Cancel</a></span>
							<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="$emit('new')" :disabled="isValid">
								<template v-if="isNew">Add Split</template><template v-else>Done</template>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<!-- Vue.js Participant Modal -->

<script type="text/x-template" id="participant-modal">
	<div id="js-participant-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body row">
					
				</div>
			</div>
		</div>
	</div>
</script>

<!-- Vue.js Applet -->

<div id="event-app">
	<div class="container-fluid header">
		<div class="container">
			<h2><strong>Create Race</strong></h2>
			<nav class="progress-bar-nav">
				<ul>
					<li is="router-link" to="/" tag="li" exact><a>Your Event</a></li>
					<li is="router-link" to="/splits" tag="li"><a>Splits</a></li>
					<li is="router-link" to="/participants" tag="li"><a>Participants</a></li>
					<li is="router-link" to="/confirmation" tag="li"><a>Confirmation</a></li>
					<li is="router-link" to="/published" tag="li"><a>Published</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div is="router-view" v-bind:event-data="eventData"></div>
		</div>
	</div>
</div>
