<div id="participant_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
      <em>Please select a country above</em>
  <% elsif country.subregions? %>
      <%= subregion_select(:participant, :state_code, parent_region) %>
  <% else %>
      <%= text_field(:participant, :state_code) %>
  <% end %>
</div>