<% content_for :title do %>
    <% "OpenSplitTime: List users" %>
<% end %>


<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>Users</strong>
    </h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Confirmed at</th>
          <th>Change role</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
