<% content_for :title do %>
    <% "OpenSplitTime: List users" %>
<% end %>


<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>Users</strong>
    </h2>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <% if @users.present? %>
        <%= render 'users' %>
    <% else %>
        <br/>
        <p><strong>
          <% "No users match this search" unless params[:search].blank? %>
        </strong></p>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

