.btn-label {
    pointer-events: none;
}

.btn-outline-subtle {
    @include button-outline-variant($gray-300);
}

.btn-input-group {
    @include button-outline-variant($input-group-addon-border-color);
}

.dropdown-toggle {
    .fas, .far, .fal, .fab {
        color: $blue;
    }
}

.default-button-handler {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
}