@keyframes fade-out {
  to {
    font-size: 0;
    padding: 0;
  }
}

tr.fade td {
  animation: fade-out .1s .1s forwards;
}

tr.fade td button {
  display: none !important;
}

tr.fade {
  animation: fade-out .1s .1s forwards;
  opacity: 0;
  border-bottom: 0 transparent;
}
