@import "variables";

.alert {
    &.alert-orange {
        background: $orange;
        color: $white;
        
        a {
            text-decoration: none;
            color: $white;
        }
    }
}

.growl {
    padding-right: 25px;

    // Customized alert styles for growl
    &.alert {
        &-success {
            background: map_get($theme-colors, 'success');
            border-color: map_get($theme-colors, 'success');
            color: $white;
        }

        &-info {
            background: map_get($theme-colors, 'info');
            border-color: map_get($theme-colors, 'info');
            color: $white;
        }

        &-notice,
        &-warning {
            background: map_get($theme-colors, 'warning');
            border-color: map_get($theme-colors, 'warning');
            color: $white;
        }

        &-alert,
        &-danger {
            background: map_get($theme-colors, 'danger');
            border-color: map_get($theme-colors, 'danger');
            color: $white;
        }
    }

    [data-notify="dismiss"] {
        color: $white;
        opacity: 0.6;

        &:hover {
            opacity: 0.8;
        }
    }

    [data-notify="wrapper"]{
        display: flex;
    }

    [data-notify="content"] {
        text-align: left;
    }

    [data-notify="title"] {
        font-weight: bold;
    }

    [data-notify="icon"] {
        font-size: 1.2em;
        padding-right: 0.5em;
    }
}