.icon-pacer {
    width: 1.68em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: asset-url('icons/pacer-white.svg');

    .active & {
        background-image: asset-url('icons/pacer-black.svg');
    }
}

.icon-stopped {
    width: 0.93em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: asset-url('icons/stopped-white.svg');

    .active & {
        background-image: asset-url('icons/stopped-black.svg');
    }
}

/****************
Help Tooltip Icon
*****************/
.help-tooltip {
	display: inline-block;
	font-size: 16px;
	position: relative;
    margin-top: -1px;
    
	& > .fa.fa-question-circle {
        // Break this out into it's own class? It just creates a background for circular icons
        background: $white;
        border-radius: 50%;
    }

	i {
		color: $blue;
	}
}

.loading-icon {
    display: inline;
}