.col-login {
    // Keep login dialogs at a consistent size
    max-width: 30rem;
}

.ost-toolbar {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 2px solid $darkerGray;
}

.ost-article {
    margin-top: 20px;
}