.table thead th {
    border-top: none;
}

.table .table-button {
    border-left: 1px $table-border-color solid;
    border-right: 1px $table-border-color solid;
    text-align: center;
    vertical-align: middle;
    padding: 0;

    & + & {
        border-left: none;
    }
}