<% content_for :title do %>
  <% "OpenSplitTime: Export Jobs - #{current_user.full_name}" %>
<% end %>

<%= turbo_stream_from current_user %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <div class="h1 fw-bold">Exported Files</div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active"><%= current_user.full_name %></li>
            <li class="breadcrumb-item active">Exports</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div id="export_jobs">
    <%= render partial: "export_job", collection: export_jobs %>
  </div>
</article>
