<%# New Growl Style Flash Messages %>
<% if obj.errors.any? %>
<script type="text/javascript">
  $(function() {
    $.notify({
      title: '<%= pluralize(obj.errors.size, "error") %> prohibited this record from being saved:',
      message: '\
          <ul class="list-unstyled">\
            <% obj.errors.full_messages.each do |msg| %>\
                <li><%= msg %></li>\
            <% end %>\
          </ul>'
    }, {
      type: 'danger',
      delay: 0 // Prevent automatic dismissal
    });
  });
</script>
<% end %>