<%# locals: (obj:) %>

<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul class="mb-0">
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
