<%# locals: (event_group:) -%>

<aside class="bg-primary p-3">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col text-start">
        <h5>You are in Construction Mode</h5>
      </div>
      <div class="col text-end">
        <%= link_to_monitor_mode(event_group) %>
      </div>
    </div>
  </div>
</aside>
