<!-- Mode Selector Widget: Requires local :presenter -->

<aside class="bg-primary p-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-left">
        <h5 class="nav-link">You are in Construction Mode</h5>
      </div>
      <div class="col text-right">
        <%= link_to "Return to monitor mode", roster_event_group_path(presenter.event_group), class: 'btn btn-outline-light' %>
      </div>
    </div>
  </div>
</aside>
