<%# locals: (next_page_url:) -%>

<div id="pager" class="row">
  <div class="col text-center">
    <% if next_page_url.present? %>
      <%= link_to "Show More",
                  next_page_url,
                  data: {
                    controller: "autoclick",
                    turbo_stream: true,
                  } %>
    <% else %>
      <p>End of List</p>
    <% end %>
  </div>
</div>
