<%# locals: (title:, icon:, link:) -%>

<%= link_to link, class: "nav-link btn px-0 align-middle text-start" do %>
  <span class="d-inline-flex justify-content-center" style="width: 35px;">
    <%= fa_icon icon, type: :regular, size: "2x" %>
  </span>
  <span class="ms-2 me-3 d-none d-xl-inline fs-4">
    <%= title %>
  </span>
<% end %>
