<ul class="breadcrumb breadcrumb-ost">
  <% if @presenter.organization.persisted? %>
    <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
    <li class="breadcrumb-item"><%= link_to @presenter.organization_name, organization_path(@presenter.organization) %></li>
  <% end %>
  <% if @presenter.event_group.persisted? %>
    <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
  <% end %>
  <li class="breadcrumb-item active"><%= @presenter.current_step.titleize %></li>
</ul>
