<%# locals: (title:, body:, icon:) %>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast">
  <div class="toast-header">
    <strong class="me-auto"><%= title %></strong>
    <small><%= time_ago_in_words(Time.current) %></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%= body %>
  </div>
</div>
