<h1>Welcome to OpenSplitTime!</h1>
<p>Explore the database</p>
<ul>
    <li><p><a href="events/">Events</a></p></li>
    <li><p><a href="courses/">Courses</a></p></li>
</ul>
<p>For event managers</p>
<ul>
    <li><p><a href="#">Create a new event</a></p></li>
    <li><p><a href="#">Upload a completed event</a></p></li>
</ul>
