<%# locals: (course_id:, event_id:) -%>

<div id="course_setup_map"
     style="width: 100%; height: 500px;"
     class="border border-secondary"
     data-controller="maps"
     data-course-setup--main-target="map"
     data-maps-course-id-value="<%= course_id %>"
     data-maps-event-id-value="<%= event_id %>"
     data-maps-active-marker-url-value="<%= asset_path('icons/dot-blue.svg') %>"
     data-maps-inactive-marker-url-value="<%= asset_path('icons/dot-lblue.svg') %>"
     data-maps-editable-value="false"
     data-action="course-setup--main:aid-station-changed->maps#updateMarkers
                    course-setup--main:set-marker-highlight->maps#highlightMarker
                    course-setup--main:refresh-markers->maps#refreshMarkers"
></div>
