<%= form_tag event_path(event), method: :get do %>
  <div class="input-group">
      <%= text_field_tag 'filter[search]',
                          @presenter.search_text,
                          placeholder: 'Bib #, First name, Last name, State, or Country',
                          autofocus: true,
                          class: 'form-control search-box' %>
    <span class="input-group-append">
      <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
          <i class='fa fa-search'></i> Find someone
      <% end %>
    </span>
  </div>
<% end %>
