<%# Requires parameter events %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date and Time</th>
    <th>Details</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% events.each do |event| %>
      <tr>
        <td><strong><%= link_to event.name, event_path(event) %></strong></td>
        <td><%= l(event.start_time_in_home_zone, format: :full_day_time_and_zone) %></td>
        <td><%= "#{pluralize(event.effort_count, 'effort')}" %></td>
        <td>
          <% if @current_user && event.available_live && @current_user.authorized_to_edit?(event) %>
              <%= link_to 'Live Entry', live_entry_live_event_path(event), class: "btn btn-xs btn-warning" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
