<div class="row header">
  <div class="col-xs-6 partner-ad">
    <a href="<%= url_with_protocol(partner.banner_link) %>" target="_blank">
      <img src="<%= partner.banner.url(:medium) %>">
    </a>
  </div>
</div>
