<div class="ost-subtitle">
  <p>
    <% if @presenter.event_start_time_local %>
      <%= l(@presenter.event_start_time_local, format: :full_day_time_and_zone) %>
    <% else %>
      Time not yet established
    <% end %>
    <% if @presenter.respond_to?(:course) %>
      on <%= link_to @presenter.course_name, course_path(@presenter.course) %>
    <% end %>
  </p>
</div>
