<%# Requires parameter effort %>

<tr>
  <td><%= effort.personal_info %></td>
  <td>
    <% if effort.suggested_match %>
        <%= link_to 'Same person >>',
                    associate_participant_effort_path(effort,
                                                      participant_id: effort.suggested_match.id,
                                                      event_id: @event.id),
                    method: :put,
                    class: "btn btn-xs btn-primary" %>
    <% end %>
  </td>
  <td>
    <% if effort.suggested_match %>
        <%= effort.suggested_match.personal_info %>
    <% end %>
  </td>
  <td>
    <%= link_to 'New participant',
                create_participants_event_path(effort_ids: effort.id, event_id: @event.id),
                method: :post,
                class: "btn btn-xs btn-success" %>
  </td>
</tr>