<div class="btn-group">

  <%= link_to 'Search and explore', event_path(view_object),
              disabled: explore_button_disabled?(view_object.class),
              class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Full spread', spread_event_path(view_object),
              disabled: spread_button_disabled?(view_object.class),
              class: 'btn btn-sm btn-primary' %>

  <%= link_to_classic_admin(view_object, @current_user) %>
  <%= link_to_event_staging(view_object, @current_user) %>

</div>
