<div class="btn-group">

  <% unless view_object.simple? %>
      <%= link_to 'Search and explore', event_path(view_object.event),
                  disabled: explore_button_disabled?(view_object.class),
                  class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Full spread', spread_event_path(view_object.event),
                  disabled: spread_button_disabled?(view_object.class),
                  class: 'btn btn-sm btn-primary' %>
  <% end %>

  <% if @current_user && @current_user.authorized_to_edit?(view_object.event) %>
      <%= link_to 'Classic Admin', stage_event_path(view_object.event),
                  disabled: stage_button_disabled?(view_object.class),
                  class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Event Staging', event_staging_app_path(view_object.event),
                  class: 'btn btn-sm btn-primary' %>
  <% end %>

</div>
