<h1 align="center">Listing All Events</h1>
<div class="row">
  <div class="col-xs-8">
    <%= link_to 'Create New Event', new_event_path, class: "btn btn-sm btn-success" %>
  </div>
</div>
<hr>

<%= render 'event', obj: @events %>