<div class="row header">
	<div class="col-xs-8 page-title">
		<h1>Real-Time Data Entry</h1>
		<h2></h2>
	</div>
	<div class="col-xs-4 aid-station text-right">
		<div class="col-xs-6 aid-station-label">
			Aid Station
		</div>

		<!--	 
			This span stores the event ID from the url so JavaScript can pass it to the controller.
			There may be a better way to do this in the controller, because this breaks MVC.
		 -->
		<span id="js-event-id" class="event-id"><%= params[:id] %></span>
		<div class="col-xs-6 aid-station-select">
			<select name="split-select" id="split-select"></select>
		</div>
	</div>
</div>
<div class="row form-split-wrapper">
	<div class="col-xs-4 live-entry">
		<form id="js-get-effort-form">
			<div class="form-group clearfix">
				<label class="col-xs-4" for="bib-number">Bib #</label>
				<div class="col-xs-8">
					<input type="text" id="bib-number" name="bibNumber" class="jform-control" placeholder="Bib #">
					<button type="submit" class="btn btn-primary btn-xs js-add-to-cache">Lookup</button>
				</div>
			</div>
		</form>
		<form id="js-add-effort-form">
			<div class="form-group clearfix">
				<label class="col-xs-4" for="time-in">Time In</label>
				<div class="col-xs-8">
					<input type="text" id="time-in" name="timeIn" class="form-control" placeholder="Time In" disabled="disabled">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-xs-4" for="time-out">Time Out</label>
				<div class="col-xs-8">
					<input type="text" id="time-out" name="timeOut" class="form-control" placeholder="Time Out" disabled="disabled">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-xs-4" for="pacer">Pacer</label>
				<div class="col-xs-8">
					<label class="checkbox-inline">
						<input type="checkbox" id="pacer-in" name="pacerIn" value="true" disabled="disabled"> In
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" id="pacer-out" name="pacerOut" value="true" disabled="disabled"> Out
					</label>
				</div>
				<p class="col-xs-8 message">Enter * if data is not clear</p>
			</div>

			<div class="col-xs-8 col-xs-offset-4">
				<input type="hidden" name="effort-id" id="js-effort-id" value="put_effort_id_here">
				<input type="hidden" name="split-id" id="js-split-id" value="put_split_id_here">
				<button type="submit" class="btn btn-primary js-add-to-cache">Add</button>
			</div>
		</form>
	</div>
	<div class="col-xs-8 splits-slider">

	</div>
</div>

<div class="row provisional-data">
	<div class="col-xs-12">
		<h3>Provisional Data Cache</h3>
		<div class="provisional-table-wrapper">
			<table class="table table-striped provisional-data-table js-provisional-data-table">
				<thead>
					<tr>
						<th>Aid Station</th>
						<th>Bib&num;</th>
						<th>Time In</th>
						<th>Time Out</th>
						<th>Pacer In?</th>
						<th>Pacer Out?</th>
						<th>Name</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr class="effort-station-row js-effort-station-row" data-bib-number="" data-effort-name="" data-split-name="" data-time-in="" data-time-out="" data-pacer-in="boolean" data-pacer-out="boolean" >
						<td class="split-name js-split-name">Pole Creek</td>
						<td class="bib-number js-bib-number">125</td>
						<td class="time-in js-time-in">4:38</td>
						<td class="time-out js-time-out">4:40</td>
						<td class="pacer-in js-pacer-in">Yes</td>
						<td class="pacer-out js-pacer-out">Yes</td>
						<td class="effort-name js-effort-name">Brandon Stapanowich</td>
						<td class="row-edit-btns">
							<button class="effort-row-btn fa fa-pencil edit-effort js-edit-effort btn btn-primary"></button>
							<button class="effort-row-btn fa fa-close delete-effort js-delete-effort btn btn-danger"></button>
							<button class="effort-row-btn fa fa-check submit-effort js-submit-effort btn btn-success"></button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 col-md-offset-8 table-submit-wrapper">
		<button class="delete-all-efforts btn btn-danger">Delete All</button>
		<button class="submit-all-efforts btn btn-success">Submit All</button>
	</div>
</div>