<div class="row header">
	<div class="col-xs-8 page-title">
		<h1>Real-Time Data Entry</h1>
		<h2></h2>
	</div>
	<div class="col-xs-4 aid-station text-right">
		<div class="col-xs-6 aid-station-label">
			Aid Station
		</div>

		<!--
			This span stores the event ID from the url so JavaScript can pass it to the controller.
			There may be a better way to do this in the controller, because this breaks MVC.
		 -->
		<span id="js-event-id" class="event-id"><%= params[:id] %></span>
		<div class="col-xs-6 aid-station-select">
			<select name="split-select" id="split-select"></select>
		</div>
	</div>
</div>
<div class="row form-split-wrapper">
	<div class="col-xs-12 col-sm-4 live-entry">
		<form id="js-add-effort-form">
			<div class="form-group clearfix">
				<label class="col-xs-4" for="bib-number">Bib #</label>
				<div class="col-xs-8">
					<input type="text" id="js-bib-number" name="bibNumber" class="form-control" placeholder="Bib #" autocomplete="off" value="" style="text-align: left;">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-xs-4" for="time-in">Time In</label>
				<div class="col-xs-8">
					<input type="text" id="js-time-in" name="timeIn" class="form-control" disabled="disabled" value="">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-xs-4" for="time-out">Time Out</label>
				<div class="col-xs-8">
					<input type="text" id="js-time-out" name="timeOut" class="form-control" disabled="disabled" value="">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-xs-4" for="pacer">Pacer</label>
				<div class="col-xs-8">
					<label class="checkbox-inline">
						<input type="checkbox" id="js-pacer-in" name="pacerIn" value="true" disabled="disabled"> In
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" id="js-pacer-out" name="pacerOut" value="true" disabled="disabled"> Out
					</label>
				</div>
				<p class="col-xs-8 message">Enter * if data is not clear</p>
			</div>
			<div class="col-xs-8 col-xs-offset-2 col-sm-offset-4">
				<input type="hidden" name="effort-id" id="js-effort-id" value="">
				<input type="hidden" name="live-bib" id="js-live-bib" value="">
				<button type="submit" class="btn btn-primary" id="js-add-to-cache">Add</button>
				<br><br>
				<button type="submit" class="btn btn-danger" id="js-clear-entry-form">Clear</button>
			</div>
		</form>
	</div>
	<div class="col-xs-12 col-sm-8 splits-slider">

		<div class="col-xs-12">
			<div id="js-split-slider" class="splits-slider-plotter">
			</div>
		</div>
		<div class="splits-slider-data col-xs-12">
			<div class="col-xs-6 data-label active">Name:</div>
			<div id="js-effort-name" class="col-xs-6">&nbsp;</div>

			<div class="col-xs-6 data-label">Last Reported:</div>
			<div id="js-effort-last-reported" class="col-xs-6 ">&nbsp;</div>

			<div class="col-xs-6 data-label">Time From Last Reported:</div>
			<div id="js-last-reported" class="col-xs-6">&nbsp;</div>

			<div class="col-xs-6 data-label">Time Spent:</div>
			<div id="js-time-spent" class="col-xs-6 js-effort-split-spent">&nbsp;</div>
		</div>

	</div>
</div>

<div class="row provisional-data">
	<div class="col-xs-12">
		<h3>Provisional Data Cache</h3>
		<div class="provisional-table-wrapper">
			<table class="table table-striped provisional-data-table js-provisional-data-table">
				<thead>
					<tr>
						<th>Aid Station</th>
						<th>Bib&num;</th>
						<th>Time In</th>
						<th>Time Out</th>
						<th>Pacer In?</th>
						<th>Pacer Out?</th>
						<th>Name</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr
						class="effort-station-row js-effort-station-row"
						data-unique-id="0"
						data-event-id="1"
						data-split-id="09876"
						data-effort-id="54321"
						data-bib-number="125"
						data-effort-name="Brandon Stapanowich"
						data-split-name="Pole Creek"
						data-time-in="4:38"
						data-time-out="4:40"
						data-pacer-in="true"
						data-pacer-out="false" >
						<td class="split-name js-split-name">Pole Creek</td>
						<td class="bib-number js-bib-number">125</td>
						<td class="time-in js-time-in">4:38</td>
						<td class="time-out js-time-out">4:40</td>
						<td class="pacer-in js-pacer-in">Yes</td>
						<td class="pacer-out js-pacer-out">No</td>
						<td class="effort-name js-effort-name">Brandon Stapanowich</td>
						<td class="row-edit-btns">
							<button class="effort-row-btn fa fa-pencil edit-effort js-edit-effort btn btn-primary"></button>
							<button class="effort-row-btn fa fa-close delete-effort js-delete-effort btn btn-danger"></button>
							<button class="effort-row-btn fa fa-check submit-effort js-submit-effort btn btn-success"></button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-md-offset-8 table-submit-wrapper">
		<button class="js-delete-all-efforts btn btn-danger">Delete All</button>
		<button class="js-submit-all-efforts btn btn-success">Submit All</button>
	</div>
</div>