<div class="row header">
	<div class="col-xs-8 page-title">
		<h1>Real-Time Data Entry Entry</h1>
		<h2>Hardrock 100 2016</h2>
	</div>
	<div class="col-xs-4 aid-station text-right">
		<div class="col-xs-6 aid-station-label">
			Aid Station
		</div>
		<div class="col-xs-6 aid-station-select">
			<select name="" id="">
				<option value="" selected="">-- Select --</option>
				<option value="pole-creek">Pole Creek</option>s
			</select>
		</div>
	</div>
</div>

<div class="row form-split-wrapper">
	<div class="live-entry">

	</div>
	<div class="splits-slider">

	</div>
</div>

<div class="row provisional-data">

</div>