<% content_for :title do %>
    <% "OpenSplitTime: Reconcile efforts - #{@event.name}" %>
<% end %>
<div class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h3><%= "Showing #{@unreconciled_batch.size} of #{@event.unreconciled_efforts.size} Unreconciled efforts for #{@event.name}" %></h3>
    </div>
    <div class="col-md-4">
      <% if suggested_match_count(@unreconciled_batch) > 0 %>
          <%= link_to "Match #{suggested_match_count(@unreconciled_batch)} people",
                      associate_people_event_path(ids: suggested_match_id_hash(@unreconciled_batch)),
                      method: :put,
                      class: 'btn btn-sm btn-primary btn-margin-top' %>
      <% end %>
      <%= link_to "Create #{@unreconciled_batch.size} people",
                  create_people_event_path(@event.id, effort_ids: @unreconciled_batch.ids),
                  method: :post,
                  data: {confirm: "Create #{@unreconciled_batch.size} new people?"},
                  class: 'btn btn-sm btn-success btn-margin-top pull-right' %>
    </div>
  </div>
</div>

<table class="table table-condensed table-striped">

  <thead>
  <tr>
    <th>Personal Effort Info</th>
    <th></th>
    <th>Suggested Match</th>
    <th>Create</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @unreconciled_batch.each do |effort| %>
      <%= render 'unreconciled_effort', effort: effort %>
  <% end %>
  </tbody>

</table>
