<%# locals: (title:, body:, type:) %>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast">
  <div class="toast-header h5">
    <span class="text-<%= type %> me-2"><%= fa_icon(toast_icon_from_type(type)) %></span>
    <span class="fw-bold me-auto"><%= title %></span>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%= body %>
  </div>
</div>
