<%= form_tag organization_lottery_path(@presenter.organization, @presenter.lottery), class: 'w-100', method: :get do %>
  <div class="input-group">
    <%= hidden_field_tag :sort, nil %>
    <%= text_field_tag 'filter[search]',
                       prepared_params[:search],
                       placeholder: 'First name, last name, state, or country',
                       autofocus: true,
                       class: 'form-control search-box' %>
    <span class="input-group-append">
      <%= button_tag(type: :submit, id: 'lottery-entrant-lookup-submit', class: 'btn btn-primary') do %>
          <i class='fas fa-search'></i>
      <% end %>
    </span>
  </div>
<% end %>
