<%# locals: (presenter:) -%>

<div id="<%= dom_id(presenter.lottery, :pre_selected_entrants_card) %>">
  <div class="card mt-4"
       data-controller="visibility"
       data-visibility-button-hide-class-value="btn-primary"
       data-visibility-button-hide-text-value="Hide"
       data-visibility-button-show-class-value="btn-outline-primary"
       data-visibility-button-show-text-value="Reveal">
    <div class="card-header">
      <div class="row pt-1">
        <div class="col">
          <div>
            <span class="h3 fw-bold me-2">Pre-Selected Entrants</span>
            <span class="h5 text-muted"><%= pluralize_with_delimiter(presenter.lottery_entrants.pre_selected.count, 'entrant') %></span>
          </div>
        </div>
        <div class="col-4 col-md-2 text-end d-grid">
          <%= button_tag nil,
                         class: "btn d-none",
                         "data-action": "visibility#toggleElement",
                         "data-visibility-target": "button" %>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive" data-visibility-target="element">
      <%= render partial: "lottery_entrants/lottery_entrant_admin", collection: presenter.lottery_entrants.pre_selected, as: :record %>
    </div>
  </div>
</div>
