<%# locals: (presenter:) %>

<% if presenter.viewable_results? %>
  <% if presenter.lottery_draws.exists? %>
    <% presenter.ordered_divisions.each do |division| %>
      <div class="card">
        <h4 class="card-header fw-bold bg-primary text-white"><%= "#{division.name}" %></h4>
        <div class="card-body">
          <h5>Accepted</h5>
          <% if division.accepted_entrants.present? %>
            <ol>
              <%= render partial: "entrant_for_results", collection: division.accepted_entrants, as: :entrant %>
            </ol>
          <% else %>
            <p>No entrants have been drawn yet</p>
          <% end %>

          <% if division.waitlisted_entrants.present? %>
            <h5>Wait List</h5>
            <ol>
              <%= render partial: "entrant_for_results", collection: division.waitlisted_entrants, as: :entrant %>
            </ol>
          <% end %>

          <% if division.withdrawn_entrants.present? %>
            <h5>Withdrawn</h5>
            <ol>
              <%= render partial: "entrant_for_results", collection: division.withdrawn_entrants, as: :entrant %>
            </ol>
          <% end %>
        </div>
      </div>
      <br/>
    <% end %>
  <% else %>
    <p><strong>No results are available yet</strong></p>
  <% end %>
<% else %>
  <h6 class="text-center">This lottery is not yet live</h6>
<% end %>
