<% content_for :title do %>
  <% "OpenSplitTime: Edit split #{@split.base_name} for #{@event.name}" %>
<% end %>

<main class="container">
  <%= turbo_frame_tag "form_modal" do %>
    <div class="modal-body">
      <%= render "splits/form", event: @event, split: @split %>
    </div>
  <% end %>
</main>
