<% content_for :title do %>
    <% "OpenSplitTime: List splits" %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>Splits</strong>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'splits', splits: @splits, referred_by: splits_path %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
