<% content_for :title do %>
    <% "OpenSplitTime: List splits" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Splits</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active">Splits</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
  <%= render 'splits', splits: @splits, referred_by: splits_path %>
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
</article>
