<%# locals: (count:) -%>

<% count ||= nil %>

<button id="force_pull_times_button"
        class="btn btn-danger d-none"
        data-controller="live-entry--pull-times"
        data-live-entry--pull-times-force-value="true"
        data-action="keydown@document->live-entry--pull-times#keydown
                     keyup@document->live-entry--pull-times#keyup"
>
  Force Pull
  <span class="badge bg-light text-black ms-1"><%= count if count&.positive? %></span>
</button>
