<%= link_to 'Settings', event_group_path(event.event_group), class: 'btn btn-sm btn-primary' %>
<div class="btn-group">
  <%= link_to 'Live entry', live_entry_live_event_group_path(event.event_group),
              disabled: action_name == 'live_entry', class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Progress', progress_report_live_event_path(event),
              disabled: action_name == 'progress_report', class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Aid stations', aid_station_report_live_event_path(event),
              disabled: action_name == 'aid_station_report', class: 'btn btn-sm btn-warning' %>
</div>
