<%# locals: (event_group:, distance_unit:, presenter:) %>

<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-end"><%= distance_unit %></th>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed Time</th>
  </tr>
  </thead>
  <tbody id="lap_split_rows_for_live_entry">
  <% if presenter.present? %>
    <%= render "split_times/lap_split_rows_for_live_entry", presenter: presenter %>
  <% end %>
  </tbody>
</table>
