<% content_for :title do %>
  <% "OpenSplitTime: Live entry - #{@event_group.name}" %>
<% end %>

<div class="row header">
  <div id="js-group-new-times-alert" class="alert alert-info center" role="alert">
    <a href="#js-group-import-live-times">New Live Times availale</a>
  </div>
  <div class="col-xs-12 col-md-6 page-title">
    <h2></h2>
    <%= content_tag(:div, id: "js-event-group-id", data: {event_group_id: @event_group.id, server_uri: ENV['BASE_URI']}) do %>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6 page-navigation">
    <%= render 'live_entry_button_cluster', page: 'group_live_entry' %>
  </div>

</div>


<div class="row form-split-wrapper lap-disabled group-disabled time-in-disabled time-out-disabled pacer-disabled">

  <div class="col-xs-12 col-sm-5 col-md-4 live-entry">
    <span id="js-group-live-times-pusher" data-key="<%= ENV['PUSHER_KEY'] %>"></span>
    <form id="js-group-add-effort-form">
      <input type="hidden" id="js-group-live-time-id-in" value=""/>
      <input type="hidden" id="js-group-live-time-id-out" value=""/>
      <div class="form-group form-group-sm clearfix">
        <label class="col-xs-4" for="js-group-station-select">Aid Station</label>
        <div class="col-xs-8">
          <select id="js-group-station-select" name="js-group-station-select" class="form-control" autofocus>Aid Station</select>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix">
        <label class="col-xs-4" for="js-group-bib-number">Bib</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input id="js-group-bib-number" type="tel" name="bibNumber" class="form-control" autocomplete="off" value="" style="text-align: left;">
            <span class="input-group-addon time-status">
              <span class="glyphicon glyphicon-ok-sign good text-success" title="Bib Found" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-question-sign questionable text-warning" title="Bib In Wrong Event" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-remove-sign bad text-danger" title="Bib Not Found" data-toggle="tooltip" data-placement="right"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix lap-only">
        <label class="col-xs-4" for="js-group-lap-number">Lap</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input id="js-group-lap-number" type="tel" name="lap" class="form-control" autocomplete="off" value="" style="text-align: left;">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix time-in-only">
        <label class="col-xs-4" for="js-group-time-in">Time In</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input id="js-group-time-in" type="tel" name="timeIn" class="form-control" value="" placeholder="hh:mm:ss (24hr)">
            <span class="input-group-addon time-status">
              <span class="glyphicon glyphicon-exclamation-sign exists" title="Data Already Exists" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-ok-sign good text-success" title="Time Appears Good" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-question-sign questionable text-warning" title="Time Appears Questionable" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-remove-sign bad text-danger" title="Time Appears Bad" data-toggle="tooltip" data-placement="right"></span>
            </span>
            <span id="js-group-rapid-time-in" class="input-group-addon time-mode">
              <span class="glyphicon glyphicon-time null" title="Enable Rapid Mode" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-flash enabled" title="Disable Rapid Mode" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-ban-circle disabled" title="Rapid Mode Halted" data-toggle="tooltip" data-placement="right"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix time-out-only">
        <label class="col-xs-4" for="js-group-time-out">Time Out</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input id="js-group-time-out" type="tel" name="timeOut" class="form-control" value="" placeholder="hh:mm:ss (24hr)">
            <span class="input-group-addon time-status">
              <span class="glyphicon glyphicon-exclamation-sign exists" title="Data Already Exists" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-ok-sign good text-success" title="Time Appears Good" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-question-sign questionable text-warning" title="Time Appears Questionable" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-remove-sign bad text-danger" title="Time Appears Bad" data-toggle="tooltip" data-placement="right"></span>
            </span>
            <span id="js-group-rapid-time-out" class="input-group-addon time-mode">
              <span class="glyphicon glyphicon-time null" title="Enable Rapid Mode" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-flash enabled" title="Disable Rapid Mode" data-toggle="tooltip" data-placement="right"></span>
              <span class="glyphicon glyphicon-ban-circle disabled" title="Rapid Mode Halted" data-toggle="tooltip" data-placement="right"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix pacer-only">
        <label class="col-xs-4" for="pacer">Pacer</label>
        <div class="col-xs-8">
          <label class="checkbox-inline" for="js-group-pacer-in">
            <input id="js-group-pacer-in" type="checkbox" name="pacerIn" value="true"> In
          </label>
          <label class="checkbox-inline" for="js-group-pacer-out">
            <input id="js-group-pacer-out" type="checkbox" name="pacerOut" value="true"> Out
          </label>
        </div>
      </div>
      <div class="form-group form-group-sm clearfix">
        <label class="col-xs-4"></label>
        <div class="col-xs-8">
          <button id="js-group-dropped-button" type="button" class="btn btn-sm btn-default col-xs-12">
            <input id="js-group-dropped" type="checkbox" name="dropped" value="true">
            <span class="glyphicon glyphicon-unchecked"></span>
            &nbsp;Dropped Here
          </button>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-offset-4 form-buttons">
        <input id="js-group-effort-id" type="hidden" name="effort-id" value="">
        <input id="js-group-live-bib" type="hidden" name="live-bib" value="">
        <button id="js-group-add-to-cache" type="submit" class="btn btn-sm btn-primary">Add</button>
        <button id="js-group-discard-entry-form" type="submit" class="btn btn-sm btn-danger">Discard</button>
      </div>
    </form>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-8 splits-slider group-disabled">
    <div class="col-xs-12">
      <div id="js-group-station-slider" class="splits-slider-plotter">
      </div>
    </div>
    <div class="splits-slider-data group-splits-slider-data col-xs-12">
      <div class="col-xs-6 data-label active">Name:</div>
      <div class="col-xs-6">
        <a id="js-group-effort-name" data-toggle="modal" data-target="#js-group-html-modal" data-effort-id="" data-event-id="">&nbsp;</a>
      </div>

      <div class="col-xs-6 data-label group-only">Event:</div>
      <div id="js-group-effort-event-name group-only" class="col-xs-6 ">&nbsp;</div>

      <div class="col-xs-6 data-label">Last Reported:</div>
      <div id="js-group-effort-last-reported" class="col-xs-6 ">&nbsp;</div>

      <div class="col-xs-6 data-label">Prior Valid Reported:</div>
      <div id="js-group-prior-valid-reported" class="col-xs-6">&nbsp;</div>

      <div class="col-xs-6 data-label">Time From Prior Valid Reported:</div>
      <div id="js-group-time-prior-valid-reported" class="col-xs-6">&nbsp;</div>

      <div class="col-xs-6 data-label">Time Spent:</div>
      <div id="js-group-time-spent" class="col-xs-6">&nbsp;</div>
    </div>
  </div>

</div>

<div class="row provisional-data lap-disabled group-disabled time-in-disabled time-out-disabled pacer-disabled">

  <div class="col-xs-12">
    <h3>Local Data Workspace</h3>
    <div class="provisional-table-wrapper">
      <table id="js-group-local-workspace-table" class="table table-striped provisional-data-table">
        <thead>
        <tr>
          <th>Aid Station</th>
          <th class="group-only">Event</th>
          <th>Bib</th>
          <th class="lap-only">Lap</th>
          <th class="time-in-only">Time In</th>
          <th class="time-out-only">Time Out</th>
          <th class="pacer-only">Pacer</th>
          <th>Dropped</th>
          <th>Name</th>
          <th data-orderable="false">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr style="display: none">
          <td data-order="0"></td>
          <td class="group-only"></td>
          <td></td>
          <td class="lap-only"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="js-group-live-messages">
    <div class="alert alert-warning" role="alert" id="js-group-import-live-warning">
      <strong>You're up to date</strong> No live time data available to pull.
    </div>
    <div class="alert alert-danger" role="alert" id="js-group-import-live-error">
      <strong>Error</strong> Couldn't read data from the server.
    </div>
  </div>
</div>
<div class="row provisional-data">
  <div class="col-xs-12 table-submit-wrapper">
    <div class="btn-group" role="group">
      <button id="js-group-import-live-times" class="btn btn-primary">
        Pull Times
        <span class="badge" id="js-group-pull-times-count"></span>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button id="js-group-file-split" class="btn btn-primary" disabled></button>
      <button class="btn btn-primary fileinput-button">
        <span>Import File</span>
        <input id="js-group-file-upload" type="file" name="file"/>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button id="js-group-delete-all-efforts" class="btn btn-danger">Discard All</button>
      <button id="js-group-delete-all-warning" class="btn btn-danger" disabled>Cannot Be Undone</button>
    </div>
    <button id="js-group-submit-all-efforts" class="btn btn-success">Submit All</button>
  </div>

  <div id="debug">
  </div>

  <div id="js-group-html-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <div class="js-modal-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
