<%# locals: (service:, user:) %>

<div class="card mt-4"
     data-controller="visibility"
     data-visibility-button-hide-class-value="btn-primary"
     data-visibility-button-hide-text-value="Hide"
     data-visibility-button-show-class-value="btn-outline-primary"
     data-visibility-button-show-text-value="Reveal">
  <div class="card-header">
    <div class="row pt-1">
      <div class="col">
        <h4 class="pt-1"><strong><%= service.name %></strong></h4>
      </div>
      <div class="col-4 col-lg-2 text-end d-grid">
        <%= button_tag nil,
                       class: "btn d-none",
                       "data-action": "visibility#toggleElement",
                       "data-visibility-target": "button" %>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive" data-visibility-target="element">
    <%= render partial: "credentials/form",
               collection: service.credential_keys,
               as: :key,
               locals: { user: user, service_identifier: service.identifier } %>
  </div>
</div>
