<%# locals: (title:, icon:, link:) -%>

<%= link_to link, class: "nav-link align-middle px-0" do %>
  <span class="d-inline-flex justify-content-center" style="width: 35px;">
    <%= fa_icon icon, type: :regular, size: "2x" %>
  </span>
  <span class="ms-2 d-none d-md-inline fs-4">
    <%= title %>
  </span>
<% end %>
