<% content_for :title do %>
  <% "OpenSplitTime: User Credentials" %>
<% end %>

<%= render "header", title: "Password" %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col">
      <p>Credentials are stored securely and encrypted at rest in the OpenSplitTime database. Credentials are used only as needed to connect with outside services.</p>

      <% current_user.credentials.pluck(:service_identifier).uniq.each do |service_identifier| %>
        <%= render partial: "user_settings/credentials_service_card",
                   locals: { service: Connectors::Service::BY_IDENTIFIER[service_identifier], user: current_user } %>
      <% end %>
    </div>
  </div>
</article>
