---
http_interactions:
- request:
    method: get
    uri: https://www.rattlesnakeramble.org/race_editions/1?format=json&user%5Bemail%5D=user@example.com&user%5Bpassword%5D=password
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62dd9fe10a594e7e6e7794fb764c6d8b"
    body:
      encoding: UTF-8
      string: '{
        "date":"2023-09-16",
        "default_start_time_male":"2023-09-16T13:47:00.000Z",
        "default_start_time_female":"2023-09-16T13:52:00.000Z",
        "entry_fee":25,
        "created_at":"2023-08-14T14:31:00.575Z",
        "updated_at":"2023-08-07T19:23:48.976Z",
        "race":{"name":"Rattlesnake Ramble Trail Race - Odd Years"},
        "race_entries":
          [
            {
              "bib_number":3,
              "scheduled_start_time":null,
              "racer":{
                "first_name":"Bubba",
                "last_name":"Gump",
                "gender":"male",
                "birth_date":"1971-04-24",
                "email":"bubba@gump.com",
                "city":"Atlanta",
                "state":"GA"
              }
            },
            {
              "bib_number":19,
              "scheduled_start_time":null,
              "racer":{
                "first_name":"Jenny",
                "last_name":"Gump",
                "gender":"female",
                "birth_date":"1998-01-22",
                "email":"jenny@bubba.com",
                "city":"Los Angeles",
                "state":"CA"
              }
            }
          ]
        }'
  recorded_at: Thu, 27 Feb 2025 16:53:04 GMT
recorded_with: VCR 4.0.0
