<% content_for :title do %>
  <% "OpenSplitTime: Import Jobs - #{current_user.full_name}" %>
<% end %>

<%= turbo_stream_from current_user %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Import Jobs</strong></h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to current_user.full_name, user_path(current_user) %></li>
            <li class="breadcrumb-item active">Import Jobs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>Parent</th>
      <th>Files</th>
      <th class="text-center">Row Count</th>
      <th class="text-center">Good/Bad/Ignored</th>
      <th class="text-center">Elapsed Time</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody id="import_jobs">
    <%= render partial: "import_job", collection: import_jobs %>
    </tbody>
  </table>
</article>
