<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">500</span>
        <div class="mb-4 lead">There was an unexpected server error. Our engineers have been notified.</div>
        <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
