<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="ost-title col">
        <h1><strong><%= t('.sign_in').titleize %></strong></h1>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row justify-content-center">
    <div class="col col-login">
      <%= render 'devise/sessions/form', modal: false %>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</article>
