<%# Requires parameter courses %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Splits</th>
    <th>Events</th>
  </tr>
  </thead>
  <tbody>
  <% courses.each do |course| %>
      <tr>
        <td><strong><%= link_to course.name, course_path(course) %></strong></td>
        <td><%= pluralize(course.splits.count, 'split') %></td>
        <td><%= pluralize(course.events.count, 'event') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
