<% content_for :title do %>
    <% 'OpenSplitTime: Courses' %>
<% end %>

<div class="row header">
  <div class="col-xs-12">
    <h2>
      <strong>Courses</strong>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'courses', courses: @courses %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
