<h1 align="center">Listing All Courses</h1>
<div class="row">
  <div class="col-xs-8">
    <%= link_to 'Create New Course', new_course_path, class: "btn btn-sm btn-success" %>
  </div>
</div>
<hr>

<%= render 'course', obj: @courses %>