<% content_for :title do %>
    <% 'OpenSplitTime: Courses' %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Courses</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active">Courses</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
  <%= render 'courses', courses: @courses %>
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
</article>
