<% content_for :title do %>
    <% 'OpenSplitTime: Courses' %>
<% end %>
<div class="row">
  <div class="col col-xs-6">
    <h2>Courses</h2>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Create New Course', new_course_path,
                class: 'btn btn-sm btn-success btn-margin-lg' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<%= render 'courses', courses: @courses %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
