<%# locals: (effort:) -%>

<%= button_tag fa_icon("ellipsis-h"),
               class: "dropdown-toggle no-caret btn btn-sm btn-light",
               data: { bs_toggle: "dropdown" } %>
<div class="dropdown-menu dropdown-menu-end" style="min-width:inherit">
  <%= link_to "Edit", edit_effort_path(effort), class: "dropdown-item", data: { turbo_frame: "form_modal" } %>
  <%= link_to "Delete", effort_path(effort), class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "This cannot be undone. Proceed?" } %>
</div>
