<%# locals: (effort:) %>

<%= turbo_frame_tag "form_modal" do %>
  <div class="modal-header" data-form-modal-target="resizeIndicator">
    <div class="modal-title h4 fw-bold">Add an Entrant</div>
  </div>
  <div class="modal-body">
    <%= render "form", effort: effort %>
  </div>
<% end %>
