<%# locals: (presenter:) -%>

<%= turbo_frame_tag "form_modal_large" do %>
  <div class="modal-header">
    <div class="modal-title h4 fw-bold"><%= "##{presenter.bib_number} #{presenter.full_name}" %></div>
  </div>
  <div class="modal-body">
    <%= render "split_times/projections_list", presenter: presenter %>
  </div>
<% end %>
