<%# locals: (effort:) %>

<tr class="align-middle">
  <td><%= effort.event_name %></td>
  <td class="text-center"><%= effort.scheduled_start_time.year %></td>
  <td><%= badgeize_boolean(effort.finished?) %></td>
</tr>
