<%= turbo_frame_tag "form_modal" do %>
  <div class="text-center m-3">
    <% if @effort.photo.attached? %>
      <%= image_tag(@effort.photo.variant(:medium)) %>
    <% else %>
      <p class="text-body-secondary mb-0">No photo available.</p>
    <% end %>
  </div>
<% end %>
