<%= turbo_frame_tag "form_modal" do %>
  <div class="text-center m-3">
    <% if @effort.photo.attached? %>
      <%= image_tag(@effort.photo.variant(:medium)) %>
    <% else %>
      <%= image_tag "avatar-placeholder.svg", alt: "No photo", width: 200, height: 200 %>
    <% end %>
  </div>
<% end %>
