<div id="effort_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
      <small>[Select a country first]</small>
  <% elsif country.subregions? %>
      <%= subregion_select(:effort, :state_code, parent_region) %>
  <% else %>
      <%= text_field(:effort, :state_code) %>
  <% end %>
</div>