<% if view_object.progress_notifiable? %>
  <%= div_for(view_object.effort, class: 'card') do %>
    <h5 class="card-header">
      <strong><%= "Notify Me of #{view_object.effort.first_name}'s Progress" %></strong>
    </h5>
    <div class="card-body text-center">
      <%= link_to_subscription(view_object.effort, :email) %>
      <%= link_to_subscription(view_object.effort, :sms) %>
    </div>
  <% end %>
<% end %>
