<%# locals: (effort:) -%>

<div class="card effort">
  <h5 class="card-header">
    <strong><%= "Notify Me of #{effort.first_name}'s Progress" %></strong>
  </h5>
  <div class="card-body text-center">
    <%= render "subscriptions/subscription_button", subscribable: effort, protocol: :email %>
    <%= render "subscriptions/subscription_button", subscribable: effort, protocol: :sms %>
  </div>
</div>
