<% content_for :title do %>
  <% "OpenSplitTime: Projections - #{@presenter.full_name} - #{@presenter.event_name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<%= render 'effort_header', view_object: @presenter, title: 'Projections' %>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">

    </div>
  </div>
</aside>

<article class="ost-article container">

  <% if @presenter.actual_lap_split_rows.present? %>
    <%= render 'split_times/projections_list', view_object: @presenter %>
  <% else %>
    <h4><%= "No projections are available. The entrant has not started." %></h4>
  <% end %>
</article>
