<%# locals: (connect_service_presenter:) %>

<div id="event_cards">
  <%= render partial: "event_groups/connect_service/sync_efforts_card",
             locals: { presenter: connect_service_presenter },
             collection: connect_service_presenter.event_group.events.order(:scheduled_start_time),
             as: :event %>
</div>
