<%# locals: (presenter:, event:) -%>

<%= content_tag(:div, id: dom_id(event, :sync_efforts_card)) do %>
  <div class="card my-3">
    <div class="card-header">
      <h4 class="mt-1"><%= event.name %></h4>
    </div>
    <div class="card-body">
      <label>Select corresponding external events</label>
      <% presenter.external_events(event).each do |external_event| %>
        <%= render partial: "event_groups/connect_service/syncable_switch",
                   locals: {
                     event_group: presenter.event_group,
                     event: event,
                     external_id: external_event.id,
                     external_name: external_event.name,
                   } %>
      <% end %>
      <div class="row mt-3">
        <div class="col">
          <%= render partial: "event_groups/connect_service/preview_sync_button", locals: { event: event } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
