<div class="card bg-light mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="font-weight-bold"><%= record.entrant_full_name %></h5>
        <h6><%= record.entrant_flexible_geolocation %></h6>
      </div>
      <div class="col">
        <h4 class="text-right"><span class="badge badge-secondary"><%= record.division_name %></span></h4>
        <h5 class="text-right font-weight-bold"><%= "##{record.reference_number}" %></h5>
      </div>
    </div>
  </div>
</div>
