<%# locals: (record:) -%>

<%= turbo_frame_tag dom_id(record) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= render partial: "lottery_entrants/name_and_geolocation_with_icon", locals: { record: record } %>
        </div>
        <div class="col">
          <h4 class="text-end"><span class="badge bg-secondary"><%= record.division_name %></span></h4>
          <h6 class="text-end fw-bold">
            <%= link_to "#{pluralize(record.number_of_tickets, 'ticket')}",
                        organization_lottery_lottery_entrant_path(record.organization, record.lottery, record) %>
          </h6>
        </div>
      </div>
    </div>
  </div>
<% end %>
