// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

#logo {
  float: left;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

@logo:hover {
  color: #fff;
  text-decoration: none;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
.object-list-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.object-list-title {
  font-weight: bold;
  font-size: 1.5em;
}
.object-list-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  padding-left: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('IMG_3513.jpg');
  background-size:cover;
  height: 800px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -4px;
  font-weight: bold;
}

.btn-margin-top {
  margin-top: 20px;
}

.btn-margin-top-sm {
  margin-top: 5px;
}

.btn-margin-lg {
  margin-top: 27px;
  margin-bottom: 20px;
}

.dropdown-select-field {
  font-size: 120%;
  margin-top: 7px;
}

.dropdown-select-field-carmen {
  font-size: 120%;
  margin-top: 4px;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  font-size: 0.9em;
}

footer ul li {
  float: left;
  margin-left: 15px;
}