@font-face {
  font-family: 'Gibson-SemiBold';
  src: font_url('Gibson-SemiBold.eot');
  src: font_url('Gibson-SemiBold.woff2') format('woff2'),
  font_url('Gibson-SemiBold.woff') format('woff'),
  font_url('Gibson-SemiBold.ttf') format('truetype'),
  font_url('Gibson-SemiBold.svg#Gibson-SemiBold') format('svg'),
  font_url('Gibson-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.navbar-inverse {
  border-radius: 0;
  @media only screen and (min-width: 768px) {
    .navbar-nav > li > a.sign-up {
      border: 1px solid #fff;
      color: #fff;
      padding: 5px 16px;
      margin: 9px 0;
      color: #fff;
    }
  }
}

.visitors.index {
  color: #fff;
  text-align: center;

  h1,
  h2 {
    font-family: 'Gibson-SemiBold', Fallback, sans-serif;
  }

  p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .btn {
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 10px 15px;
    font-weight: 700;
  }

  .photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 10;
    color: #666666;
  }

  .homepage-signup {
    background-color: #101010;
    max-width: 530px;
    height: 190px;
    @media only screen and (min-width: 768px ) {
      height: 135px;
    }

    padding: 20px;
    margin: 0 auto;
    .form-fields {
      margin-bottom: 10px;
    }
    .form-group {
      padding: 0 5px;
    }
    input[name="email"],
    input[name="submit"] {
      box-sizing: border-box;
      float: left;
      border-radius: none;
    }
    input[name="email"]:focus {
      border: solid 1px #868480;
    }
    input[name="email"] {
      color: #868480;
      border: solid 1px #868480;
      width: 100%;
      padding: 10px 15px;
    }
    input[name="submit"] {
      width: 100%;
    }
    .sign-in {
      margin-left: 10px;
      color: #fff;
      border-bottom: solid 1px #fff;
    }
    .sign-in:hover {
      text-decoration: none;
    }
    .learn-more {
      margin-left: 35px;
      color: #336633;
    }
    .learn-more:hover {
      text-decoration: none;
    }
  }
  .navbar {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    .over-text {
      position: absolute;
      width: 100%;
      max-width: 575px;
      padding: 0 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .bg-img {
      width: 100%;
    }
    .gradient {
      background: asset-url('gradient.png') 0 0 repeat-x;
      bottom: 0;
      position: absolute;
      left: 0;
      height: 400px;
      width: 100%;
      z-index: 1;
    }
    &.first,
    &.third,
    &.fifth {
      min-height: 500px;
      transition: background-position 0s linear;
      transform: translateZ( -1 );
      transform-style: flat;
      .cta {
        width: 250px;
        margin-bottom: 10px;
      }
    }
    &.first {
       background: #000 asset-url('home-top.jpg') top center no-repeat;
       background-size: cover;
       //background-attachment: fixed;
     }
     &.third {
       background: #000 asset-url('home-middle.jpg') top center no-repeat;
       background-size: cover;
       //background-attachment: fixed;
       .over-text {
         margin-top: -25px;
       }
     }
     &.fifth {
       background: #000 asset-url('home-bottom.jpg') top center no-repeat;
       background-size: cover;
       //background-attachment: fixed;
    }
    &.first {
      @media only screen and (min-width: 768px ) {
        min-height: 800px;
      }
    }
    &.second,
    &.fourth {
      background-color: #336633;
      min-height: 500px;
    }
    &.sixth {
      background-color: #101010;
      min-height: 500px;
      p {
        max-width: 700px;
        margin-bottom: 30px;
      }
      h1 {
        color: #29aae2;
      }
    }
  }
}