$gray: #777;

.row {
	margin: 0 auto 25px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-right > [class*='col-'] {
    padding-right: 0;
}

.header {
	@extend .no-gutter;
	position: relative;
	border-bottom: 1px solid $gray;

	.page-title {

		h1 {

		}

		h2 {

		}
	}

	.aid-station {
		@extend .no-gutter-right;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY( -50% );

		&-label,
		&-select {
		}

		&-label {}

		&-select {

			select {
				width: 100%;
			}
		}
	}
}

.form-split-wrapper {
	@extend .no-gutter;
	border-bottom: 1px solid $gray;

	.live-entry {
		margin: 0 auto 25px;

		label {
			text-align: right;
		}

		.message {
			font-weight: bold;
			font-style: italic;
		}

		button {
			width: 100%;
		}
	}

	.splits-slider {}
}

.provisional-data {}
