/********
Variables
*********/
$gray: #777;
$lightGray: #eee;
$red: pink;

/***********
Placeholders
************/
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-right > [class*='col-'] {
    padding-right: 0;
}

/******
Globals
*******/
.row {
	margin: 0 auto 25px;
}

/***********
Mixins
************/
@mixin transform( $transforms ) {
	transform: $transforms;
	-webkit-transform: $transforms;
	-ms-transform: $transforms;
}

/******* Header ********/
.header {
	@extend .no-gutter;
	position: relative;
	border-bottom: 1px solid $gray;

	.page-navigation {
		padding-top: 20px;
		text-align: right;
	}

	.event-id {
		display: none;
	}
}

/******* Live Entry Form ********/
.form-split-wrapper {
	display: table;
	@extend .no-gutter;
	border-bottom: 1px solid $gray;

	.live-entry {
		margin: 0 auto 25px;

		label {
			text-align: right;
		}

		.message {
			font-weight: bold;
			font-style: italic;
		}

		button {
			width: 46%;

			&:last-child {
				margin-left: 4%;
			}
		}
	}

  .time-status,
  .time-exists {
    font-size: 18px;
    padding: 6px 8px 4px 8px;
  }

  .time-exists {
    display: none;
  }

  input.exists ~ .time-exists {
    display: table-cell;
  }

  .time-status {
    span { display: none; }
    .null { display: inline-block; }
  }

  input.good ~ .time-status {
    .null { display: none; }
    .good { display: inline-block; }
  }

  input.bad ~ .time-status {
    .null { display: none; }
    .bad { display: inline-block; }
  }

  input.questionable ~ .time-status {
    .null { display: none; }
    .questionable { display: inline-block; }
  }
}

/******* Splits Slider ********/
.splits-slider {
	background: $lightGray;
	display: table-cell;
	padding-bottom: 20px;
	padding-left: 75px;
	padding-right: 75px;
	height: 100%;
	&-plotter {
		position: relative;
		top: 35px;
		height: 75px;
		margin: 0 30px;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			left: 0;
			background: $gray;
			position: relative;
		}

		&.begin:before {
			width: 50%;
			left: 50%;
		}

		&.end:before {
			width: 50%;
			left: 0;
		}

		&.animate {
			&:before,
			.split-slider-item {
				transition: all 0.6s ease-in-out;
			}
		}

		.split-slider-item {
			position: absolute;
			top: -8px;
			display: none;
			max-width: 120px;
			min-width: 80px;

			&-name, &-distance {
				min-width: 100%;
			}

			&-dot {
				position: relative;
				display: block;
				background: $gray;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				margin: 0 auto;
				&:after {
					display: block;
					content: "\000A";
					white-space: pre;
				}
			}

			&.active,
			&.inactive {
				display: block;
				opacity: 100%;

				&.begin {
					left: 0;
					@include transform( translateX(-50%) );
					text-align: left;
					.split-slider-item-name,
					.split-slider-item-distance {
						@include transform( translateX(50%) );
					}
				}

				&.middle {
					left: 50%;
					@include transform( translateX(-50%) );
					text-align: center;
				}

				&.end {
					left: 100%;
					@include transform( translateX(-50%) );
					text-align: right;
					.split-slider-item-name,
					.split-slider-item-distance {
						@include transform( translateX(-50%) );
					}
				}
			}

			&.inactive {
				opacity: 0;
			}

			&-name,
			&-distance {
				display: inline-block;
			}

			&-name {
				font-weight: bold;
				padding-top: 15px;
			}

			&-distance {
				display: block;
			}
		}
	}

	.splits-slider-data {
		margin-top: 75px;

		.data-label {
			text-align: right;
		}
	}
}

/******* Provisional Data Table ********/
.provisional-data {

	.provisional-data-table {
		th {
			cursor: pointer;
		}

		td {
			vertical-align: middle;
		}
	}

	.dataTables_filter {
		text-align: right;
	}

	.dataTables_length, .dataTables_filter {
		select, input {
			margin: 0 5px;
		}
	}

	.row-edit-btns {
		text-align: right;
		min-width: 7.0em;
		box-sizing: content-box;

		.effort-row-btn {
			display: inline-block;
			margin-left: 0.20em;
			width: 2em;
			height: 2em;
			text-align: center;
			padding: 0;
			line-height: 1;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			border-radius: 14px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.table-submit-wrapper {
		text-align: right;
		margin-bottom: 4em;

		> * {
			margin: 0 1.5em 1em 0;
		}

		button {
			padding: 0.5em 1.9em;
		}
	}
}