/********
Variables
*********/
$gray: #777;

/***********
Placeholders
************/
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-right > [class*='col-'] {
    padding-right: 0;
}

/******
Globals
*******/
.row {
	margin: 0 auto 25px;
}

/******* Header ********/
.header {
	@extend .no-gutter;
	position: relative;
	border-bottom: 1px solid $gray;

	.page-title {

		h1 {

		}

		h2 {

		}
	}

	.aid-station {
		@extend .no-gutter-right;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY( -50% );

		&-label,
		&-select {
		}

		&-label {}

		&-select {

			select {
				width: 100%;
			}
		}
	}
}

/******* Live Entry Form ********/
.form-split-wrapper {
	@extend .no-gutter;
	border-bottom: 1px solid $gray;

	.live-entry {
		margin: 0 auto 25px;

		label {
			text-align: right;
		}

		.message {
			font-weight: bold;
			font-style: italic;
		}

		button {
			width: 100%;
		}
	}

	.splits-slider {}
}


/******* Provisional Data Table ********/
.provisional-data {

	.table-submit-wrapper {
		text-align: right;
		margin-bottom: 4em;

		.delete-all-efforts,
		.submit-all-efforts {
			margin: 0 1.5em 1em 0;
			padding: 0.5em 2.5em;
		}
	}
}