/***********
Efforts Popover
************/

.popover.efforts-popover .popover-content {
	max-height: 400px;
	overflow-x: visible;
	overflow-y: scroll;
}

.popover.static-popover {

  .popover-title {
    display: none;
  }

  .popover-content {
    max-height: 150px;
    overflow-x: visible;
    overflow-y: scroll;
  }

  &.static-popover-dark {
    background: #222;
    color: #dddddd;
    &.bottom .arrow:after { border-bottom-color: #222; }
    &.left .arrow:after { border-left-color: #222; }
    &.right .arrow:after { border-right-color: #222; }
    &.top .arrow:after { border-top-color: #222; }
  }
}

.spin {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.switchery {

	&, > small {
		border-radius: 4px;
		height: 32px;
	}

	&.switchery-small {
		width: 40px;
		
		&, > small {
			border-radius: 3px;
			height: 28px;
		}
	}

	&.switchery-large {
		&, > small {
			border-radius: 6px;
			height: 44px;
		}
	}
}