/***********
Efforts Popover
************/

.popover.efforts-popover .popover-content {
	max-height: 400px;
	overflow-x: visible;
	overflow-y: scroll;
}

.popover.static-popover {
  background: #222;

  .popover-title {
    display: none;
  }

  .popover-content {
    max-height: 150px;
    overflow-x: visible;
    overflow-y: scroll;
  }

  &.bottom .arrow:after { border-bottom-color: #222; }
  &.left .arrow:after { border-left-color: #222; }
  &.right .arrow:after { border-right-color: #222; }
  &.top .arrow:after { border-top-color: #222; }
}