@import "bootstrap/variables";

/***********
Variables
************/
$gray: #777;
$mediumGray: #aaa;

$lightGray: #eee;
$darkGray: #222;
$darkerGray: #E1E1E1;
$white: #FFF;
$red: pink;
$blue: #2A9FD8;

// Boostrap breakpoints
$break-small: $screen-sm-min;
$break-medium: $screen-md-min;
$break-large: $screen-lg-min;
$max-width: 1200px;

/***********
Mixins
************/
@mixin transform( $transforms ) {
	transform: $transforms;
	-webkit-transform: $transforms;
	-ms-transform: $transforms;
}
