<%# Requires parameter organizations %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Details</th>
  </tr>
  </thead>

  <tbody>
  <% presenter.organizations.each do |organization| %>
      <tr>
        <td><strong><%= link_to organization.name, organization_path(organization) %></strong></td>
        <td><%= pluralize(presenter.events_count(organization), 'event') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
