<%# locals: (record:) -%>

<div class="card bg-light mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="fw-bold"><%= link_to record.name, organization_path(record) %></h5>
      </div>
      <div class="col">
        <h6 class="text-end"><%= pluralize(record.event_count, "event") %></h6>
      </div>
    </div>
  </div>
</div>
