<%# locals: (presenter:) -%>

<div id="pager" class="row">
  <div class="col text-center" data-infinite-scroll-target="link">
    <% if presenter.next_page_url.present? %>
      <%= link_to "Show More",
                  presenter.next_page_url,
                  data: {
                    controller: "autoclick",
                    turbo_stream: true,
                  } %>
    <% else %>
      <p>End of List</p>
    <% end %>
  </div>
</div>
