<table class="table table-centered table-fixed-sm table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Steward since</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @organization.stewardships.each do |stewardship| %>
      <tr>
        <td><%= stewardship.full_name %></td>
        <td><%= stewardship.email %></td>
        <td><%= l(stewardship.created_at, format: :full_with_weekday) %></td>
        <td>
          <%= link_to "Remove",
                      stewardship_path(stewardship),
                      :method => :delete,
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
