<%= form_tag stewardships_path, method: :post do %>
    <%= hidden_field_tag :organization_id, @organization.id %>
    <div class="input-group">
      <%= text_field_tag :email,
                            params[:email],
                            placeholder: 'email',
                            autofocus: true,
                            class: 'form-control search-box' %>
      <span class="input-group-btn">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fa fa-search'></i> Add steward
        <% end %>
      </span>
    </div>
<% end %>