<% content_for :title do %>
  <% "OpenSplitTime: List organizations" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <div class="h1 fw-bold">Organizations</div>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active">Organizations</li>
          </ul>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="col text-end">
          <%= link_to "Create a new organization", new_organization_path, class: "btn btn-outline-success mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div>
    <div id="organizations">
      <%= render partial: "organization", collection: @presenter.records_from_context, as: :record %>
    </div>
    <hr/>

    <%= render "shared/pager", next_page_url: @presenter.next_page_url %>
  </div>
</article>
