<% content_for :title do %>
  <% "OpenSplitTime: List organizations" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Organizations</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active">Organizations</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div data-controller="infinite-scroll"
       data-infinite-scroll-next-page-url="<%= @presenter.next_page_url %>"
       data-infinite-scroll-html-template="organization">
    <div data-infinite-scroll-target="result">
      <%= render partial: "organization", collection: @presenter.records_from_context, as: :record %>
    </div>
    <hr/>

    <div class="row">
      <div class="col text-center" data-infinite-scroll-target="link">
        <% if @presenter.next_page_url.present? %>
          <%= link_to "Show More", @presenter.next_page_url, data: {action: "infinite-scroll#loadFromClick"} %>
        <% else %>
          <p>End of List</p>
        <% end %>
      </div>
    </div>
  </div>
</article>
