<%# locals: (fact:) %>

<tr class="align-middle">
  <td><%= historical_fact_kind_badge(fact.kind) %></td>
  <td class="text-center"><%= fact.year %></td>
  <td class="text-center"><%= fact.quantity %></td>
  <td><%= fact.comments %></td>
</tr>
