<script type="text/x-template" id="event">
  <div>
    <aside class="col-xs-12">
      <h3>
        <span class="help-tooltip pull-right" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="An Event is run on a Course. An Event happens once, while a Course can be reused for many Events."><i class="glyphicon glyphicon-question-sign"></i></span>
        <strong>Provide Information About Your Event</strong>
      </h3>
      <p>Your event will be run on a Course and will belong to an Organization. You'll either use an existing Course or
        create one, and either use an existing Organization or create one.</p>
      <p>
        <router-link to="/splits" id="continue-side-1" class="btn btn-primary" :disabled="!isEventValid()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
        </router-link>
      </p>
      <p><span class="brackets"><a href=<%= event_groups_path %>>Cancel</a></span></p>
    </aside>
    <article class="col-xs-12">
      <div class="form-group">
        <label class="required">What is your organization called?</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Your Organization is the administrative umbrella for your Events and provides a home page to organize related Events. You will be able to choose trusted Organization Stewards who have access to all Event data within an Organization."><i class="glyphicon glyphicon-question-sign"></i></span>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
            <resource-select id="organization-select" class="form-control" v-model="eventModel.eventGroup.organization" source="organizations?filter[editable]=true">
              <option :value="null" selected disabled>Select One</option>
            </resource-select>
          </div>
          <div class="col-xs-12 col-sm-1 text-center middle-or">
            <span>or</span>
          </div>
          <div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
            <button type="button" class="btn btn-success" v-on:click="eventModel.eventGroup.organization = newOrganization()">Add
              New Organization&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="well well-sm border-none" v-if="eventModel.eventGroup.organization" v-bind:class="{ 'new' : !eventModel.eventGroup.organization.id }">
        <div class="row">
          <div class="form-group col-xs-12">
            <label class="required">Organization Name</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Name your Organization for the Events it organizes (like 'Hardrock 100' or for the company that organizes the Events (like 'Dirty 30 Running')."><i class="glyphicon glyphicon-question-sign"></i></span>
            <input id="organization-name-field" type="text" class="form-control" placeholder="Your organization name" v-model="eventModel.eventGroup.organization.name" :disabled="!eventModel.eventGroup.organization.editable">
          </div>
          <div class="col-xs-12" v-if="!eventModel.eventGroup.organization.id">
            <span class="brackets" v-on:click="eventModel.eventGroup.organization = null"><a href="#">Cancel</a></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Event Start Time</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="For an Event with multiple waves or differing start times, you will generally want to use the earliest start time."><i class="glyphicon glyphicon-question-sign"></i></span>
        <input-datetime v-model="eventModel.virtualStartTime"></input-datetime>
      </div>
      <div class="form-group">
        <label>Event Time Zone</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Some Tooltip"><i class="glyphicon glyphicon-question-sign"></i></span>
        <select id="time-zone-select" class="form-control" v-model="eventModel.homeTimeZone">
          <option v-for="timeZone in timeZones" :value="timeZone.name">{{ timeZone.name }}&nbsp;[&nbsp;{{
            timeZone.offset }}&nbsp;]
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="required">Event Name</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="A name will be suggested based on your organization name and event year, but feel free to change to your liking."><i class="glyphicon glyphicon-question-sign"></i></span>
        <input id="event-name-field" type="text" class="form-control" placeholder="Your event name" v-model="eventModel.name" v-prefill="suggestedName()">
      </div>
      <div class="form-group">
        <label>Short Event Name</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Make a shorter name if this is one event in a group, for example, '50K' or '12 hour'."><i class="glyphicon glyphicon-question-sign"></i></span>
        <input id="event-short-name-field" type="text" class="form-control" placeholder="Short name" v-model="eventModel.shortName">
      </div>
      <div class="form-group event-info-course-row">
        <label for="event-start-time">Choose an existing course</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="If you have already created a course for a prior Event like this one, you can select it here."><i class="glyphicon glyphicon-question-sign"></i></span>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
            <resource-select id="course-select" class="form-control" v-model="eventModel.course" source="courses?filter[editable]=true&page[size]=100">
              <option :value="null" selected disabled>Select One</option>
            </resource-select>
          </div>
          <div class="col-xs-12 col-sm-1 text-center middle-or">
            <span>or</span>
          </div>
          <div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
            <button type="button" class="btn btn-success" v-on:click="eventModel.course = newCourse()">Add New Course&nbsp;<i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="well well-sm border-none" v-if="eventModel.course" v-bind:class="{ 'new' : !eventModel.course.id }">
        <div class="row">
          <div class="form-group col-xs-12">
            <label class="required">Course Name</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Give your Course a descriptive name that is appropriate for multiple Events. If your Event is the Trailrock 50 2017, this Course might be the Trailrock 50 Course."><i class="glyphicon glyphicon-question-sign"></i></span>
            <input id="course-name-field" type="text" class="form-control" placeholder="Your course name" v-model="eventModel.course.name" v-prefill="(eventModel.eventGroup.organization) ? eventModel.eventGroup.organization.name + ' Course' : ''">
          </div>
          <div class="form-group col-xs-12">
            <label class="required">Course Distance</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="If your Event consists of multiple identical laps (and you are keeping track of laps as such), then this should be the distance of a single lap."><i class="glyphicon glyphicon-question-sign"></i></span>
            <div class="input-group">
              <input-units id="course-distance-field" type="text" class="form-control" placeholder="miles" v-model.number="eventModel.course.endSplit('finish').distanceFromStart" v-mask="{ alias: 'decimal', placeholder: '', digits: 2 }" :scale="units.forDistance()"/>
              <span class="input-group-addon">{{ units.distance }}</span>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="required">Total Vertical Gain</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Cumulative vertical gain for your Course. If your Event consists of multiple identical laps (and you are keeping track of laps as such), then this should be the vertical gain of a single lap."><i class="glyphicon glyphicon-question-sign"></i></span>
            <div class="input-group">
              <input-units id="course-vert-gain-field" type="text" class="form-control" placeholder="feet" v-model.number="eventModel.course.endSplit('finish').vertGainFromStart" v-mask="{ alias: 'decimal', placeholder: '', digits: 1 }" :scale="units.forElevation()" :places="1"/>
              <span class="input-group-addon">{{ units.elevation }}</span>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="required">Total Vertical Loss</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Cumulative vertical loss for your Course. If your Event consists of multiple identical laps (and you are keeping track of laps as such), then this should be the vertical loss of a single lap."><i class="glyphicon glyphicon-question-sign"></i></span>
            <div class="input-group">
              <input-units id="course-vert-loss-field" type="text" class="form-control" placeholder="feet" v-model.number="eventModel.course.endSplit('finish').vertLossFromStart" v-mask="{ alias: 'decimal', placeholder: '', digits: 1 }" :scale="units.forElevation()" :places="1"/>
              <span class="input-group-addon">{{ units.elevation }}</span>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label>Description</label>
            <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Provide an optional description of your Course here."><i class="glyphicon glyphicon-question-sign"></i></span>
            <textarea id="course-description-field" class="form-control" placeholder="Course Description" v-model="eventModel.course.description"></textarea>
          </div>
          <div class="col-xs-12" v-if="!eventModel.course.id">
            <span class="brackets" v-on:click="eventModel.course = null"><a href="#">Cancel</a></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
          <label class="required">Multiple laps?</label>
          <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Enable this feature only if your Event consists of multiple <strong>identical</strong> laps and you are keeping track of laps as such."><i class="glyphicon glyphicon-question-sign"></i></span>

          <div class="form-inline">
            <label class="switchery-label">
              <span>No</span>
              <input type="checkbox" data-toggle="switchery" data-size="small" value="true" v-model="eventModel.laps" v-on:change="eventModel.lapsRequired = 1"/>
              <span>Yes</span>
            </label>

          </div>
        </div>
        <div v-show="eventModel.laps" class="form-group col-xs-8">
          <label class="required">How many laps?</label>
          <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Use 0 for a time-based event having unlimited laps."><i class="glyphicon glyphicon-question-sign"></i></span>
          <input type="text" class="form-control" v-model.number="eventModel.lapsRequired" v-mask="{ alias: 'integer' }">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <router-link to="/splits" id="continue-bottom-1" class="btn btn-primary pull-right" :disabled="!eventModel.validate()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
          </router-link>
        </div>
      </div>
    </article>
  </div>
</script>