<% @skip_container = true %>

<!-- Vue.js Form Templates-->

<script type="text/x-template" id="event"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide More Information About Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p><router-link to="/splits" class="btn btn-primary" :disabled="!isEventValid()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link></p>
		<p><span class="brackets"><a href="#">Cancel</a></span></p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="form-group">
			<label class="required">What is your organization called?</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
					<resource-select class="form-control" v-model="eventModel.organization" source="/api/v1/organizations">
						<option value="" selected disabled>Select One</option>
					</resource-select>
				</div>
				<div class="col-xs-12 col-sm-1 text-center middle-or">
					<span>or</span>
				</div>
				<div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
					<button type="button" class="btn btn-success" v-on:click="eventModel.organization.import( { editable: true }, true ); eventModel.organizationNew = true">Add New Organization&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="well well-sm border-none" v-bind:class="{ 'new' : eventModel.organizationNew && !eventModel.organization.id }" v-show="eventModel.organization.id || eventModel.organizationNew">
			<div class="row">
				<div class="form-group col-xs-12">
					<label class="required">Organization Name</label>
					<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" placeholder="Your organization name" v-model="eventModel.organization.name" :disabled="!eventModel.organization.editable">
				</div>
				<div class="col-xs-12" v-if="eventModel.organizationNew && !eventModel.organization.id">
					<span class="brackets" v-on:click="eventModel.organizationNew = false"><a href="#">Cancel</a></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Start Time of Race</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-5 col-sm-7 col-md-8">
					<input type="text" class="form-control" v-model="eventModel.date" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
				</div>
				<div class="col-xs-7 col-sm-5 col-md-4 form-control-fill">
					<select class="form-control" v-model="eventModel.hours">
						<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
						<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
					</select>
					<span class="text-center">&nbsp;:&nbsp;</span>
					<select class="form-control" v-model="eventModel.minutes">
						<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="required">Event Name</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<input type="text" class="form-control" placeholder="Your event name" v-model="eventModel.name" v-prefill="eventModel.organization.name + ' ' + (eventModel.startTime && eventModel.startTime.getFullYear())">
		</div>
		<div class="form-group event-info-course-row">
			<label for="event-start-time">Select Course</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
					<resource-select class="form-control" v-model="eventModel.course" source="/api/v1/courses">
						<option value="" selected disabled>Select One</option>
					</resource-select>
				</div>
				<div class="col-xs-12 col-sm-1 text-center middle-or">
					<span>or</span>
				</div>
				<div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
					<button type="button" class="btn btn-success" v-on:click="eventModel.course.import( { editable: true }, true ); eventModel.courseNew = true">Add New Course&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="well well-sm border-none" v-bind:class="{ 'new' : eventModel.courseNew && !eventModel.course.id }" v-show="eventModel.course.id || eventModel.courseNew">
			<div class="row">
				<div class="form-group col-xs-12">
					<label class="required">Course Name</label>
					<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" placeholder="Your course name" v-model="eventModel.course.name" v-prefill="eventModel.organization.name + ' Course'">
				</div>
				<div class="form-group col-xs-12">
					<label class="required">Course Distance</label>
					<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<div class="input-group">
						<input-units type="text" class="form-control" placeholder="miles" v-model.number="eventModel.course.endSplit('finish').distanceFromStart" v-mask="{ alias: 'decimal', placeholder: '' }" :scale="units.forDistance()"/>
						<span class="input-group-addon">{{ units.distance }}</span>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label class="required">Total Vertical Gain</label>
					<div class="input-group">
						<input-units type="text" class="form-control" placeholder="feet" v-model.number="eventModel.course.endSplit('finish').vertGainFromStart" v-mask="{ alias: 'decimal', placeholder: '' }" :scale="units.forElevation()"/>
						<span class="input-group-addon">{{ units.elevation }}</span>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label class="required">Total Vertical Loss</label>
					<div class="input-group">
						<input-units type="text" class="form-control" placeholder="feet" v-model.number="eventModel.course.endSplit('finish').vertLossFromStart" v-mask="{ alias: 'decimal', placeholder: '' }" :scale="units.forElevation()"/>
						<span class="input-group-addon">{{ units.elevation }}</span>
					</div>
				</div>
				<div class="form-group col-xs-12">
					<label>Description</label>
					<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<textarea class="form-control" placeholder="Course Description" v-model="eventModel.course.description"></textarea>
				</div>
				<div class="col-xs-12" v-if="eventModel.courseNew && !eventModel.course.id">
					<span class="brackets" v-on:click="eventModel.courseNew = false"><a href="#">Cancel</a></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="required">Multiple laps?</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-4">
					
					<div class="form-inline">
						<label class="switchery-label">
							<span>No</span>
							<input type="checkbox" data-toggle="switchery" data-size="small" value="true" v-model="eventModel.laps" v-on:change="eventModel.lapsRequired = 1"/>
							<span>Yes</span>
						</label>
						
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-inline float-left">
						<label v-if="eventModel.laps">
							How many laps?
							<input type="text" class="form-control" v-model.number="eventModel.lapsRequired" v-mask="{ alias: 'integer' }" >
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Description</label>
			<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<textarea class="form-control" placeholder="Your event's description" v-model="eventModel.description"></textarea>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<router-link to="/splits" class="btn btn-primary pull-right" :disabled="!isEventValid()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="splits"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of All The Splits In Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/participants" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h5>
					<strong>Your Splits:</strong>
					<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
				</h5>
			</div>
			<div class="col-xs-12 col-sm-5">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<a href="#" class="form-control-feedback form-control-clickable glyphicon glyphicon-remove" v-on:click.prevent="filter = ''"></a>
				</div>
			</div>
			<div class="col-xs-12">
				<google-map locked :route="eventModel.course.splits"></google-map>
				{{ eventModel.temp }}
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventModel.course.splits" :filter="filter" :entries="30" v-on:edit="modalData = $event" class="splits-table">
					<tr slot="header">
						<th data-orderable="false"></th>
						<th>Name</th>
						<th data-order="asc">
							Dist.
							<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th>
							V. Gain
							<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th>
							V. Loss
							<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">
							Location Info
							<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
					</tr>
					<template slot="row" scope="vm">
						<tr :disabled="!vm.row.associated">
							<td>
								<i class="glyphicon glyphicon-flag text-success" v-if="vm.row.kind == 'start'"></i>
								<i class="glyphicon glyphicon-flag text-danger" v-else-if="vm.row.kind == 'finish'"></i>
							</td>
							<td>{{ vm.row.baseName }}</td>
							<td>{{ vm.row.distanceFromStart * units.forDistance() }}</td>
							<td>{{ vm.row.vertGainFromStart * units.forElevation() }}</td>
							<td>{{ vm.row.vertLossFromStart * units.forElevation()}}</td>
							<td>
								<span class="marker"><%= image_tag( "icons/dblue.svg", size: '16' ) %></span>
								<a href="#" class="edit" data-toggle="modal" data-target="#js-split-modal" v-on:click="vm.$emit('edit')" v-if="vm.row.editable">Edit Split</a>
							</td>
							<td>
								<template v-if="vm.row.kind === 'intermediate'">
									<a href="#" v-on:click.prevent="vm.row.associate( !vm.row.associated )">
										<i class="glyphicon glyphicon-check" v-if="vm.row.associated"></i>
										<i class="glyphicon glyphicon-unchecked" v-else></i>
									</a>
									<a href="#" v-confirm:click="'Confirm Delete'" v-promise:confirm="[vm.row.delete, vm.row]" v-on:done="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a>
								</template>
							</td>
						</tr>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-split-modal" v-on:click="modalData = blank()">Add Split&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<ajax-import url="import-gpx" v-on:import="">
						<span>Import GPX File</span>
					</ajax-import>
				</p>
				<router-link to="/participants" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="modalData.validate" :extra="eventModel" v-on:change="!( modalData._dtid ) && eventModel.course.splits.push( modalData );" inline-template>
		<div id="js-split-modal" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<div class="row">
							<div class="col-xs-12 col-md-6 col-md-push-6">
								<google-map v-model="model" :route="extra.course.splits" search-url="/api/v1/staging/<%= @event ? @event.staging_id : params[:staging_id] %>/get_locations"></google-map>
							</div>

							<div class="col-xs-12 col-md-6 col-md-pull-6">
								<div class="row">
									<div class="form-group col-xs-6">
										<label class="required">Split Name</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.baseName" autofocus>
									</div>
									<div class="form-group col-xs-6">
										<label class="required">Description</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.description">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-6">
										<label class="required">Distance From Start</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="input-group">
											<input-units type="text" class="form-control" v-model.number="model.distanceFromStart" v-mask="{ alias: 'decimal' }" :disabled="model.kind === 'start'" :scale="units.forDistance()"/>
											<span class="input-group-addon">{{ units.distance }}</span>
										</div>
									</div>
									<div class="form-group col-xs-6">
										<label class="required">Time Recording</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="split-time-recording-wrap">
											<label class="custom-radio">
												<input type="radio" name="split-time" :value="['In']" v-model="model.nameExtensions">
												<span class="custom-radio-indicator"></span>
												<span class="custom-radio-label">Time In</span>
											</label>&nbsp;&nbsp;
											<label class="custom-radio">
												<input type="radio" name="split-time" :value="['In','Out']" v-model="model.nameExtensions" :disabled="model.kind === 'finish'">
												<span class="custom-radio-indicator"></span>
												<span class="custom-radio-label">Time In and Out</span>
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-6 vg-group">
										<label class="required">Vertical Gain From Start</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="input-group">
											<input-units type="text" class="form-control" v-model.number="model.vertGainFromStart" v-mask="{ alias: 'decimal' }" :disabled="model.kind === 'start'" :scale="units.forElevation()"/>
											<span class="input-group-addon">{{ units.elevation }}</span>
										</div>
									</div>
									<div class="form-group col-xs-6 vg-group">
										<label class="required">Vertical Loss From Start</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="input-group">
											<input-units type="text" class="form-control" v-model.number="model.vertLossFromStart" v-mask="{ alias: 'decimal' }" :disabled="model.kind === 'start'" :scale="units.forElevation()"/>
											<span class="input-group-addon">{{ units.elevation }}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4><strong>Add A Location</strong></h4>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-4">
										<label>Latitude</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model.number="model.latitude" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-4">
										<label>Longitude</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model.number="model.longitude" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-4">
										<label>Elevation</label>
										<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.elevation" v-mask="{ alias: 'integer' }">
									</div>
								</div>
								<div class="col-xs-12 split-modal-btn-wrap">
									<p v-for="err in error">{{ err }}</p>
									<span class="brackets" data-dismiss="modal" v-on:click="model.fetch()"><a href="#">Cancel</a></span>
									<button type="button" class="btn btn-primary" data-dismiss="modal" v-bind:disabled="valid" v-promise:click="[value.post, value]" v-on:done="$emit('done');" v-on:fail="error = $event.data.errors">
										<template v-if="!model._dtid">Add Split</template>
										<template v-else>Done</template>
									</button>
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="participants"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of Your Participants</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/splits" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/confirmation" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<h5><strong>Your Participants:</strong></h5>
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<a href="#" class="form-control-feedback form-control-clickable glyphicon glyphicon-remove" v-on:click.prevent="filter = ''"></a>
				</div>
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventModel.efforts" :filter="filter" :entries="30" v-on:edit="modalData = $event;">
					<tr slot="header">
						<th data-orderable="false"></th>
						<th>Name</th>
						<th>M/F</th>
						<th>DoB.</th>
						<th>Location</th>
						<th>
							Bib&num;
							<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">&nbsp;</th>
					</tr>
					<template slot="row" scope="vm">
						<td><i class="glyphicon glyphicon-ok-sign" v-if="vm.row.participantId"></i><i class="glyphicon glyphicon-question-sign" v-else></i></td>
						<td>{{ vm.row.firstName }} {{ vm.row.lastName }}</td>
						<td>{{ vm.row.gender === 'male' ? 'M' : 'F' }}</td>
						<td>{{ vm.row.birthdate }}</td>
						<td>{{ vm.row.city }}, {{ ( regions[ vm.row.countryCode ] || {} )[ vm.row.stateCode ] }}</td>
						<td>{{ vm.row.bibNumber }}</td>
						<td><a href="#" data-toggle="modal" data-target="#js-participant-modal" v-on:click="vm.$emit('edit')">Edit Participant</a></td>
						<td><a href="#" v-confirm:click="'Confirm Delete'" v-promise:confirm="[vm.row.delete, vm.row]" v-on:done="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-participant-modal" v-on:click="modalData = blank()">Add Participant&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<ajax-import url="import-csv" v-on:import="">
						<span>Import CSV</span>
					</ajax-import>
				</p>
				<router-link to="/confirmation" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="modalData.validate" v-on:done="saveEffort" inline-template>
		<div id="js-participant-modal" tabindex="-1" role="dialog" class="modal fade participant-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body clearfix">
						<div class="row">
							<div class="col-xs-12">
								<label class="required">Name</label><br />	
							</div>
						</div>
						<div class="row">					
							<div class="form-group col-xs-6">
								<input type="text" class="form-control" v-model="model.firstName" placeholder="First Name" autofocus></input>
							</div>
							<div class="form-group col-xs-6">
								<input type="text" class="form-control" v-model="model.lastName" placeholder="Last Name"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Gender</label><br />
								<label class="custom-radio">
									<input type="radio" name="gender" value="male" v-model="model.gender" v-on:keydown.77="model.gender = 'male'" v-on:keydown.70="model.gender = 'female'">
									<span class="custom-radio-indicator"></span>
									<span class="custom-radio-label">Male</span>
								</label>&nbsp;&nbsp;
								<label class="custom-radio">
									<input type="radio" name="gender" value="female" v-model="model.gender" v-on:keydown.77="model.gender = 'male'" v-on:keydown.70="model.gender = 'female'">
									<span class="custom-radio-indicator"></span>
									<span class="custom-radio-label">Female</span>
								</label>
							</div>
							<div class="form-group col-xs-6">
								<label>Date of Birth</label>
								<input type="text" class="form-control" v-model="model.birthdate" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Bib Number</label>
								<input type="text" class="form-control" v-model="model.bibNumber" v-mask.insert="{ alias: 'integer', placeholder: '' }" placeholder="example: 1234"></input>
							</div>

							<div class="form-group col-xs-6">
								<label>Beacon URL</label>
								<input type="text" class="form-control" v-model="model.beacon" placeholder="http://example.com"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Email</label>
								<input type="text" class="form-control" v-model="model.email" placeholder="example@gmail.com"></input>
							</div>
							<div class="form-group col-xs-6">
								<label>Phone Number</label>
								<input type="text" class="form-control" v-model="model.phone" v-mask="'(999) 999 - 9999'" placeholder="(xxx) xxx - xxxx"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Country</label>
								<select id="js-participants-contry" class="form-control" v-model="model.countryCode" v-on:change="model.stateCode = Object.keys( regions[ model.countryCode ] || 'N/A' )[0]">
									<option v-for="country in countries" :value="country.code">{{ country.name }}</option>
								</select>
							</div>
							<div class="form-group col-xs-6">
								<label class="required">State / Region</label>
								<select id="js-participants-state" class="form-control" v-model="model.stateCode" :disabled="!model.countryCode">
									<option v-for="( region, index ) in ( regions[ model.countryCode ] || [ 'N/A' ] )" :value="index" >{{ region }}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">City</label>
								<input type="text" class="form-control" v-model="model.city" placeholder="City name"></input>
							</div>
						</div>
						<div class="row modal-section">
							<div class="col-xs-12">
								<div class="row no-gutters">
									<div class="col-xs-6">
										<div class="row">
											<div class="form-group col-xs-12">
												<label class="required">Participant's Start Time</label>&nbsp;&nbsp;<span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
											</div>
										</div>
										<div class="row no-gutters">
											<div class="col-xs-12">

												<input type="text" class="form-control p-start-date" v-model="model.startDate" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
											
												<select class="form-control p-start-hour" v-model="model.startHours">
													<option disabled class="placeholder" value="">hh</option>
													<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
													<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
												</select>

												<span class="p-colon">:</span>

												<select class="form-control p-start-min" v-model="model.startMinutes">
													<option disabled class="placeholder" value="">mm</option>
													<option disabled class="placeholder" :value="model.startMinutes">{{ model.startMinutes | padding( 2, '0' ) }}</option>
													<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
												</select>

											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group col-xs-12">
											<label class="required sto-label">Start Time Offset</label>
										</div>
										<div class="col-xs-12 sto-input-wrap">
											<span class="sto-or">or</span>
											<input type="text" class="form-control sto-input" v-model="model.offsetTime" v-mask.insert="{ alias: 'Regex', regex: '-?([1-9][0-9]*|0):[0-5][0-9]', placeholder: '' }" placeholder="hh:mm"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row p-controls">
							<div class="col-xs-12">
								<p v-for="err in error">{{ err }}</p>
								<span class="brackets" data-dismiss="modal" v-on:click="model.fetch()"><a href="#">Cancel</a></span>
								<button type="button" class="btn btn-primary" v-bind:disabled="valid" v-promise:click="[value.post, value]" v-on:done="$emit('done');" v-on:fail="error = $event.data.errors">
									<template v-if="!model._dtid">Add Participant</template>
									<template v-else>Done</template>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="confirmation"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3><strong>Confirm Your Race Information</strong></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/participants" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/published" class="btn btn-primary">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<table class="table confirmation-table">
			<tbody>
				<tr>
					<th>Race Name</th>
					<td>{{ eventModel.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Start Date</th>
					<td>{{ eventModel.startTime ? eventModel.startTime.toLocaleString() : 'NaN' }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ eventModel.description }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Course</th>
					<td>{{ eventModel.course.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Distance</th>
					<td>{{ eventModel.course.endSplit( 'finish' ).distanceFromStart * units.forDistance() }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Gain</th>
					<td>{{ eventModel.course.endSplit( 'finish' ).vertGainFromStart * units.forElevation() }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Loss</th>
					<td>{{ eventModel.course.endSplit( 'finish' ).vertLossFromStart * units.forElevation()}}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th ><span>Your Splits</span></th>
					<td><google-map locked :route="eventModel.course.splits"></google-map></td>
					<td><span class="brackets"><router-link to="/splits">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>
						<span>Participants<br><span class="participants-count">({{ eventModel.efforts.length }})</span></span>
					</th>
					<td>
						<span class="row-content" v-for="participant in eventModel.efforts">
							{{ participant.firstName }} {{ participant.lastName }}<span v-if="eventModel.efforts.length > 1">,</span>
						</span>
					</td>
					<td><span class="brackets"><router-link to="/participants">Edit</router-link></span></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<router-link to="/published" class="btn btn-primary pull-right">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="published"><div>
	<article class="col-xs-12 published-page">
		<span class="large-check"></span>
		<h2>Your Race Has Been Published</h2>
		<p>Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>
		<a href="/" class="btn btn-primary">Return Home</a><br>
		<a href="#" v-promise:click="[eventModel.visibility, eventModel]" v-on:done="$router.push( '/confirmation' )">Make Private Again</a>
	</article>
</div></script>

<!-- Vue.js Applet -->

<div id="event-app" data-uuid="<%= @event ? @event.staging_id : params[:staging_id] %>">
	<script id="event-app-data" type="text/json"></script>

	<div class="container-fluid header">
		<div class="container">
			<h2><strong>Create Race</strong></h2>
			<nav class="progress-bar-nav">
				<ul>
					<li is="router-link" to="/" tag="li" exact><a href="#"><span>Your Event</span></a></li>
					<li is="router-link" to="/splits" tag="li"><a href="#"><span>Splits</span></a></li>
					<li is="router-link" to="/participants" tag="li"><a href="#"><span>Participants</span></a></li>
					<li is="router-link" to="/confirmation" tag="li"><a href="#"><span>Confirmation</span></a></li>
					<li is="router-link" to="/published" tag="li"><a href="#"><span>Published</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div is="router-view" v-bind:event-model="eventModel"></div>
		</div>
	</div>
</div>
