<% @skip_container = true %>

<!-- Vue.js Form Templates-->

<script type="text/x-template" id="event"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide More Information About Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p><router-link to="/splits" class="btn btn-primary" :disabled="!isEventValid()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link></p>
		<p><span class="brackets"><a href="#">Cancel</a></span></p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="form-group">
			<label class="required">What is your organization called?</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
					<ajax-select class="form-control" :disabled="eventData.organization.new" v-model="eventData.organization.id" url="get-courses">
						<option value="" selected disabled>Select One</option>
					</ajax-select>
				</div>
				<div class="col-xs-12 col-sm-1 text-center middle-or">
					<span>or</span>
				</div>
				<div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
					<button type="button" class="btn btn-success" v-on:click="eventData.organization.new = true">Add New Organization&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="well well-sm border-none" v-show="eventData.organization.new">
			<div class="row">
				<div class="form-group col-xs-12">
					<label class="required">Organization Name</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" placeholder="Your organization name" v-model="eventData.organization.name">
				</div>
				<div class="form-group col-xs-12">
					<label>Description</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<textarea class="form-control" placeholder="Organization Description" v-model="eventData.organization.description"></textarea>
				</div>
				<div class="col-xs-12">
					<span class="brackets" v-on:click="eventData.organization.new = false"><a href="#">Cancel</a></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Start Time of Race</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-5 col-sm-7 col-md-8">
					<input type="text" class="form-control" v-model="eventData.event.date" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
				</div>
				<div class="col-xs-7 col-sm-5 col-md-4 form-control-fill">
					<select class="form-control" v-model="eventData.event.hours">
						<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
						<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
					</select>
					<span class="text-center">&nbsp;:&nbsp;</span>
					<select class="form-control" v-model="eventData.event.minutes">
						<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="required">Event Name</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<input type="text" class="form-control" placeholder="Your event name" v-model="eventData.event.name" v-prefill="eventData.organization.name + ' ' + ( new Date( eventData.event.date ).getFullYear() )">
		</div>
		<div class="form-group event-info-course-row">
			<label for="event-start-time">Select Course</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-7 no-padding-right">
					<ajax-select class="form-control" :disabled="eventData.course.new" v-model="eventData.course.id" url="get-courses">
						<option value="" selected disabled>Select One</option>
					</ajax-select>
				</div>
				<div class="col-xs-12 col-sm-1 text-center middle-or">
					<span>or</span>
				</div>
				<div class="col-xs-12 col-sm-5 col-lg-4 form-control-fill no-padding-left">
					<button type="button" class="btn btn-success" v-on:click="eventData.course.new = true">Add New Course&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="well well-sm border-none" v-show="eventData.course.new">
			<div class="row">
				<div class="form-group col-xs-12">
					<label class="required">Course Name</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" placeholder="Your course name" v-model="eventData.course.name" v-prefill="eventData.organization.name + ' Course'">
				</div>
				<div class="form-group col-xs-12">
					<label class="required">Course Distance</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<input type="text" class="form-control" placeholder="miles" v-model="eventData.course.distance" v-mask="{ alias: 'decimal', placeholder: '' }">
				</div>
				<div class="form-group col-xs-6">
					<label class="required">Total Vertical Gain</label>
					<input type="text" class="form-control" placeholder="feet" v-model="eventData.course.verticalGain" v-mask="{ alias: 'decimal', placeholder: '' }">
				</div>
				<div class="form-group col-xs-6">
					<label class="required">Total Vertical Loss</label>
					<input type="text" class="form-control" placeholder="feet" v-model="eventData.course.verticalLoss" v-mask="{ alias: 'decimal', placeholder: '' }">
				</div>
				<div class="form-group col-xs-12">
					<label>Description</label>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
					<textarea class="form-control" placeholder="Course Description" v-model="eventData.course.description"></textarea>
				</div>
				<div class="col-xs-12">
					<span class="brackets" v-on:click="eventData.course.new = false"><a href="#">Cancel</a></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="required">Multiple laps?</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<div class="row">
				<div class="col-xs-4">
					
					<div class="form-inline">
						<label class="switchery-label">
							<span>No</span>
							<input type="checkbox" data-toggle="switchery" data-size="small" value="true" v-model="eventData.event.laps"/>
							<span>Yes</span>
						</label>
						
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-inline float-left">
						<label v-if="eventData.event.laps">
							How many laps?
							<input type="text" class="form-control" v-model="eventData.event.lapCount" v-mask="{ alias: 'integer' }" >
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Description</label>
			<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<textarea class="form-control" placeholder="Your event's description" v-model="eventData.event.description"></textarea>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<router-link to="/splits" class="btn btn-primary pull-right" :disabled="!isEventValid()">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="splits"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of All The Splits In Your Event</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/participants" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h5>
					<strong>Your Splits:</strong>
					<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
				</h5>
			</div>
			<div class="col-xs-12 col-sm-5">
				<div class="input-group filter-input-group">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<span class="input-group-btn"><span class="btn btn-success"><i class="glyphicon glyphicon-search"></i>Find Split</span></span>
				</div>
			</div>
			<div class="col-xs-12">
				<google-map editable :markers="eventData.splits" search-url="/api/v1/staging/<%= @event ? @event.staging_id : params[:staging_id] %>/get_locations" v-model="eventData.temp" :polyline="eventData.splits"></google-map>
				{{ eventData.temp }}
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventData.splits" :filter="filter" :entries="30" v-on:edit="modalData = $event">
					<tr slot="header">
						<th></th>
						<th data-orderable="false">Name</th>
						<th>
							Dist.
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th data-orderable="false">
							V. Gain
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th data-orderable="false">
							V. Loss
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">
							Location Info
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
					</tr>
					<template slot="row" scope="vm">
						<td><i class="glyphicon glyphicon-flag"></i></td>
						<td>{{ vm.row.name }}</td>
						<td>{{ vm.row.distance }}</td>
						<td>{{ vm.row.verticalGain }}</td>
						<td>{{ vm.row.verticalLoss }}</td>
						<td>
							<span><%= image_tag( "icons/dblue.svg", size: '16' ) %></span>
							<a data-toggle="modal" data-target="#js-split-modal" v-on:click="vm.$emit('edit')">Edit Split</a>
						</td>
						<td><a v-on:click="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-split-modal" v-on:click="modalData = blank()">Add New Split&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<ajax-import url="import-gpx" v-on:import="">
						<span>Import GPX File</span>
					</ajax-import>
				</p>
				<router-link to="/participants" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="isValid" v-on:done="!( modalData._dtid ) && eventData.splits.push( modalData )" inline-template>
		<div id="js-split-modal" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<div class="row">
							<div class="col-xs-12 col-md-6 col-md-push-6">
								<google-map v-model="model.location" search-url="/api/v1/staging/<%= @event ? @event.staging_id : params[:staging_id] %>/get_locations"></google-map>
							</div>

							<div class="col-xs-12 col-md-6 col-md-pull-6">
								<div class="row">
									<div class="form-group col-xs-6">
										<label class="required">Split Name</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.name">
									</div>
									<div class="form-group col-xs-6">
										<label class="required">Description</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.description">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-6">
										<label class="required">Distance From Start</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.distance" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-6">
										<label class="required">Time Recording</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="split-time-recording-wrap">
											<input type="radio" name="split-time" value="in" v-model="model.times" id="split-time-in" class="custom-radio"><label for="split-time-in">Time In</label>&nbsp;&nbsp;
											<input type="radio" name="split-time" value="inandout" v-model="model.times" id="split-time-inout" class="custom-radio"><label for="split-time-inout">Time In and Out</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-6 vg-group">
										<label class="required">Vertical Gain From Start</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.verticalGain" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-6 vg-group">
										<label class="required">Vertical Loss From Start</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-model="model.verticalLoss" v-mask="{ alias: 'decimal' }">
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4><strong>Add A Location</strong></h4>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-12">
										<label>Name of Location</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<div class="row">
											<div class="col-xs-6">
												<input type="text" class="form-control" v-if="model.location" v-model="model.location.name" :disabled="model.location.id">
											</div>
											<div class="col-xs-6 form-control-fill">
												<span>or</span>
												<ajax-select class="form-control" v-model="model.locationId" url="get-locations" v-on:input="model.locationName = ''">
													<option value="" selected disabled>Select One</option>
													<option value="24">Location A</option>
												</ajax-select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xs-4">
										<label>Latitude</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-if="model.location" v-model.number="model.location.latitude" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-4">
										<label>Longitude</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-if="model.location" v-model.number="model.location.longitude" v-mask="{ alias: 'decimal' }">
									</div>
									<div class="form-group col-xs-4">
										<label>Elevation</label>
										<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. ">
											<i class="glyphicon glyphicon-question-sign"></i>
										</span>
										<input type="text" class="form-control" v-if="model.location" v-model="model.location.elevation" v-mask="{ alias: 'integer' }">
									</div>
								</div>
								<div class="col-xs-12 split-modal-btn-wrap">
									<span class="brackets" data-dismiss="modal"><a href="#">Cancel</a></span>
									<button type="button" class="btn btn-primary" data-dismiss="modal" v-bind:disabled="valid" v-on:click="$emit('done')">
										<template v-if="!model._dtid">Add Split</template>
										<template v-else>Done</template>
									</button>
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="participants"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3>
			<span class="help-tooltip pull-right" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
			<strong>Provide A List of Your Participants</strong>
		</h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/splits" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/confirmation" class="btn btn-primary">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<h5><strong>Your Participants:</strong></h5>
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" v-model="filter" placeholder="Filter:"/>
					<span class="input-group-btn"><span class="btn btn-success"><i class="glyphicon glyphicon-search"></i>Find Participant</span></span>
				</div>
			</div>
			<div class="col-xs-12">
				<data-tables :rows="eventData.participants" :filter="filter" :entries="30" v-on:edit="modalData = $event;">
					<tr slot="header">
						<th>Name</th>
						<th>M/F</th>
						<th>DoB.</th>
						<th>Location</th>
						<th>
							Bib&num;
							<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
						</th>
						<th colspan="2" data-orderable="false">&nbsp;</th>
					</tr>
					<template slot="row" scope="vm">
						<td>{{ vm.row.first }} {{ vm.row.last }}</td>
						<td>{{ vm.row.gender }}</td>
						<td>{{ vm.row.dob }}</td>
						<td>{{ vm.row.city }}, {{ vm.row.state }}</td>
						<td>{{ vm.row.bibnumber }}</td>
						<td><a href="#" data-toggle="modal" data-target="#js-participant-modal" v-on:click="vm.$emit('edit')">Edit Participant</a></td>
						<td><a href="#" v-on:click="vm.$emit('remove')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
					</template>
				</data-tables>
			</div>
			<div class="col-xs-12">
				<p class="pull-left">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#js-participant-modal" v-on:click="modalData = blank()">Add New Participant&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
					<ajax-import url="import-csv" v-on:import="">
						<span>Import CSV</span>
					</ajax-import>
				</p>
				<router-link to="/confirmation" class="btn btn-primary pull-right">Continue&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
			</div>
		</div>
	</article>
	<edit-modal v-model="modalData" :validator="isValid" v-on:done="!( modalData._dtid ) && eventData.participants.push( modalData )" inline-template>
		<div id="js-participant-modal" tabindex="-1" role="dialog" class="modal fade participant-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body clearfix">
						<div class="row">
							<div class="col-xs-12">
								<label class="required">Name</label><br />	
							</div>
						</div>
						<div class="row">					
							<div class="form-group col-xs-6">
								<input type="text" class="form-control" v-model="model.first" placeholder="First Name"></input>
							</div>
							<div class="form-group col-xs-6">
								<input type="text" class="form-control" v-model="model.last" placeholder="Last Name"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Gender</label><br />
								<input type="radio" name="gender" value="M" v-model="model.gender" id="gender-m" class="custom-radio"><label for="gender-m">Male</label>&nbsp;&nbsp;
								<input type="radio" name="gender" value="F" v-model="model.gender" id="gender-f" class="custom-radio"><label for="gender-f">Female</label>
							</div>
							<div class="form-group col-xs-6">
								<label>Date of Birth</label>
								<input type="text" class="form-control" v-model="model.dob" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Bib Number</label>
								<input type="text" class="form-control" v-model="model.bibnumber" v-mask.insert="{ alias: 'integer', placeholder: '' }" placeholder="example: 1234"></input>
							</div>

							<div class="form-group col-xs-6">
								<label>Beacon URL</label>
								<input type="text" class="form-control" v-model="model.beacon" placeholder="http://example.com"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Email</label>
								<input type="text" class="form-control" v-model="model.email" placeholder="example@gmail.com"></input>
							</div>
							<div class="form-group col-xs-6">
								<label>Phone Number</label>
								<input type="text" class="form-control" v-model="model.phone" v-mask="'(999) 999 - 9999'" placeholder="(xxx) xxx - xxxx"></input>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">Country</label>
								<select id="js-participants-contry" class="form-control" v-model="model.countryID" v-on:change="model.state = ''">
									<option v-for="(country,index) in countries" :value="index + 1">{{ country }}</option>
								</select>
							</div>
							<div class="form-group col-xs-6">
								<label class="required">State / Region</label>
								<select id="js-participants-state" class="form-control" v-model="model.state" :disabled="!model.countryID || !regions[ model.countryID ]">
									<option v-for="region in (regions[ model.countryID ] || '').split('|')" :value="region">{{ region }}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="required">City</label>
								<input type="text" class="form-control" v-model="model.city" placeholder="Louisville"></input>
							</div>
						</div>
						<div class="row modal-section">
							<div class="col-xs-12">
								<div class="row no-gutters">
									<div class="col-xs-6">
										<div class="row">
											<div class="form-group col-xs-12">
												<label class="required">Participant's Start Time</label>&nbsp;&nbsp;<span class="help-tooltip" data-toggle="static-popover" data-placement="bottom" data-content="Bacon ipsum dolor amet spare ribs cow prosciutto beef ribs venison. Sirloin bacon kielbasa chuck hamburger ball tip venison strip steak bresaola pork chop kevin."><i class="glyphicon glyphicon-question-sign"></i></span>
											</div>
										</div>
										<div class="row no-gutters">
											<div class="col-xs-12">

												<input type="text" class="form-control p-start-date" v-model="model.startdate" v-mask="'m/d/y'" placeholder="mm/dd/yyyy"></input>
											
												<select class="form-control p-start-hour" v-model="model.starthours">
													<option disabled class="placeholder" value="">hh</option>
													<option v-for="h in 12" :value="h">{{ h | padding( 2, '0' ) }} AM</option>
													<option v-for="h in 12" :value="( h + 12 ) % 24">{{ h | padding( 2, '0' ) }} PM</option>
												</select>

												<span class="p-colon">:</span>

												<select class="form-control p-start-min" v-model="model.startminutes">
													<option disabled class="placeholder" value="">mm</option>
													<option v-for="m in 12" :value="( m - 1 ) * 5">{{ ( m - 1 ) * 5 | padding( 2, '0' ) }}</option>
												</select>

											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group col-xs-12">
											<label class="required sto-label">Start Time Offset</label>
										</div>
										<div class="col-xs-12 sto-input-wrap">
											<span class="sto-or">or</span>
											<input type="text" class="form-control sto-input" v-model="model.startoffset" v-mask="{ alias: 'hh:mm', placeholder: 'hh:mm' }" placeholder="Offset Amount"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row p-controls">
							<div class="col-xs-12">
								<span class="brackets" data-dismiss="modal"><a href="#">Cancel</a></span>
								<button type="button" class="btn btn-primary" data-dismiss="modal" v-bind:disabled="valid" v-on:click="$emit('done')">
									<template v-if="!model._dtid">Add Participant</template>
									<template v-else>Done</template>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</edit-modal>
</div></script>

<script type="text/x-template" id="confirmation"><div>
	<aside class="col-xs-12 col-sm-4 full-bg">
		<h3><strong>Confirm Your Race Information</strong></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		<p>
			<router-link to="/participants" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Previous</router-link>
			<router-link to="/published" class="btn btn-primary">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</p>
	</aside>
	<article class="col-xs-12 col-sm-8">
		<table class="table">
			<tbody>
				<tr>
					<th>Race Name</th>
					<td>{{ eventData.event.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Start Date</th>
					<td>{{ eventData.event.date }} {{ eventData.event.hours % 12 }}:{{ eventData.event.minutes }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ eventData.event.description }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Course</th>
					<td>{{ eventData.course.name }}</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Distance</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Gain</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th>Vertical Loss</th>
					<td>NaN</td>
					<td><span class="brackets"><router-link to="/">Edit</router-link></span></td></tr>
				<tr>
					<th colspan="2">Your Splits<google-map :markers="eventData.splits"></google-map></th>
					<td><span class="brackets"><router-link to="/splits">Edit</router-link></span></td>
				</tr>
				<tr>
					<th>Participants<br>{{ eventData.participants.length }}</th>
					<td>
						<span v-for="participant in eventData.participants">
							{{ participant.first }} {{ participant.last }},
						</span>
					</td>
					<td><span class="brackets"><router-link to="/participants">Edit</router-link></span></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<router-link to="/published" class="btn btn-primary pull-right">Publish&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></router-link>
		</div>
	</article>
</div></script>

<script type="text/x-template" id="published"><div>
	<article class="col-xs-12">
		Published
	</article>
</div></script>

<!-- Vue.js Applet -->

<div id="event-app" data-uuid="<%= @event ? @event.staging_id : params[:staging_id] %>">
	<script id="event-app-data" type="text/json"></script>

	<div class="container-fluid header">
		<div class="container">
			<h2><strong>Create Race</strong></h2>
			<nav class="progress-bar-nav">
				<ul>
					<li is="router-link" to="/" tag="li" exact><a href="#"><span>Your Event</span></a></li>
					<li is="router-link" to="/splits" tag="li"><a href="#"><span>Splits</span></a></li>
					<li is="router-link" to="/participants" tag="li"><a href="#"><span>Participants</span></a></li>
					<li is="router-link" to="/confirmation" tag="li"><a href="#"><span>Confirmation</span></a></li>
					<li is="router-link" to="/published" tag="li"><a href="#"><span>Published</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div is="router-view" v-bind:event-data="eventData"></div>
		</div>
	</div>
</div>
