---
http_interactions:
- request:
    method: post
    uri: https://api.pusherapp.com/apps/328773/events?auth_key=7996e63c91b42e483b50&auth_signature=dee88862db3acaa2dd2866a7636375e7ada7b8bbbdd451b668e45ab62427d086&auth_timestamp=1521537953&auth_version=1.0&body_md5=7f4c2c2d3fa1ac43ee96b621d60dd724
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["live-times-available.event_group.151"],"data":"{\"unconsidered\":0,\"unmatched\":0}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 20 Mar 2018 09:25:53 GMT
recorded_with: VCR 4.0.0
