<h1 align="center">Locations</h1>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Create New Location', new_location_path,
                class: 'btn btn-sm btn-success btn-margin-lg pull-right' %>
  </div>
</div>

<%= render 'locations', obj: @locations %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
