<h1 align="center">Listing All Locations</h1>
<div class="row">
  <div class="col-xs-8">
    <%= link_to 'Create New Location', new_location_path, class: "btn btn-sm btn-success" %>
  </div>
</div>
<hr>

<%= render 'location', obj: @locations %>
