<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Elevation (feet):</strong>
  <%= @location.elevation %>
</p>

<p>
  <strong>Elevation (feet):</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Elevation (feet):</strong>
  <%= @location.longitude %>
</p>
