<%# locals: (organization:, course_group:, course_group_finisher:) -%>

<tr>
  <td><strong><%= link_to course_group_finisher.full_name, organization_course_group_finisher_path(organization, course_group, course_group_finisher.slug) %></strong></td>
  <td><%= course_group_finisher.gender.titleize %></td>
  <td><%= course_group_finisher.flexible_geolocation %></td>
  <td class="text-center"><%= course_group_finisher.finish_count %></td>
</tr>
