<div class="card">
  <h4 class="card-header">Webhooks</h4>
  <div class="card-body">
    <p>Webhooks are a way for you to receive notifications when certain updates occur in OpenSplitTime. OpenSplitTime uses
      <a href="https://aws.amazon.com/sns/" target="_blank">Amazon SNS</a> to send webhook requests.</p>
    <p>You can subscribe to webhooks for any Event in your Organization. When an Event is updated, OpenSplitTime will instruct Amazon SNS to send a
      POST request via HTTP or HTTPS to the endpoint you specify. The request will contain a JSON payload with information about the update. You can
      use this information to take action within your own systems, such as making a request to the OpenSplitTime API for updated information.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Overview</h4>
  <div class="card-body">
    <p>Follow these steps to get set up with your webhook subscription:</p>
    <ol>
      <li>Set up an endpoint to receive webhook requests.</li>
      <li>Create a subscription for the endpoint you created in step 1.</li>
      <li>Confirm your subscription by making a GET request to the SubscribeURL provided by Amazon SNS.</li>
      <li>Monitor your endpoint and take appropriate action as webhook requests are received.</li>
    </ol>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Set up an Endpoint</h4>
  <div class="card-body">
    <p>On your own website, set up an endpoint. Your endpoint must be accessible via HTTP or HTTPS.</p>
    <p>For testing purposes, you can use a service like <a href="https://webhook.site/" target="_blank">Webhook.site</a> to create a temporary
      endpoint that will allow you to see the webhook requests, making it easier to code up to the requests in production.</p>
    <p>For production usage, you will need to have an endpoint on your own site. The endpoint <strong>must accept POST requests</strong> and must meet
      the other requirements described in the relevant <a href="https://docs.aws.amazon.com/sns/latest/dg/sns-http-https-endpoint-as-subscriber.html">
      Amazon SNS documentation</a>.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Create a Subscription</h4>
  <div class="card-body">
    <p>Create a subscription for the endpoint you created in step 1. You can do this by visiting the Event page for the Event you want to subscribe
      to, then click Results > Follow and follow the link shown in the Webhooks section.</p>
    <p>Once you are on the Webhooks page, click the "Add Subscription" button. Choose "HTTP" or "HTTPS" and then Enter the endpoint URL you created
      in step 1. <strong>The endpoint you enter must begin with "http://" or "https://" depending on the protocol you choose.</strong>
      Click "Create Subscription". Your webhook subscription will appear in the list under the relevant Event.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Confirm Your Subscription</h4>
  <div class="card-body">
    <p>Your subscription will initially be in a "Pending Confirmation" state. At the time you create your subscription, Amazon SNS will immediately
      send a confirmation POST request to your endpoint. The request will contain a JSON payload with a "SubscribeURL" property.</p>
    <p><strong>You must make a GET request to this URL to confirm your subscription.</strong></p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Monitor Webhook Requests</h4>
  <div class="card-body">
    <p>Once you have confirmed your subscription, your subscription will be in a "Confirmed" state. You will now receive webhook requests when
      updates occur to the subscribed Event in OpenSplitTime.</p>
  </div>
</div>
<br/>
