<div class="card">
  <h4 class="card-header">Credentials</h4>
  <div class="card-body">
    <p>To use the OpenSplitTime API, you will need to have an account on OpenSplitTime. Sign up for an account by
      visiting opensplittime.org and clicking "Sign Up."</p>
    <p>OpenSplitTime encrypts all passwords using state-of-the-art encryption methods. Your plain-text password is not
      stored in our database. In addition, passwords are filtered in our logs so they cannot be discovered even if our
      systems are compromised.</p>
  </div>
</div>
<br/>
