<div class="card">
  <h4 class="card-header">Security</h4>
  <div class="card-body">
    <p>The OpenSplitTime API is a secure <code>https</code> connection, so your credentials will be encrypted during transfer. As
      always, you should use measures to ensure credentials are kept secret and stored in a safe way in your client
      application. </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Token Lifespan</h4>
  <div class="card-body">
    <p>For additional security, the JSON Web Token issued to you will expire in one hour. If you need to use the token
      for a longer period, you will need to obtain a new token.</p>
  </div>
</div>
<br/>
