<div class="card">
  <h4 class="card-header">JSON Web Tokens</h4>
  <div class="card-body">
    <p>Once you have an account, you will need to pass your credentials to the OpenSplitTime API authorization
      endpoint. Get a token by passing <code>user[email]</code> and <code>user[password]</code> to
      <code>POST /api/v1/auth</code>, like this:</p>
    <hr/>
    <code>$ curl --data "user[email]=you@example.com&user[password]=yourpassword"
      https://www.opensplittime.org/api/v1/auth</code>
    <hr/>
    <p>OpenSplitTime will return a JSON response that looks something this:</p>
    <hr/>
    <code>{"token":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOjM0OCwih76RajoxNTU3OTYxNTU5fQ.af-9vqOLO-M7XPlJWlLazA0gjABLFN-5Fn60d5tUajw"}</code>
    <hr/>
    <p>The value of the <code>token</code> key is your JSON Web Token.</p>
  </div>
</div>
<br/>
