<div class="card">
  <h4 class="card-header"><%= link_to 'Getting Started', docs_getting_started_path %></h4>
  <div class="card-body">
    <p>
      The basics of creating your event and understanding terms used on the site.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header"><%= link_to 'Managing an Event', docs_management_path %></h4>
  <div class="card-body">
    <p>
      Checking in, starting, monitoring, and closing down your event.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header"><%= link_to 'OST Remote', docs_ost_remote_path %></h4>
  <div class="card-body">
    <p>
      Full documentation for OST Remote, the easiest way to enter live time entries.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header"><%= link_to 'The OpenSplitTime API', docs_api_path %></h4>
  <div class="card-body">
    <p>
      How to use the OpenSplitTime API.
    </p>
  </div>
</div>
