<div class="card">
  <h4 class="card-header">Duplicating an existing Event Group</h4>
  <div class="card-body">
    <p>If you want to create a new Event Group based on an Event Group that already exists in OpenSplitTime (for example,
      from a prior year), you can easily duplicate an Event Group. </p>
    <ol>
      <li>Make sure you are logged in and have owner privileges for your Organization. </li>
      <li>Go to <strong>My Stuff > My Organizations</strong>, then click on your Organization and click on the Event Group. </li>
      <li>Click on <strong>Admin > Settings > Group Actions > Duplicate group</strong>. </li>
      <li>Enter the name and date for the new Event Group and click "Duplicate Event Group". </li>
      <li>OpenSplitTime will duplicate the Event Group and all Events within the original Event Group, but will not add any
        Entrants. </li>
      <li>Make any changes as necessary. For example, if the start time for your 100K was 6:00 last year but you've moved
        it to 5:30 this year, you can click Admin > Settings, and then Actions > Edit event.</li>
      <li>Now <%= link_to 'import your Entrants', getting_started_path(topic: :staging, page: 5) %> and you are ready to go.</li>
    </ol>
  </div>
</div>
<br/>
