<div class="card">
  <h4 class="card-header">Event Groups</h4>
  <div class="card-body">
    <p>
      An Event Group is owned by an Organization, and it has one or more Events contained within it. No one person can
      participate in more than one of the Events within an Event Group. Another way to think of it is that all bib
      numbers within an Event Group must be unique.
    </p>
    <p>
      For example, if you are running 6-hour, 12-hour, and 24-hour events all on the same day, an entrant would have to
      choose to run one of those events. Also, you would not have a bib number 101 in the 6-hour event and a different
      bib number 101 in the 12-hour event. So the 6-, 12-, and 24-hour events would fit nicely into a single Event
      Group.
    </p>
    <p>
      When entering times using Live Entry or OST Remote, you are entering times not for a single Event, but rather for
      an Event Group. For example, if you have 6-hour, 12-hour, and 24-hour events within a single Event Group, you
      would have the ability to use a single iPad running OST Remote to enter times for entrants in all of those events.
    </p>
  </div>
</div>
