<div class="card">
  <h4 class="card-header">Formatting your Split data for import</h4>
  <div class="card-body">
    <p>
      OpenSplitTime makes it easy (or at least reasonably doable for mere mortals) to import your data into the system.
      To start, you'll need to get your data into comma-separated-value (.csv) format. Data is imported in two
      steps: Split import and Entrant import.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Split Import Template</h4>
  <div class="card-body">
    <p>
      First, download a template. After you create your event, go to <strong>Admin > Staging > Splits > Import >
      Download template</strong>. A blank splits template will be downloaded by your browser. Use this template to add split
      names, distances, latitude, longitude, and elevation. The "Sub split kinds" column should be either "in" (if you are
      recording only one time, as runners enter the aid station) or "in out" (if you are recording times both in and out
      of the aid station). When the spreadsheet is complete, save it back out (remember to save it in CSV format) and then
      go to <strong>Admin > Staging > Splits > Import > Import splits</strong>.
    </p>
  </div>
</div>
