<div class="card">
  <h4 class="card-header">People</h4>
  <div class="card-body">
    <p>
      A Person is someone who has participated in one or more Events. When a new Event is imported, an intelligent
      matching system attempts to reconcile new Entrants with existing People, avoiding duplication in the database.
    </p>
  </div>
</div>
