<div class="card">
  <h4 class="card-header">Entrants and Efforts</h4>
  <div class="card-body">
    <p>
      An Entrant is a Person in a single Event. To ensure consistency and avoid duplication of People in the database,
      Entrant data includes the person's basic information (name, gender, and age) and also relates to the
      Split Times recorded. The final results for your Event will be a collection of Entrants with the times they
      recorded at various Splits.
    </p>
    <p>An Effort is the same as an Entrant, except that we generally use the term Entrant to refer to the Entrant alone,
      and we use the term Effort to refer to the Entrant and all of his or her related Split Times. </p>
  </div>
</div>
