<div class="card">
  <h4 class="card-header">Getting Help</h4>
  <div class="card-body">
    <p>If you have any questions, please <%= mail_to 'mark@opensplittime.org', 'contact us' %> and we will do our best
      to help.</p>
  </div>
</div>
<br/>
