<div class="card">
  <h4 class="card-header">Creating a new Event with an existing Organization</h4>
  <div class="card-body">
    <p>If your new Event Group doesn't share common characteristics with any existing Event Group, follow these steps to
      create a new one:</p>
    <ol>
      <li>Visit your Organization page, and click "Create New Event".</li>
      <li>If you are using the same Course as last time, check to make sure all the Splits you need have been associated,
        or click the check mark boxes to add or remove Splits for this event. If you are using a new Course, create it using
        the fields provided.</li>
      <li>Add your Entrants' information manually or import it. </li>
      <li>Use OST Live or import existing time data. Please <%= mail_to 'mark@opensplittime.org', 'contact us' %> if you
        need help with importing time data.</li>
    </ol>
  </div>
</div>
<br/>
