<div class="card">
  <h4 class="card-header">Formatting your Entrant data for import</h4>
  <div class="card-body">
    <p>
      Once your Splits are in place, it's time to get the Entrant data in.
    </p>
    <p>
      Again, the first step is to download a template, which you can do from <strong>Admin > Staging > Entrants > Import >
      Download template</strong>. Required fields are First Name, Last Name, and Gender. But please add as much
      information as you have about your entrants, as this will help OpenSplitTime match up your entrants with existing
      entrants in the database. In particular, birthdate (or age) and city/state are helpful.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Entrant import (without times)</h4>
  <div class="card-body">
    <p>
      If you are importing Entrant data without times (for example, if this is a new event that has not yet started),
      simply complete the template, save it as a CSV file, and import it using
      <strong>Admin > Staging > Entrants > Import > Without Times</strong>.
    </p>
    <p>
      One optional import field is "Comments." If you want to include comments about an entrant, import them in this
      field. <strong>Your comments will be not be visible to the public.</strong> These comments appear, for example,
      in the Finish Line view, and you can use them as announcer's notes when an entrant finishes the event.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Entrant import (with times)</h4>
  <div class="card-body">
    <p>
      If the event is already complete, you will probably want to import time data along with your entrants. To the right
      of your personal information columns you will need to have exactly as many Split columns as you have Splits
      associated with your effort. OST will reject an import if it detects a mismatch.
    </p>
  </div>
</div>
<br/>
