<div class="card">
  <h4 class="card-header">Experiment!</h4>
  <div class="card-body">
    <p>
      Sign in, click around, and play with the various screens and buttons. Add some things manually and import some data.
      If you get hopelessly lost and make a mess, just delete your Event, and all Entrants and Split Times related to the
      Event will be deleted with it. You cannot, accidentally or otherwise, delete any data that you did not create
      yourself.
    </p>
    <p>
      In addition, any Organization, Course, or Event Group that you create will remain private until you decide to make
      it public.
    </p>
    <p>
      We are here to help! If you run into a snag, please <%= mail_to 'mark@opensplittime.org', 'contact us' %> and we'll
      get right back to you.
    </p>
  </div>
</div>
