<div class="card">
  <h4 class="card-header">Entrants</h4>
  <div class="card-body">
    <p>
      An Entrant is a Person in a single Event. To ensure consistency and avoid duplication of People in the database,
      Entrant data includes the person's basic information (name, gender, and age) and also relates to the
      person's finish time and any intermediate split times recorded. The final results for your Event will be a
      collection of Entrants with the times they recorded at various Splits.
    </p>
  </div>
</div>
