<div class="card">
  <h4 class="card-header">Welcome</h4>
  <div class="card-body">
    <p> OpenSplitTime is a free and easy service to organize and analyze your timed event data. All this data fits into a
      defined pattern, and there is a fair amount of terminology behind it. Things can seem a bit confusing at first, but
      it all works out. Here's a short description of the terms you need to know.</p>
    <p>All this data is stored in a logical way with proper relations, which makes it possible to do just about
      anything you want with it. If you've never seen endurance event data organized like this before, maybe that's
      because nobody has gone to the trouble of doing it right before. Some geeky people gave this a lot of
      thought. Trust us! The form follows the function.</p>
  </div>
</div>
