<div class="card">
  <h4 class="card-header">Organizations</h4>
  <div class="card-body">
    <p>
      Your Organization allows certain users authorization to add, edit, or delete data for your events.
      For example, the volunteer crew might be given access to add new time data as it is
      received, or a friend might be given access to upload and organize archival data from earlier events.
    </p>
    <p>
      Each Organization has a single Owner and can have one or more Stewards. Stewards have authority to enter and
      modify time records and handle other ministerial tasks. The Owner has authority to make major changes, such as
      creating or deleting an Event Group.
    </p>
  </div>
</div>
