<div class="card">
  <h4 class="card-header">The Aid Station Detail View</h4>
  <div class="card-body">
    <p>The Aid Station Detail screen provides detailed information regarding the status of each Entrant at one
      particular station.</p>
    <p>You can reach the Aid Station Detail screen by selecting <strong>Live > Aid Detail</strong> from the menu. Or you
      can visit the Aid Station Overview (<strong>Live > Aid Summary</strong>) and click on the name of any station to
      reach the Aid Station Detail screen for that station.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Selecting the Event and Aid Station</h4>
  <div class="card-body">
    <p>If your Event Group has multiple Events, you can switch between them using the blue-and-white Event selector
      above the table on the left.</p>
    <p>You can quickly switch from one station to another by clicking the dropdown menu labeled with the aid station
      name, and then selecting another station. Or use the arrow buttons to the left and right of the station dropdown
      selector to switch to the previous or next station.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">View Modes</h4>
  <div class="card-body">
    <p>The View Mode dropdown is above the table on the right side. This dropdown allows you to switch between several
      views.</p>
    <ul>
      <li><strong>Recorded:</strong> Shows a list of all Entrants recorded at this station, together with their recorded
        time and, when applicable, their prior and next recorded times before and after this station.
      </li>
      <li><strong>In Aid:</strong> Lists any Entrants who have been recorded into, but not out of, this station. This
        option is available only if you have opted to record both "in" and "out" times at the station.
      </li>
      <li><strong>Missed:</strong> Lists Entrants who were not recorded at this station but who were recorded at a later
        station.
      </li>
      <li><strong>Dropped/Stopped:</strong> Lists Entrants who dropped at this station (in the case of distance-based
        Events) or refused to continue beyond this station (in the case of time-based Events).
      </li>
      <li><strong>Expected:</strong> Lists all Entrants who are still expected at this station, together with an
        estimate of where and when they are due next, and when they are due at this station. An Entrant is expected
        if he or she has started the Event but not been recorded at this station or at a later station, and has not
        stopped/dropped at a previous station.
      </li>
    </ul>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Power of Prediction</h4>
  <div class="card-body">
    <p>OpenSplitTime uses existing data to predict arrival times for Entrants in progress. If you have time data
      from at least one prior-year Event on the same Course, these predictive algorithms can be extremely helpful.</p>
    <p>If a station contacts headquarters to ask what runners they should be expecting and when, the Aid Station Detail
      screen is the best source to provide the answers.</p>
  </div>
</div>
<br/>
