<div class="card">
  <h4 class="card-header">Protecting Your Devices</h4>
  <div class="card-body">
    <p>You should prepare your devices for weather and rough treatment. It is likely that during a given event, some
      device will be dropped. We strongly recommend that you <strong>place each device into a protective case</strong>
      designed for outdoor use.
    </p>
    <p>Also consider weatherproofing as appropriate for wet conditions. In the rain, a large ziplock bag can be
      useful.</p>
    <p>Remember that batteries are less effective (sometimes dramatically less effective) in cold conditions.
      <strong>In very cold temperatures, a weak battery may suddenly fail</strong>, resulting in a device that reports
      50% or more battery shutting off without warning.</p>
    <p>In temperatures below 50 degrees, try to keep devices warm by keeping them inside a pocket or otherwise close to
      body heat, such as inside a jacket. During extended use in cold conditions, keep an external battery inside your
      jacket with the cable attached to the device at all times.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Battery Life</h4>
  <div class="card-body">
    <p>You will need to make sure each device has an acceptable battery life for your event. Older devices tend to have
      older, weaker batteries, but this depends on other factors such as the amount of use. Regardless of battery
      capacity, <strong>we strongly recommend that you have an external power source and charging cable
      available</strong> at all stations when using OST Remote.</p>
    <p>All devices use power when they are turned on, even when in sleep mode. When storing your devices for more than a
      day or two, power the device off. For an iPad or iPad Mini, do the following:</p>
    <ol>
      <li>Press and hold the on/off/sleep button for a few seconds until a slider appears on the screen.</li>
      <li>Move the "Slide to power off" slider all the way to the right.</li>
      <li>You should see a spinning wheel for a few seconds and then the screen will go dark.</li>
      <li>Test that the iPad is powered off by pressing the Home button a few times. The device should not respond.</li>
    </ol>
    <p>To turn an iPad back on, hold the on/off/sleep button for a few seconds until you see the Apple logo.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Software Updates</h4>
  <div class="card-body">
    <p>Make sure to check for system software updates regularly. On your iOS device, while you are connected to a WiFi
      network, go to <strong>Settings > General > Software Update</strong> and the device will tell you if a system
      software update is available.</p>
    <p>Also make sure you are always using the latest version of OST Remote. On your iOS device, tap
      <strong>App Store > Updates</strong> and the device will tell you if a newer version of OST Remote is available.
    </p>
  </div>
</div>
<br/>
