<div class="card">
  <h4 class="card-header">Setting Stops</h4>
  <div class="card-body">
    <p>At the conclusion of your Event, you may have Entrants still showing as "in progress" even though you
      know these Entrants are no longer on the course. This occur if Entrants drop and leave the Course without
      notifying timing crews. It may also occur if timing crews are not accurately reporting stopped Entrants.</p>
    <p>To set stops for all Entrants in an Event at the last point for which times were recorded, use the Establish
      Drops tool.</p>
    <ol>
      <li>Visit the Settings page (<strong>Admin > Settings</strong>)</li>
      <li>If the Event Group has multiple Events, locate the applicable Event</li>
      <li>Select <strong>Actions > Establish Drops</strong> from the menu for the applicable Event</li>
      <li>Click <strong>OK</strong> to confirm your choice</li>
    </ol>
    <p>OpenSplitTime will set a stop at the last recorded Split Time for each Entrant.</p>
  </div>
</div>
<br/>
