<div class="card">
  <h4 class="card-header">Helping People Follow Your Event</h4>
  <div class="card-body">
    <p>OpenSplitTime gives you access to free, convenient updates for families, friends, fans, and crews. Updates are
      available at the Results pages and also via text message and email updates to subscribed users. </p>
    <p>To make sure everyone knows how to follow your Event Group live, we provide an easy guide customized for each
      Event Group. To inform your Entrants how to follow the event, visit the Follow page (<strong>Results >
      Follow</strong>), copy the link, and send it to your contact list.</p>
    <p><strong>Note that the Follow page, like the rest of your event pages, will not be visible to the general public
      until you have made your Event Group public.</strong> Make sure to
      <%= link_to 'make your event public', management_path(topic: :preparation, page: 1) %> before sending any links
      intended for public use.</p>
  </div>
</div>
<br/>
