<div class="card">
  <h4 class="card-header">The Full Results View</h4>
  <div class="card-body">
    <p>The Full Results page provides the best overview of an Event. It shows all Entrants, whether or not started, in
      progress, dropped, or finished.</p>
    <p>The Full Results page shows only a single Event at a time. If your Event Group includes multiple Events, you can
      quickly switch between them using the blue-and-white pill bar just above the table on the left side.</p>
    <p>The Full Results page is available to the public as well as to the authorized Owner and Stewards.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Sorting and Filtering</h4>
  <div class="card-body">
    <p>By default, Entrants in the Full Results view are ranked by distance traveled and elapsed time. You can change
      the sort by clicking any of the blue table headings.</p>
    <p>You can also change the style in which times are displayed. By default, an Event in progress will display AM/PM
      times, but you can use the dropdown menu on the far right side above the table to change this to Elapsed, 24-Hour,
      or Segment times.</p>
    <p>Using the other dropdown menu at the upper right side of the table, you can show all Entrants (Combined), or
      filter to show only male or only female Entrants.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Looking for Holes</h4>
  <div class="card-body">
    <p>In an ideal Event, the Full Results view will show a complete set of data, with a Split Time at each station for
      each Entrant. In real life, you may have "holes" in the data where an Entrant was missed or the bib number was not
      correctly entered.</p>
    <p>Look for patterns in the data holes. If a particular station is missing a long list of runners, check in with the
      station to see if times are not being synced, or if some times had to be recorded manually and have yet to be
      reported.</p>
    <p>If a particular Entrant is missing several Split Times, consider whether the Entrant may not be displaying his or
      her bib correctly. Where appropriate, consider whether it is possible the Entrant may not have completed the
      entire course.</p>
    <p>Some holes may be caused by data that OpenSplitTime has determined is not correct. For example, if Bib #111 is
      recorded at Aid 2 at 12:30 and also recorded at Aid 3 at 12:10, OpenSplitTime will reject whichever of those times
      is submitted second. Faulty times need to be pulled into
      the <%= link_to 'Live Entry', docs_management_path(topic: :enter, page: 1) %> screen for review by a human.</p>
  </div>
</div>
<br/>
