<div class="card">
  <h4 class="card-header">Predicting Traffic</h4>
  <div class="card-body">
    <p>If you have data from at least one prior Event on the same Course, you can predict the timing and density of
      traffic through your stations. Predictive data can help you determine when your aid stations need to open, when
      they can expect to close down, and how many Entrants to expect at various times during the open period.</p>
    <p>From a prior Event Group, visit the Traffic screen (<strong>Results > Traffic</strong>). You will see a list of
      time intervals and counts, indicating how many Entrants were recorded at the starting station during the various
      time intervals.</p>
    <p>Select another station by using the <strong>station dropdown menu</strong> or clicking the arrows on either side
      of the station dropdown menu.</p>
    <p>For stations that record both "in" and "out" times, there will be separate "in" and "out" counts for each time
      interval.</p>
    <p>Select a different time interval using the <strong>interval dropdown menu</strong>.</p>
  </div>
</div>
<br/>
