<div class="card">
  <h4 class="card-header">Aid Station Overview</h4>
  <div class="card-body">
    <p>The Aid Station Overview provides the easiest way to determine the status of your Event at a glance. You can
      think of the Aid Station Overview as a distilled version of the Full Results screen. </p>
    <p>When a station calls headquarters to ask a question about how many runners have passed through or how many
      runners are yet expected, <strong>the Aid Station Overview is usually the best place to start</strong>.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Understanding the Data</h4>
  <div class="card-body">
    <p>The Aid Station Overview lists all stations for a given event. For each station, it shows how many Entrants were
      recorded there, how many Entrants were missed (meaning not recorded there but recorded at a later station), how
      many dropped (or refused to continue) at that station, and how many are still expected.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Drilling Down</h4>
  <div class="card-body">
    <p>Each aid station name is a link to an Aid Detail screen for that station. Click any of the links to visit the Aid
      Detail screen.</p>
    <p>In addition, each of the numbers in the table may be clicked to provide a simple list of the Entrants who are
      included in that number.</p>
  </div>
</div>
<br/>
