<div class="card">
  <h4 class="card-header">Changing Start Times</h4>
  <div class="card-body">
    <p>Sometimes you may start entrants with the wrong start time. For example, you may have started entrants with a
      start time at the exact scheduled start time of 07:00:00, and later you may determine that the actual start time
      was a few seconds later, at 07:00:04.
      <strong>You can change start times in bulk using the Manage Start Times view.</strong></p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Manage Start Times View</h4>
  <div class="card-body">
    <p>You can reach the Manage Start Times View by going to <strong>Admin > Construction > Entrants > Actions > Manage
      Start Times</strong>.</p>
    <p>In the view, you will see all efforts listed for your event group. The efforts will be grouped by event and by
      actual start time. This view allows you to change, in bulk, start times for all efforts having a given actual
      start time.</p>
    <p>For example, assume you want to change all efforts in a particular event having an actual start time
      of 07:00:00 to 07:00:04. Do this as follows:</p>
    <ol>
      <li>Go to the Manage Start Times view</li>
      <li>Find the group of efforts for the event in question having an actual start time of 07:00:00 (the date will be
        shown as well)</li>
      <li>In the header for that group, click the blue pencil icon</li>
      <li>Enter the corrected actual start time (including the date)</li>
      <li>Click the submit button (the button with the check mark)</li>
    </ol>
    <p>The actual start time for all efforts in that group will be updated to reflect the corrected time.</p>
  </div>
</div>
<br/>
