<div class="card">
  <h4 class="card-header">Changing Entrant Information</h4>
  <div class="card-body">
    <p>Sometimes you will need to make changes to an Entrant's information at the last minute. You can do this during
      the check-in process (or at any other time) from the Roster.</p>
    <ol>
      <li>Go to the Roster view (<strong>Admin > Roster</strong>)</li>
      <li>Click on the Entrant's name</li>
      <li>Select <strong>Actions > Edit Entrant</strong></li>
      <li>Make the needed changes</li>
      <li>Click <strong>Update Entrant</strong></li>
    </ol>
    <p>OpenSplitTime will update the Entrant. If an update is not possible (for example, because the bib number was
      changed to a bib number already assigned to another Entrant), then OpenSplitTime will alert you of the problem and
      return you to the Edit Entrant screen.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Moving an Entrant to Another Event</h4>
  <div class="card-body">
    <p>If your Event Group includes more than one Event, you may need to change an Entrant from one Event to another.
      You can do this from the Roster.</p>
    <ol>
      <li>Go to the Roster view (<strong>Admin > Roster</strong>)</li>
      <li>Click on the Entrant's name</li>
      <li>Select <strong>Actions > Edit Entrant</strong></li>
      <li>Use the <strong>Event</strong> dropdown menu to select the correct Event</li>
      <li>Click <strong>Update Entrant</strong></li>
    </ol>
    <p>OpenSplitTime will update the Entrant. If an Entrant has times already recorded, OpenSplitTime will attempt to
      change those times to the newly assigned Event. If times are incompatible (for example, if the Entrant has a time
      entered at Aid 3 but the Event to which the Entrant is being moved does not go to Aid 3), then OpenSplitTime will
      alert you of the problem and return you to the Edit Entrant screen.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Deleting an Entrant</h4>
  <div class="card-body">
    <p>You can also delete an Entrant from the Roster.</p>
    <ol>
      <li>Go to the Roster view (<strong>Admin > Roster</strong>)</li>
      <li>Click on the Entrant's name</li>
      <li>Select <strong>Actions > Delete Entrant</strong></li>
      <li>Confirm your choice by clicking <strong>OK</strong></li>
    </ol>
    <p>OpenSplitTime will update the Entrant. If an Entrant has times already recorded, OpenSplitTime will attempt to
      change those times to the newly assigned Event. If times are incompatible (for example, if the Entrant has a time
      entered at Aid 3 but the Event to which the Entrant is being moved does not go to Aid 3), then OpenSplitTime will
      alert you of the problem and return you to the Edit Entrant screen.</p>
  </div>
</div>
<br/>
