<div class="card">
  <h4 class="card-header">Setting a Notice on the Results Page</h4>
  <div class="card-body">
    <p>Sometimes it is helpful to alert followers to special conditions about your race. For example, you may want to notify people
       that times at a particular aid station will not be available live, or that crew access to an aid station requires 4WD because
       of unexpected road conditions.</p>
    <p>You can set such a message to appear on the Results page by going to <strong>Construction > Events and Courses</strong>, then click
       on the applicable Event icon, and enter the message in the <strong>Notice Text</strong> field. Once set, the notice text will appear
       prominently on the Full Results page for the Event.</p>
  </div>
</div>
<br/>
