<div class="card">
  <h4 class="card-header">The Progress Report View</h4>
  <div class="card-body">
    <p>This report shows how many runners are in progress on the course and provides the easiest way to determine if an
      Entrant has been delayed. Long delays indicate an Entrant may be injured or lost.</p>
    <p>The Progress Report is available by selecting <strong>Live > Progress</strong>. The Entrant summary is followed
      by a list of all Entrants that are "past due," meaning they were not recorded at their destination and more than
      30 minutes have passed since their expected arrivals.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Understanding the Report</h4>
  <div class="card-body">
    <p>If you see many Entrants listed as past due from a single station, <strong>there is a good chance that station is
      not reporting times</strong>. Call the station to determine if they need to sync OST Remote. In most instances,
      the timing crew has simply forgotten to report or sync times. If they are unable to sync because of connectivity
      problems, consider taking a report of times manually and entering them using
      the <%= link_to 'Live Entry', docs_management_path(topic: :enter, page: 1) %> screen.</p>
    <p>If you see one or two Entrants from various stations listed, that is an indication that those Entrants may have
      been missed or their bib numbers incorrectly recorded. Or it may be an indication that the Entrants are taking
      longer than expected because of course conditions or simple fatigue. <strong>But it may also be an indication that
      they are injured or lost.</strong> Keep an eye on Entrants that are seriously past due. Call the aid stations that
      should have seen them, ask volunteers and course sweepers to watch for them, and use your judgment to determine if
      further help is needed.</p>
  </div>
</div>
<br/>
