<div class="card">
  <h4 class="card-header">Obtaining Timing Equipment</h4>
  <div class="card-body">
    <p>If you plan to record times using <%= link_to 'OST Remote', ost_remote_path %>, you will need to gather enough
      iOS devices (iPhones and iPads) for use at the various stations that will be recording times. When determining
      the number of devices you need, <strong>remember to account for any stations that will need two devices</strong>,
      for example, if you will be recording times both in and out of the station and the course is arranged such that
      participants check into and out of the station at different physical locations.</p>
    <p>You can buy devices for your Organization, share with another Organization whose event schedule is compatible
      with yours, or borrow devices from friends of the Organization. Make sure you obtain your devices with plenty of
      time before your event to ensure you can get OST Remote loaded and train your timing crews.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Device Requirements</h4>
  <div class="card-body">
    <p>OST Remote requires an iPhone or iPad running iOS 9 or later.</p>
    <p>We have found that an iPad Mini is about the right size for easy viewing and easy handling. A medium-format
      (9.5- to 11-inch) iPad is also fine, though not quite as easy to use while standing up. Large (13-inch) iPads will
      work fine for an operator at a table, but they are awkward to use while standing.</p>
    <p>Newer devices will result in slightly better feel and performance, but any iOS device produced since about 2012
      will run OST Remote. As a rule of thumb, <strong>any device that uses a Lightning port</strong> (the small,
      reversible Apple charging port) will probably work; any device with an older 30-pin connector will probably not
      work.</p>
    <p>Most iPhones will also work, though those with smaller screens will be harder to read.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Buying Your Own</h4>
  <div class="card-body">
    <p>As of 2019, new iPad Minis are available from Apple starting from $399 in the US. Most Organizations will
      prefer to buy used devices from a reputable used equipment supplier. As of 2019, <strong>a used iPad Mini in fair
      condition should cost between $100 and $150</strong> in the US.</p>
    <p>We have had good luck buying devices from
      <%= link_to 'Swappa', 'https://swappa.com/buy/apple/ipad', target: '_blank' %>,
      <%= link_to 'Gazelle', 'https://buy.gazelle.com/collections/ipads', target: '_blank' %>, and
      <%= link_to 'eBay', 'https://www.ebay.com/sch/i.html?_nkw=ipad+mini', target: '_blank' %>. </p>
  </div>
</div>
<br/>
