<div class="card">
  <h4 class="card-header">Finish Line</h4>
  <div class="card-body">
    <p>Use the Finish Line view (<strong>Admin > Finish Line</strong>) to quickly get information about Entrants who
      have recently finished or who are expected to finish soon. The Finish Line view also allows you to search for any
      Entrant by bib number and see the same relevant information.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Recently Finished and Next Expected Entrants</h4>
  <div class="card-body">
    <p>The Finish Line view shows a list of recently finished Entrants. It also shows a list of the next several
      Entrants that are expected to finish, based on times leaving previous aid stations.</p>
    <ul>
      <li>Recently finished Entrants will show finish times next to their names.</li>
      <li>If OpenSplitTime has enough data to calculate expected finish times, next expected Entrants will show
        expected finish times next to their names.
      </li>
    </ul>
    <p>To get information about a recently finished or next expected Entrant, click the button for the Entrant.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Finding an Entrant by Bib Number</h4>
  <div class="card-body">
    <p>To search for an entrant by bib number, type the bib number into the input box and hit Tab or click the "Go"
      button.</p>
  </div>
</div>
<br/>
