<div class="card">
  <h4 class="card-header">Going Public and Going Live</h4>
  <div class="card-body">
    <p>Each Event Group is either "public" or "private." Public event groups can be seen by everyone, but private event
      groups are viewable only by the Organization Owner and its designated Stewards.</p>
    <p>Each Event Group is either "available live" or not "available live." When an Event Group is available live, it is
      ready to accept Raw Times entered from the Live Entry screen (<strong>Live > Time Entry</strong>) or
      from <%= link_to 'OST Remote', ost_remote_path %>.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Going Public (or Private)</h4>
  <div class="card-body">
    <p><strong>When you create a new Event Group, it is private</strong>, allowing you time to load your splits and
      entrants and get everything ready. An Event Group will not become public until you make it so. </p>
    <p>You can change an Event Group from private to public by using the Settings page (<strong>Admin > Settings > Make
      Public</strong>) or the Staging page (<strong>Admin > Staging > Confirmation > Publish</strong>).</p>
    <p>You can also change an Event Group back to private from the Settings page (<strong>Admin > Settings > Make
      Private</strong>) or from the Staging page (<strong>Admin > Staging > Confirmation > Publish > Make Private
      Again</strong>).</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Enabling and Disabling Live Entry</h4>
  <div class="card-body">
    <p><strong>When you create a new Event Group is it not available live</strong>. This allows you time to get
      everything set up before it becomes visible to users of OST Remote. An Event Group will not be enabled for live
      entry until you make it so.</p>
    <p>You can enable live entry for an Event Group from the Settings Page (<strong>Admin > Settings > Enable
      Live</strong>).</p>
    <p>You can also disable live entry for an Event Group from the Settings Page (<strong>Admin > Settings > Disable
      Live</strong>).</p>
  </div>
</div>
