<div class="card">
  <h4 class="card-header">Disabling Live Entry</h4>
  <div class="card-body">
    <p>When you are finished using OST Remote and editing times using the Live Entry screen, be sure to disable live
      entry for the Event Group. Disabling live entry will ensure the Event Group does not appear as an option when an
      Owner or Steward logs in to OST Remote. This can avoid the problem of an OST Remote operator inadvertently
      selecting the wrong Event Group when attempting to enter times for a future event.</p>
    <p>Disable live entry from the Settings screen (<strong>Admin > Settings > Disable Live</strong>).</p>
  </div>
</div>
<br/>
