<div class="card">
  <h4 class="card-header">Exporting Data</h4>
  <div class="card-body">
    <p>OpenSplitTime provides tools for exporting your results in three different formats.</p>
    <ul>
      <li>Full Results</li>
      <li>Finisher List</li>
      <li>Ultrasignup Results</li>
    </ul>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Exporting Full Results</h4>
  <div class="card-body">
    <p>You can export full results to a CSV file from the Full Results screen (<strong>Results > Full > Export
      Spreadsheet</strong>). Time data will be exported in the same format it is displayed on screen (Elapsed, AM/PM,
      24-Hour, or Segment).</p>
    <p><strong>This export option is available only after the Event is concluded</strong> (that is, after all Entrants
      who started have either finished or dropped).</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Exporting a Finisher List</h4>
  <div class="card-body">
    <p>You can export a summary finisher list to a CSV file. Access the tool from the Settings page
      (<strong>Admin > Settings > Actions > Export Finisher List</strong>).</p>
    <p>This export option is available at any time during or after the Event.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Exporting Ultrasignup Results</h4>
  <div class="card-body">
    <p>You can export results to a CSV file in a format that is readable by Ultrasignup. Access the tool from the
      Settings page (<strong>Admin > Settings > Actions > Export to Ultrasignup</strong>).</p>
    <p><strong>This export option is available only after the Event is concluded</strong> (that is, after all Entrants
      who started have either finished or dropped).</p>
  </div>
</div>
<br/>
