<div class="card">
  <h4 class="card-header">Direct Edit</h4>
  <div class="card-body">
    <p>An Entrant's Split Times can be edited directly, either as military times, elapsed times, or full dates with
      times. Follow this procedure to edit times directly:</p>
    <ol>
      <li>Visit the Entrant Show screen by clicking on the Entrant's name in the Roster or Full Results screen</li>
      <li>Click <strong>Actions > Edit Times of Day</strong> or <strong>Actions > Edit Dates and Times</strong> or
        <strong>Actions > Edit Elapsed Times</strong>, depending on which format you prefer to edit
      </li>
      <li>Make changes and click <strong>Update Times</strong></li>
    </ol>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">When to Use Direct Edit</h4>
  <div class="card-body">
    <p>Use restraint when editing times directly. On the plus side, if an Entrant has several incorrect or blank times,
      it is easy to edit or add them all in a single stroke. On the minus side, times entered or edited directly in this
      manner <strong>will have no Raw Times associated with them</strong>, so there will be no audit trail indicating
      when they were changed or by whom. If you instead enter each time in the Live Entry screen, it will take a bit
      longer, but Raw Time records will be created for each entry, making the changes easier to trace in the future.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Directly Editing Start Times</h4>
  <div class="card-body">
    <p>An Entrant's <strong>starting Split Time</strong> can be edited in Time of Day or Date and Time format, but
      <strong>cannot be edited in Elapsed Time format</strong> (because the starting elapsed time is always
      00:00). Edit Times of Day or Dates and Times if you need to directly edit the start time.</p>
  </div>
</div>
<br/>
