<div class="card">
  <h4 class="card-header">The Problem Efforts View</h4>
  <div class="card-body">
    <p>When an Entrant has recorded times that do not make sense, it is flagged as a "Problem" and made available for
      review in the Problems screen. You can reach the Problems screen by selecting <strong>Admin > Problems</strong>.
    </p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Handling Problems</h4>
  <div class="card-body">
    <p>Try to keep abreast of Problem efforts during the Event. Early discovery of problems may enable you to fix a
      procedure and avoid the problem being repeated over the course of the Event.</p>
    <p>If time does not permit during the Event, you can always fix problems after the Event concludes. Keep in mind,
      however, that <strong>problems affecting final standings will need to be understood before awards are
      presented</strong>.</p>
    <p>You can fix problems by editing times, deleting times, or confirming times. More details are provided in the
      <%= link_to 'Fixing Problems', docs_management_path(topic: :enter, page: 4) %> page.</p>
  </div>
</div>
<br/>
