<div class="card">
  <h4 class="card-header">Tools to Monitor Entrants</h4>
  <div class="card-body">
    <p>OpenSplitTime provides you with advanced tools to monitor your Entrants on the course.</p>
    <p>Many race directors and timing coordinators will create individual tabs in a browser, one for each primary
      monitoring tool. They will then rotate through the various tabs on a regular schedule, perhaps every few
      minutes.</p>
    <p>The various monitoring tools will allow you to prompt stations for timing data, quickly provide information to
      stations as to when Entrants should be expected, and flag overdue Entrants that may be injured, exhausted, or
      lost.</p>
    <p>The primary monitoring tools available are:</p>
    <ul>
      <li>Full Results view (<strong>Results > Full</strong>)</li>
      <li>Progress view (<strong>Live > Progress</strong>)</li>
      <li>Aid Station Overview (<strong>Live > Aid Stations</strong>)</li>
      <li>Aid Station Detail views (<strong>Live > Aid Detail</strong>)</li>
      <li>Problem Efforts view (<strong>Admin > Problems</strong>)</li>
      <li>Raw Times List view (<strong>Raw Times > List</strong>)</li>
      <li>Raw Times Splits view (<strong>Raw Times > Splits</strong>)</li>
      <li>Finish Line view (<strong>Admin > Finish Line</strong>)</li>
    </ul>
    <p>Each tool is described in detail in the following pages.</p>
  </div>
</div>
<br/>
