<div class="card">
  <h4 class="card-header">Logout</h4>
  <div class="card-body">
    <p>The final Main Menu item is Logout. To use it, reveal the Main Menu, tap "Logout," and then tap "Logout" again in
      the confirmation dialog box.</p>
    <p>You will probably only ever need to use this feature if</p>
    <ol>
      <li>You need to log in with a different username</li>
      <li>You need to switch to a different event</li>
      <li>The event has concluded and you want to make sure no additional times are inadvertently added</li>
    </ol>
    <p>Use this item with care. Once you are logged out, you will not have any way to log back in unless you have an
      active internet connection. Because of this, the Logout feature is disabled if OST Remote senses that
      your device does not have an active internet connection.</p>
    <p><strong>If your aid station does not have a reliable internet connection, make sure you are logged in before
      heading into the wilderness!</strong></p>
  </div>
</div>
