<div class="card">
  <h4 class="card-header">Cross Check</h4>
  <div class="card-body">
    <p>The Cross Check screen gives you an instant report summarizing the status of each bib number at your aid station.
      You will use Cross Check to verify that all runners have been recorded or otherwise accounted for at your
      station.</p>
    <p>Bib numbers are color coded to show status at a glance:</p>
    <ul>
      <li>Bibs recorded at your station are marked "Recorded" and shown in green</li>
      <li>Bibs that you recorded as not continuing from your station are marked "Stopped" and shown in red</li>
      <li>Bibs that did not start the event, or that stopped at a previous station, or that were missed at your station
        and recorded later, are marked “Not Expected” and shown in black
      </li>
      <li>All other bib numbers are marked "Expected" and shown in blue</li>
    </ul>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Automatic Flagging</h4>
  <div class="card-body">
    <p>Each time you visit the Cross Check screen, OST Remote will attempt to contact the OpenSplitTime servers. If you
      are operating with an internet connection, the servers will transmit information about participants all around the
      course, and OST Remote will use that information to automatically flag bibs as Expected or Not Expected. </p>
    <p><strong>If OST Remote is able to reach the servers, it will overwrite any manual flagging of Expected or Not
      Expected bib numbers you may have made within OST Remote.</strong> This is a good thing. The OpenSplitTime server
      will have the big picture and should be relied on as the ultimate source of truth. If the server is giving you
      incorrect information, you should contact headquarters and ask them to correct it via the website.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Manual Flagging</h4>
  <div class="card-body">
    <p>If you are operating without an internet connection, you can manually set bib numbers as Expected or Not
      Expected, based on information you receive from headquarters by other means, such as radio communications. For
      example, you might call and ask for a list of bib numbers that did not start, and you can mark each of these as
      "Not Expected" in your Cross Check screen.</p>
    <p>To change status, tap "Bulk Select," then tap the bib numbers you want to change, then tap "Expected" or "Not
      Expected" at the bottom of the screen. You can change an Expected bib number to Not Expected or vice versa. You
      cannot change the status of a bib number that is Recorded or Stopped, as these categories are determined solely by
      analyzing the data entered locally on your device.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Filtering</h4>
  <div class="card-body">
    <p>Using the buttons at the bottom of the Cross Check screen, you can filter bib numbers to show only a single
      category, such as only Expected or only Recorded. This makes it easy to determine which runners are not accounted
      for, particularly near the end of your aid station's shift.</p>
    <p>Use the grey "Show all" button in the lower right corner to return to showing all bib numbers.</p>
  </div>
</div>