<div class="card">
  <h4 class="card-header">The Timing Station</h4>
  <div class="card-body">
    <p>Success in any timing system depends on your ability to see what you need to see and not be distracted by what
      you don't need to see. You should set up your timing station with these principles in mind.</p>
    <p>Most timing crews find it useful to set up a dedicated timing station some distance away from the main aid
      station.
      <strong>You should try to be at least 20 feet away from restroom facilities, drop bag areas, food service areas,
        and crew meeting points.</strong> This ensures you will be able to record participants as they first come into
      the station,
      as opposed to when they are milling around trying to meet someone or use the bathroom. </p>
    <p>Make sure you have a good view up the course in the direction your participants are coming from, and set yourself
      up with all your timing necessities:</p>
    <ul>
      <li>A table and a chair or two</li>
      <li>Paper and pencil for a physical backup log</li>
      <li>Protection from sun, wind, and weather</li>
      <li>External battery and charging cable</li>
    </ul>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Managing Your Participants</h4>
  <div class="card-body">
    <p>Endurance athletes have a lot on their minds during a race, and it's the exception when they go out of their way
      to check in with a timing crew. You will need to design your timing station to make it easy for participants to do
      the right thing.</p>
    <p>The best case is to have a physical chute that participants must file through so that you can record bib numbers
      even if you get a group coming in all at once.</p>
    <p><strong>If you are recording times both in and out of the aid station</strong>, you can approach timing with one
      of two options:</p>
    <ol>
      <li>Set up a short out-and-back such that participants must pass the same point going into and out of the station,
        or
      </li>
      <li>Set up a timing station upstream to record incoming runners, and a separate timing station downstream to
        record outgoing participants
      </li>
    </ol>
    <p>The first option can be done with a single device running OST Remote. The second option will require two
      devices.</p>
  </div>
</div>
<br/>
