<div class="card">
  <h4 class="card-header">Change Station</h4>
  <div class="card-body">
    <p>If you move from one aid station to another during an event, or if you receive a device that someone else has
      been using at another aid station, you will need to switch to the correct aid station before recording times.</p>
    <p>Simply tap the Menu icon, tap "Change Station," select the correct aid station, tap "Done," and tap "Live Entry."</p>
  </div>
</div>
