<div class="card">
  <h4 class="card-header">Review / Sync</h4>
  <div class="card-body">
    <p><strong>Times entered in Live Entry exist only locally within the device until you sync the data
      using the Review/Sync screen.</strong> Prior to being synced, time entries cannot be seen by the timing crew
      at race headquarters or by anyone following the event online.</p>
    <p>This is both a blessing and a curse. On the upside, it allows you to review your data and make sure it is
      accurate before sending it to the OpenSplitTime server for processing. On the downside, it means you will need to
      think about reviewing and syncronizing your data early and often.</p>
    <p>At the bottom of the Review/Sync screen is a green Sync button. If any entries are not synced, you will see a
      red badge indicating how many unsynced times there are. Verify that the unsynced entries are correct, then tap
      the Sync button to sync time entries with the server.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Reviewing Your Data</h4>
  <div class="card-body">
    <p>The Review/Sync screen presents a list of all times you have entered using that device. The color of the entry
      and symbols shown with it indicate the status:</p>
    <ul>
      <li>Entries that <strong>have been synced</strong> are shown in <strong>green</strong></li>
      <li>Entries with <strong>known bib numbers that have not been synced</strong> are shown in <strong>black</strong>
      </li>
      <li>Entries with <strong>unknown bib numbers that have not been synced</strong> are shown in <strong>red</strong>
      </li>
      <li>Entries indicating the entrant is <strong>done</strong> will show a <strong>hand icon</strong></li>
      <li>Entries indicating the entrant is <strong>with a pacer</strong> will show a
        <strong>double-runner icon</strong> (this option is available only
        for races that elect to monitor pacers)
      </li>
    </ul>
    <p>You can sort your data by Time Entered, Time Displayed, Name, or Bib Number. To change the sort, touch the "Sort
      By" selector at the top of the screen and select a sort method using the scroll wheel at the bottom of the
      screen.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Syncing Your Data</h4>
  <div class="card-body">
    <p>If you have no internet connection available, you will need to sync data whenever you return to a location with a
      connection. If you have a spare device, you might be able to shuttle to an area with connectivity and use the
      spare device while the primary device is in transit. In the worst case, you will be able to sync data after
      the event is concluded.</p>
    <p>If you have an internet connection at your aid station, you should sync as often as reasonably possible. Remember
      that friends, family, and crews following online cannot see the runner times until you sync.
      <strong>Try not to let times sit for more than a few minutes without syncing</strong>.</p>
    <p>If the internet connection is poor, a sync may take several seconds to complete. If runners are approaching while
      a sync is going on, you can always tap “Return to Live Entry” and the sync will finish in the background.
      If the internet connection is intermittent, a sync may fail. Try again. Times will not be marked as “synced” in
      your device until OST Remote has received confirmation from the server that the sync was successful.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Editing Entries</h4>
  <div class="card-body">
    <p>You can edit an entry from the Review/Sync screen by tapping on the entry. If the entry has not been synced, you
      can edit the entry directly. If the entry has already been synced, you can create a duplicate entry and edit the
      duplicate.</p>
    <p>
      <strong>If you make a mistake, you should edit the faulty entry through the Review/Sync screen instead of creating
        a new entry through the Live Entry screen</strong>. To edit, go to Review/Sync and tap the entry in question.
    </p>
    <p>If the entry has not been synced, you can update or delete the entry, or tap "Cancel" to return to Review/Sync
      without making changes.</p>
    <p>If the entry has already been synced, OST Remote will ask you to verify that you want to create a duplicate. Tap
      "Yes," OST Remote will create a new entry, and you will be taken to the Edit screen. Once there, you can change
      duplicate entry as needed and tap "Create New Entry" when finished. You can tap "Cancel" to return to Review/Sync
      without saving the duplicate entry. To maintain data integrity,
      <strong>OST Remote does not allow an entry to be deleted after it has been synced</strong>.</p>
  </div>
</div>
<br/>
