<div class="card">
  <h4 class="card-header">Revealing and Hiding the Main Menu</h4>
  <div class="card-body">
    <p>Let's start by getting familiar with the Main Menu. You can reveal the Main Menu in either of two ways:</p>
    <ol>
      <li>In the upper right corner you should see the word "Menu" with a stack icon next to it. Tap the
        word or the icon.
      </li>
      <li>From anywhere in the app, touch the screen and swipe to the left.</li>
    </ol>
    <p>You can hide the Main Menu by tapping "Close" or by swiping back to the right.</p>
    <p>Practice revealing and hiding the Main Menu using both methods to see which works better for you.
      <strong>You want this action to feel like second nature</strong>, as you will need to use it quite often
      during
      your time entry shift.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Main Menu Items</h4>
  <div class="card-body">
    <p>The Main Menu has five items:</p>
    <ol>
      <li><strong>Live Entry</strong>: For live time entry. You will spend most of your time on this screen.</li>
      <li><strong>Review/Sync</strong>: Where you review entries and sync them with the server.</li>
      <li><strong>Cross Check</strong>: An overview of all the bib numbers and their status at your aid station.
      </li>
      <li><strong>Change Station</strong>: Use this if your device is moving from one aid station to another.</li>
      <li><strong>Logout</strong>: Use this only if you need to change to a different event or log in as a
        different
        user.
      </li>
    </ol>
    <p>We'll go over each menu item in detail in the next few pages.</p>
  </div>
</div>
