<div class="card">
  <h4 class="card-header">Selecting your Event</h4>
  <div class="card-body">
    <p>When you log in, you will see a list of events that are available for live entry and that you are
      authorized to enter time for. Select your event and tap "Done."</p>
    <p>If you don't see the event you were expecting, or if you don't see any events at all, check with
      your race director or volunteer coordinator to make sure that:</p>
    <ol>
      <li>Your username has been added as a Steward for the organization (<strong>Organization > Stewards > Add
        Steward</strong>), and
      </li>
      <li>Live Entry has been enabled for the event in question (<strong>Admin > Settings > Enable Live</strong>)
      </li>
    </ol>
    <p><strong>Only the owner of an organization can add a Steward or enable live entry for that organization's
      events.</strong></p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Selecting your Aid Station</h4>
  <div class="card-body">
    <p>Now select the aid station at which you will be recording times, then tap "Done." Double-check that you
      selected the correct aid station, and then tap "Begin Live Entry." OST Remote will download the names, bib
      numbers, and other information for all entrants in the event. Depending on the speed of your internet
      connection, downloading event data could take several seconds to complete.</p>
    <p>Once the information is downloaded, you will see the Live Entry screen.</p>
    <p>After completing this step, OST Remote has all the information it needs for you to enter times whether or
      not you have an internet connection.<strong> If your aid station has no internet service, you will need to
      complete these two steps while you still have a data connection, before you travel to your aid station.
    </strong></p>
  </div>
</div>
