<div class="card">
  <h4 class="card-header">The Timer's Role</h4>
  <div class="card-body">
    <p>A time entry volunteer while on duty
      <strong>should have one role only and should be free from distractions</strong>. Timing an
      endurance event is terribly dull right up to the moment when it becomes busy and stressful. To gather accurate
      data, timing volunteers must be familiar with OST Remote and must remain focused on that role.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Multiple Timers</h4>
  <div class="card-body">
    <p>For a timing station with any sort of volume, it is difficult for one volunteer to handle the job alone. If you
      have enough volunteers, consider putting two dedicated timers at each timing station. If you have only one device
      available, one volunteer can run OST Remote while the other volunteer keeps a physical log with paper and
      pencil.</p>
    <p>If you have two devices available, it can be helpful to run OST Remote on both in parallel. If volume is high,
      you are more likely not to miss anyone if both timers are doing their best to record all participants as they come
      through. Or you can use a dedicated device, such as an iPad owned by the race organization, as the primary device
      for syncing, and a secondary device, such as a personal iPhone, to keep a backup record for verification against
      the primary.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Spotters</h4>
  <div class="card-body">
    <p>A single person operating OST Remote can generally record between 5 and 7 bibs per minute, depending on
      familiarity with the system. An experienced and focused operator may be able to handle as many as 10 or 12 entries
      per minute for short periods of time. But these rates can be stressful, and <strong>a spotter or two can
      provide much-needed relief</strong>.</p>
    <p>A spotter is a dedicated volunteer stationed upstream of the timing station, generally about 30 to 50 feet away
      from the OST Remote operator. Spotters call out the bib numbers as soon as they are able to see them. As soon as
      your spotter calls out a bib number, you can tap it into the Live Entry screen. If participants
      are trickling in slowly, you should have time to check the name and verify it with a cheerful shout out: "Hey,
      131, are you Carrie Newson? Nice job, keep it up, go git 'er done!"</p>
    <p>If you have a large group coming in close together, you may not be able to verify each individual name. Just
      listen for the spotter and start entering bib numbers. Don't wait until each person arrives at your timing
      station; entering the time a few seconds early won't make any difference. (The exception to this rule is at the
      finish, where you will need to be as accurate as possible--see the next section.) At interim aid stations, the
      important thing is to get all of the bib numbers in accurately.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Rapid Record Then Edit</h4>
  <div class="card-body">
    <p>Sometimes you are faced with a large group and there is simply no way to enter all the bibs quickly enough. When
      this happens, you can just tap the submit button in rapid succession, once for each person, without entering any
      bib number at all. This preserves the times, allowing you to go back and enter bib numbers to match the times.</p>
    <p>For example, say you are at the finish line and a pack of four runners comes through in close proximity. If
      possible, try to read the leader's bib number, then enter it and tap the submit button. Now tap the submit button
      three more times exactly as each runner comes through. Get another volunteer to ask the bib numbers of all four
      finishers and write them down for you in order. Then go to your Review/Sync screen and edit each time entry,
      adding the missing bib numbers to the correct time entries.</p>
  </div>
</div>
<br/>

<div class="card">
  <h4 class="card-header">Paper Logs</h4>
  <div class="card-body">
    <p>Regardless of your timing situation, <strong>you should always keep a paper timing log</strong>. Electronic
      wizardry is amazing until it falls in the creek or goes dead at peak traffic hour. Do not rely exclusively on
      devices for your timing needs, particularly if you have only one device for that purpose.</p>
  </div>
</div>
<br/>
