<div class="card">
  <h4 class="card-header">Overview</h4>
  <div class="card-body">
    <p>
        This guide will walk you through the steps to connect a RaceResult event to OpenSplitTime
        using RaceResult&#39;s webhook functionality. By following the instructions below, you can
        set up a live data feed from RaceResult to OpenSplitTime, allowing you to leverage
        OpenSplitTime&#39;s features while using RaceResult for timing and data management.
    </p>
    <p>
        This guide will cover the following steps:
    </p>
    <ol>
        <li>Opening the target event in RaceResult</li>
        <li>Setting the event name to match OpenSplitTime</li>
        <li>Configuring timing points to match OpenSplitTime aid stations</li>
        <li>Connecting and mapping decoders to timing points</li>
        <li>Creating an exporter to send data to OpenSplitTime</li>
        <li>Activating the exporter to start sending live data</li>
        <li>Confirming that data is being delivered to OpenSplitTime</li>
    </ol>
    <p>
      For full details, open <strong>Webhook Setup</strong> in the sidebar and select
      <strong>Configuration Steps</strong>.
    </p>
  </div>
</div>
<br/>

