<div class ="container">
  <footer class ="footer">
    <small>
      Copyright &copy; OpenSplitTime Company</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Get Started", getting_started_path %></li>
        <li><%= link_to "Donate", donations_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </footer>
</div>