<div class="modal fade"
     tabindex="-1"
     data-controller="form-modal"
     data-action="turbo:frame-load->form-modal#open
                  turbo:submit-end->form-modal#close
                  turbo:submit-end->form-modal#conditionalReload
                  shown.bs.modal->form-modal#autofocus"
>
  <div class="modal-dialog" data-form-modal-target="resizedElement">
    <div class="modal-content">
      <%= turbo_frame_tag "form_modal" %>
    </div>
  </div>
</div>
