<div class="modal fade"
     tabindex="-1"
     data-controller="modal"
     data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= turbo_frame_tag "form_modal" %>
    </div>
  </div>
</div>
