<div class="modal fade"
     tabindex="-1"
     data-controller="form-modal"
     data-action="turbo:frame-load->form-modal#open turbo:submit-end->form-modal#close shown.bs.modal->form-modal#autofocus">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "form_modal_large" %>
    </div>
  </div>
</div>
