<%# Rails flash messages styled for Bootstrap %>

<div id="messages" class="flash">
  <% if flash.present? %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> alert-dismissible fade show mb-0" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
</div>
